#@ucenter_layout()
#define script()
<script>


</script>

#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            余额提现
            <small>Payout List</small>
        </h1>
    </section>

    <section class="content-header text-tap">
        <a href="#(CPATH)/ucenter/finance/amount/payout">全部 (#(totalCount ?? 0))</a> |
        <a href="?status=1">提现中 (#(payingCount ?? 0))</a> |
        <a href="?status=9">已成功 (#(successCount ?? 0))</a> |
        <a href="?status=2" style="color: #a00">已拒绝 (#(refuseCount ?? 0))</a>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="payoutsubmit" class="btn btn-primary ">
                                    <i class="fa fa-fw fa-plus"></i> 新建申请
                                </a>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 150px">真实名字</th>
                                <th style="width: 100px">提现金额</th>
                                <th style="width: 70px">手续费</th>
                                <th>支付类型</th>
                                <th>支付账号</th>
                                <th style="width: 150px">状态</th>
                                <th style="width: 80px">操作</th>
                            </tr>

                            #for(item : page.list ??)
                            <tr class="jp-actiontr">
                                <td>
                                    #(item.user_real_name)
                                </td>
                                <td>
                                    #number(item.amount,"0.00")
                                </td>
                                <td>
                                    #number(item.fee,"0.00")
                                </td>
                                <td>
                                    #(item.payTypeStr ??)
                                </td>
                                <td>
                                    #(item.pay_to ??)
                                </td>
                                <td>
                                    #(item.statusStr ??)
                                </td>
                                <td>
                                    <a href="#(CPATH)/ucenter/finance/amount/payoutdetail/#(item.id)">详情</a>
                                </td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
