#@ucenter_layout()
#define script()
<script>


</script>

#end

#define content()
    <section class="content-header">
        <h1>
            余额提现
            <small>Payout List</small>
        </h1>
    </section>

    <section class="content-header text-tap">
        <a href="#(CPATH)/ucenter/finance/amount/payout">全部 (#(totalCount ?? 0))</a> |
        <a href="?status=1">提现中 (#(payingCount ?? 0))</a> |
        <a href="?status=9">已成功 (#(successCount ?? 0))</a> |
        <a href="?status=2" style="color: #a00">已拒绝 (#(refuseCount ?? 0))</a>
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">
                    <div class="card-header with-border">

                        <div class="row admin-search-panel">
                            <div class="col-xs-12">
                                <a href="payoutsubmit" class="btn btn-primary ">
                                    <i class="fa fa-fw fa-plus"></i> 新建申请
                                </a>
                            </div>
                        </div>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 150px">真实名字</th>
                                <th style="width: 100px">提现金额</th>
                                <th style="width: 70px">手续费</th>
                                <th>支付类型</th>
                                <th>支付账号</th>
                                <th style="width: 150px">状态</th>
                                <th style="width: 80px">操作</th>
                            </tr>

                            #for(item : page.list ??)
                            <tr>
                                <td>
                                    #(item.user_real_name)
                                </td>
                                <td>
                                    #number(item.amount,"0.00")
                                </td>
                                <td>
                                    #number(item.fee,"0.00")
                                </td>
                                <td>
                                    #(item.payTypeStr ??)
                                </td>
                                <td>
                                    #(item.pay_to ??)
                                </td>
                                <td>
                                    #(item.statusStr ??)
                                </td>
                                <td>
                                    <a href="#(CPATH)/ucenter/finance/amount/payoutdetail/#(item.id)">详情</a>
                                </td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input tableCheckAll" type="checkbox" >
                                            <label class="form-check-label" for="checkall">全选</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select class="form-control" name="action">
                                            <option value="">请选择...</option>
                                            <option value="doDelByIds" open-type="del-confirm">
                                                批量删除
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
    </section>
#end
