#@ucenter_layout()

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            提现申请
            <small>Payout Submit</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">


                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" autocomplete="off">
                        <div class="box-body ">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">当前状态</label>
                                <div class="col-sm-7" style="padding: 7px 14px;font-size: 14px">
                                    #(payout.statusStr ??)
                                </div>
                            </div>

                            #if(payout.isRefuse())
                            <div class="form-group">
                                <label class="col-sm-2 control-label">拒绝原因</label>
                                <div class="col-sm-7 form-text">
                                    #(payout.feedback ??)
                                </div>
                            </div>
                            #end

                            #if(payout.isSuccess())
                            <div class="form-group">
                                <label class="col-sm-2 control-label">凭证</label>
                                <div class="col-sm-7">
                                    <img src="#(payout.pay_success_proof)" style="max-width: 100%">
                                </div>
                            </div>
                            #end


                            <div class="form-group">
                                <label class="col-sm-2 control-label">提现金额</label>
                                <div class="col-sm-7">
                                    <input type="input" class="form-control"  value="#number(payout.amount,'0.00')" readonly>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证号码</label>
                                <div class="col-sm-7">
                                    <input type="input" class="form-control"  value="#(payout.user_idcard ??)" readonly>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证姓名</label>
                                <div class="col-sm-7">
                                    <input type="input" class="form-control"  value="#(payout.user_real_name ??)" readonly>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">提现到</label>
                                <div class="col-sm-7">
                                    <input type="input" class="form-control"  value="#(payout.payTypeStr ??)" readonly>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">收款账号</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control"  value="#(payout.pay_to ??)" readonly>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-7">
                                    <textarea rows="3" class="form-control" readonly>#(payout.remarks ??)</textarea>
                                </div>
                            </div>



                        </div>

                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="button" onclick="history.back()" class="btn btn-primary">返回</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </section>

</div>
#end
