<aside class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="javascript:;" class="brand-link">
        <img src="#(APP_LOGO_PATH ??)" class="brand-image"
             style="opacity: .8">
        <span class="brand-text font-weight-light">#(APP_NAME ??)</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        #@leftMenuTopPanel?()


        <!--在 adminlte 3.0.5 中，搜索的 html 必须存在，否则会有 js 错误-->
        <div class="form-inline" style="display: none">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <nav class="mt-2" style="padding: 10px 0">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy text-sm" data-widget="treeview" role="menu"
                data-accordion="false" id="sidebar-menu">

                #for(group : moduleMenuGroups)
                #hasPermission(group.permission)
                <li class="nav-item  id="#(group.id ??)">
                <a href="#" class="nav-link">
                    #if(group.icon ??)
                    #(group.icon)
                    #else
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    #end
                    <p>
                        #(group.text ??)
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    #for(item : group.items)
                    #hasPermission(item.permission)
                    <li class="nav-item" id="#(chiitemldMenu.id ??)">
                        <a href="#(item.url ??)" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p> #(item.text ??)</p>
                        </a>
                    </li>
                    #end
                    #end
                </ul>
                </li>
                #end
                #end





                <li class="nav-header">系统管理</li>


                #for(group : systemMenuGroups)
                #hasPermission(group.permission)
                <li class="nav-item  id="#(group.id ??)">
                <a href="#" class="nav-link">
                    #if(group.icon ??)
                    #(group.icon)
                    #else
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    #end
                    <p>
                        #(group.text ??)
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    #for(item : group.items)
                    #hasPermission(item.permission)
                    <li class="nav-item" id="#(chiitemldMenu.id ??)">
                        <a href="#(item.url ??)" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p> #(item.text ??)</p>
                        </a>
                    </li>
                    #end
                    #end
                </ul>
                </li>
                #end
                #end




                #@leftBottomMenus?()

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- ./ sidebar -->