#@layer()

#define content()

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal form-setting autoAjaxSubmit" autocomplete="off"
                  action="#(CPATH)/ucenter/order/doAddMessage"
                  method="POST"
                  data-ok-function="parent.layer.closeAll()"
            >
                <input type="hidden" name="orderId" value="#(order.id ??)">
                <div class="box-body ">



                    <div class="form-group">
                        <label class="col-sm-2 control-label">留言信息</label>
                        <div class="col-sm-8">
                            <textarea rows="5" name="message" class="form-control"
                                              placeholder="留言信息...">#(order.buyer_msg ??)</textarea>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-sm-offset-9 col-sm-2 submit-block">
                        <div class="box-submit">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>

</section>

#end
