<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章预览</title>
    <link rel="shortcut icon" href="#(CPATH)/static/commons/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="#(CPATH)/static/components/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/components/bootstrap-font/bootstrap-icons.css">
    <link rel="stylesheet" href="#(CPATH)/static/components/switchery/switchery.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/components/toastr/toastr.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/admin/css/jpressadmin.css">
    <link rel="stylesheet" href="#(CPATH)/static/admin/css/articlepreview.css">

    <!--[if lt IE 9]>
    <script src="#(CPATH)/static/components/html5shiv/html5shiv.min.js"></script>
    <script src="#(CPATH)/static/components/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>
    <div class="preview-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="preview-logo clearfix">
                <img src="images/gslogo.png" alt="" class="pl-2">
                <div class="dropmenue">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        模板推荐
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">模板一</a>
                        <a class="dropdown-item" href="#">模板二</a>
                        <a class="dropdown-item" href="#">模板三</a>
                    </div>
                </div>
            </div>
            <ul class="preview-media clearfix">
                <li><i class="bi bi-laptop"></i></li>
                <li><i class="bi bi-phone-landscape"></i></li>
                <li><i class="bi bi-phone"></i></li>
            </ul>
            <div class="preview-close">
                <button class="btn btn-parimary">立即购买</button>
                <span class="pl-2 pr-2"><i class="bi bi-x"></i></span>
            </div>
        </div>
    </div>

    <!-- Iframe Container -->
    <div id="iframe-container" class="desktop">
        <div class="inner">
            <iframe width="100%" height="100%" class="iframe-link"
                    src="http://www.jpress.cn"></iframe>
        </div><!--/ inner -->
    </div><!--/ Iframe Container -->

</div>
<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/components/jquery/jquery.form.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/jquery.validate.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/additional-methods.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/localization/messages_zh.min.js"></script>
<script src="#(CPATH)/static/components/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="#(CPATH)/static/components/fastclick/fastclick.js"></script>
<script src="#(CPATH)/static/components/layer/layer.js"></script>
<script src="#(CPATH)/static/components/switchery/switchery.min.js"></script>
<script src="#(CPATH)/static/components/toastr/toastr.min.js"></script>
<script src="#(CPATH)/static/components/air-datepicker/js/datepicker.min.js"></script>
<script src="#(CPATH)/static/components/air-datepicker/js/i18n/datepicker.zh.js"></script>
<script src="#(CPATH)/static/components/sweetalert2/sweetalert2.all.min.js"></script>
<script src="#(CPATH)/static/adminlte/js/adminlte.min.js"></script>
<script src="#(CPATH)/static/admin/js/jpressutils.js"></script>
<script src="#(CPATH)/static/admin/js/jpressadmin.js"></script>
</body>
</html>