
	#@layout()
	#define css()
	#@layout_css?()
	<link rel="stylesheet" href="#(CPATH)/static/components/datepicker/css/bootstrap-datepicker3.min.css">
	#end
	#define script()
	#@layout_script?()
	<script src="#(CPATH)/static/components/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="#(CPATH)/static/components/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
	<script>
		$("input[hint='date']").datepicker({
	        format: 'yyyy-mm-dd',
	        language: 'zh-CN'
	    });
	    
	  function doSubmit() {
        ajaxSubmit("#form", function (data) {
            $("#entryId").attr("value", data.id);
            toastr.success('内容保存成功。');
        })
      }  
    
	    $("#submit").on("click", function () {
	        doSubmit();
	    }) 
	    </script>
		#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
                        编辑/新增
            <small>Edit</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <form class="form-horizontal form-setting" autocomplete="off"
                          action="/admin/coupon_code/doSave"
                          method="POST" id="form">
                        
                        <div class="box-body ">
	                                <input type="hidden" id="entryId" name="couponCode.id" value="#(couponCode.id ??)">
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">类型ID</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="couponCode.coupon_id" class="form-control" value="#(couponCode.coupon_id ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="couponCode.title" class="form-control" value="#(couponCode.title ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">优惠码</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="couponCode.code" class="form-control" value="#(couponCode.code ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">用户ID</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="couponCode.user_id" class="form-control" value="#(couponCode.user_id ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">领取时间</label>
		                                <div class="col-sm-6">
		                                 
										    <input type="input" class="form-control datetimepicker" placeholder="点击选择"
		                       						name="couponCode.valid_time" value="#date(couponCode.valid_time ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">状态 0未领取 1未使用、2使用中、3已经使用</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="couponCode.status" class="form-control" value="#(couponCode.status ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										    <input type="input" class="form-control datetimepicker" placeholder="点击选择"
		                       						name="couponCode.created" value="#date(couponCode.created ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button id="submit" type="button" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end