  #@layout()
	
	#define script()
	<script>
	
	    function doDel(id) {
	        ajaxGet("/admin/payment_record/doDel/" + id);
	    }
	
	    $("#batchDel").click(function () {
	        var ids = getSelectedIds();
	        if (ids == "") {
	            alert('您未选择任何条目');
	            return
	        }
	        ajaxGet("/admin/payment_record/doDelByIds?ids=" + ids);
	    })
	
	
	</script>
	#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            管理
            <small>Items</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="payment_record/edit" class="btn btn-primary ">
                                    <i class="fa fa-fw fa-plus"></i> 新建
                                </a>
                                <button type="submit" id="batchDel" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
	                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox"/>
	                                </th>
	                                <th>id</th>
	                                <th></th>
	                                <th></th>
	                                <th>商品名称</th>
	                                <th>支付流水号</th>
	                                <th>交易业务类型  ：消费、充值等</th>
	                                <th></th>
	                                <th>付款人编号</th>
	                                <th>付款人名称</th>
	                                <th>付款方手续费</th>
	                                <th>下单ip(客户端ip,从网关中获取)</th>
	                                <th>从哪个页面链接过来的(可用于防诈骗)</th>
	                                <th>订单来源</th>
	                                <th>支付状态</th>
	                                <th>支付类型编号</th>
	                                <th>支付银行类型</th>
	                                <th>订单金额</th>
	                                <th>成功支付金额</th>
	                                <th>支付成功时间</th>
	                                <th>完成时间</th>
	                                <th>退款流水号</th>
	                                <th></th>
	                                <th>退款描述</th>
	                                <th>退款时间</th>
	                                <th>微信appid 或者 支付宝的appid，thirdparty 指的是支付的第三方比如微信、支付宝、PayPal等</th>
	                                <th>商户号</th>
	                                <th>交易类型</th>
	                                <th></th>
	                                <th></th>
	                                <th>备注</th>
	                                <th>状态(支付中、支持成功、支付失败、退款中、退款成功)</th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
                                
                            </tr>
                            #for(entry : page.list)
                            <tr class="jp-actiontr">
                                <td><input class="dataItem" type="checkbox" value="#(entry.id)" />
                                </td>
                                <td>
                                    <strong>
                                        <a href="#(CPATH)/admin/shop/payment_record/edit/#(entry.id)"> #(entry.id ??) </a>
                                    </strong>
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="/admin/shop/payment_record/edit/#(entry.id)">编辑</a> |
                                            <a href="javascript:;" class="red-action"
                                               onclick="doDel('#(entry.id)')">删除</a>
                                        </div>
                                    </div>
                                </td>
                                    
	                                <td>#(entry.product_type)</td>
	                                <td>#(entry.product_id)</td>
	                                <td>#(entry.product_name)</td>
	                                <td>#(entry.trx_no)</td>
	                                <td>#(entry.trx_type)</td>
	                                <td>#(entry.trx_nonce_str)</td>
	                                <td>#(entry.payer_user_id)</td>
	                                <td>#(entry.payer_name)</td>
	                                <td>#(entry.payer_fee)</td>
	                                <td>#(entry.order_ip)</td>
	                                <td>#(entry.order_referer_url)</td>
	                                <td>#(entry.order_from)</td>
	                                <td>#(entry.pay_status)</td>
	                                <td>#(entry.pay_type)</td>
	                                <td>#(entry.pay_bank_type)</td>
	                                <td>#(entry.pay_amount)</td>
	                                <td>#(entry.pay_success_amount)</td>
	                                <td>#(entry.pay_success_time)</td>
	                                <td>#(entry.pay_complete_time)</td>
	                                <td>#(entry.refund_no)</td>
	                                <td>#(entry.refund_amount)</td>
	                                <td>#(entry.refund_desc)</td>
	                                <td>#(entry.refund_time)</td>
	                                <td>#(entry.thirdparty_appid)</td>
	                                <td>#(entry.thirdparty_mch_id)</td>
	                                <td>#(entry.thirdparty_trade_type)</td>
	                                <td>#(entry.thirdparty_transaction_id)</td>
	                                <td>#(entry.thirdparty_user_openid)</td>
	                                <td>#(entry.remark)</td>
	                                <td>#(entry.status)</td>
	                                <td>#(entry.created)</td>
	                                <td>#(entry.modified)</td>
	                                <td>#(entry.field1)</td>
	                                <td>#(entry.field2)</td>
	                                <td>#(entry.field3)</td>
	                                <td>#(entry.field4)</td>
	                                <td>#(entry.field5)</td>
	                                <td>#(entry.field6)</td>
	                                <td>#(entry.field7)</td>
	                                <td>#(entry.field8)</td>
	                                <td>#(entry.field9)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            	 #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
</div>
#end