
	#@layout()
	#define css()
	#@layout_css?()
	<link rel="stylesheet" href="#(CPATH)/static/components/datepicker/css/bootstrap-datepicker3.min.css">
	#end
	#define script()
	#@layout_script?()
	<script src="#(CPATH)/static/components/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="#(CPATH)/static/components/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
	<script>
		$("input[hint='date']").datepicker({
	        format: 'yyyy-mm-dd',
	        language: 'zh-CN'
	    });
	    
	  function doSubmit() {
        ajaxSubmit("#form", function (data) {
            $("#entryId").attr("value", data.id);
            toastr.success('内容保存成功。');
        })
      }  
    
	    $("#submit").on("click", function () {
	        doSubmit();
	    }) 
	    </script>
		#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
                        编辑/新增
            <small>Edit</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <form class="form-horizontal form-setting" autocomplete="off"
                          action="/admin/payment_record/doSave"
                          method="POST" id="form">
                        
                        <div class="box-body ">
	                                <input type="hidden" id="entryId" name="paymentRecord.id" value="#(paymentRecord.id ??)">
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.product_type" class="form-control" value="#(paymentRecord.product_type ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.product_id" class="form-control" value="#(paymentRecord.product_id ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">商品名称</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.product_name" class="form-control" value="#(paymentRecord.product_name ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">支付流水号</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.trx_no" class="form-control" value="#(paymentRecord.trx_no ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">交易业务类型  ：消费、充值等</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.trx_type" class="form-control" value="#(paymentRecord.trx_type ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.trx_nonce_str" class="form-control" value="#(paymentRecord.trx_nonce_str ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">付款人编号</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.payer_user_id" class="form-control" value="#(paymentRecord.payer_user_id ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">付款人名称</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.payer_name" class="form-control" value="#(paymentRecord.payer_name ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">付款方手续费</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.payer_fee" class="form-control" value="#(paymentRecord.payer_fee ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">下单ip(客户端ip,从网关中获取)</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.order_ip" class="form-control" value="#(paymentRecord.order_ip ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">从哪个页面链接过来的(可用于防诈骗)</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.order_referer_url" class="form-control" value="#(paymentRecord.order_referer_url ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">订单来源</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.order_from" class="form-control" value="#(paymentRecord.order_from ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">支付状态</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.pay_status" class="form-control" value="#(paymentRecord.pay_status ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">支付类型编号</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.pay_type" class="form-control" value="#(paymentRecord.pay_type ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">支付银行类型</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.pay_bank_type" class="form-control" value="#(paymentRecord.pay_bank_type ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">订单金额</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.pay_amount" class="form-control" value="#(paymentRecord.pay_amount ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">成功支付金额</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.pay_success_amount" class="form-control" value="#(paymentRecord.pay_success_amount ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">支付成功时间</label>
		                                <div class="col-sm-6">
		                                 
										    <input type="input" class="form-control datetimepicker" placeholder="点击选择"
		                       						name="paymentRecord.pay_success_time" value="#date(paymentRecord.pay_success_time ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">完成时间</label>
		                                <div class="col-sm-6">
		                                 
										    <input type="input" class="form-control datetimepicker" placeholder="点击选择"
		                       						name="paymentRecord.pay_complete_time" value="#date(paymentRecord.pay_complete_time ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">退款流水号</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.refund_no" class="form-control" value="#(paymentRecord.refund_no ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.refund_amount" class="form-control" value="#(paymentRecord.refund_amount ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">退款描述</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.refund_desc" class="form-control" value="#(paymentRecord.refund_desc ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">退款时间</label>
		                                <div class="col-sm-6">
		                                 
										    <input type="input" class="form-control datetimepicker" placeholder="点击选择"
		                       						name="paymentRecord.refund_time" value="#date(paymentRecord.refund_time ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">微信appid 或者 支付宝的appid，thirdparty 指的是支付的第三方比如微信、支付宝、PayPal等</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.thirdparty_appid" class="form-control" value="#(paymentRecord.thirdparty_appid ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">商户号</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.thirdparty_mch_id" class="form-control" value="#(paymentRecord.thirdparty_mch_id ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">交易类型</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.thirdparty_trade_type" class="form-control" value="#(paymentRecord.thirdparty_trade_type ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.thirdparty_transaction_id" class="form-control" value="#(paymentRecord.thirdparty_transaction_id ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.thirdparty_user_openid" class="form-control" value="#(paymentRecord.thirdparty_user_openid ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">备注</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.remark" class="form-control" value="#(paymentRecord.remark ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label">状态(支付中、支持成功、支付失败、退款中、退款成功)</label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.status" class="form-control" value="#(paymentRecord.status ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										    <input type="input" class="form-control datetimepicker" placeholder="点击选择"
		                       						name="paymentRecord.created" value="#date(paymentRecord.created ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										    <input type="input" class="form-control datetimepicker" placeholder="点击选择"
		                       						name="paymentRecord.modified" value="#date(paymentRecord.modified ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field1" class="form-control" value="#(paymentRecord.field1 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field2" class="form-control" value="#(paymentRecord.field2 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field3" class="form-control" value="#(paymentRecord.field3 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field4" class="form-control" value="#(paymentRecord.field4 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field5" class="form-control" value="#(paymentRecord.field5 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field6" class="form-control" value="#(paymentRecord.field6 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field7" class="form-control" value="#(paymentRecord.field7 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field8" class="form-control" value="#(paymentRecord.field8 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-2 control-label"></label>
		                                <div class="col-sm-6">
		                                 
										   <input type="input" name="paymentRecord.field9" class="form-control" value="#(paymentRecord.field9 ??)"
		                                           placeholder="">
		                                </div>
		                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button id="submit" type="button" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end