  #@layout()
	
	#define script()
	<script>
	
	    function doDel(id) {
	        ajaxGet("/admin/user_order/doDel/" + id);
	    }
	
	    $("#batchDel").click(function () {
	        var ids = getSelectedIds();
	        if (ids == "") {
	            alert('您未选择任何条目');
	            return
	        }
	        ajaxGet("/admin/user_order/doDelByIds?ids=" + ids);
	    })
	
	
	</script>
	#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            管理
            <small>Items</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="user_order/edit" class="btn btn-primary ">
                                    <i class="fa fa-fw fa-plus"></i> 新建
                                </a>
                                <button type="submit" id="batchDel" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
	                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox"/>
	                                </th>
	                                <th></th>
	                                <th>订单号</th>
	                                <th>购买人</th>
	                                <th>交易状态： 0进行中、1完成  、2取消交易 、3退款中  、4退款完成</th>
	                                <th>支付状态：0未付款、1已经付款（线上支付）、2线下付款、3线下付款已经收款 、4通信工具打款，5通信工具打款已收款</th>
	                                <th>分销员</th>
	                                <th>分销金额</th>
	                                <th>订单金额</th>
	                                <th>优惠码</th>
	                                <th>优惠金额</th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th>第三方订单号</th>
	                                <th></th>
	                                <th></th>
	                                <th>配送方式 1快递    2自己送     3无需配送（虚拟商品）</th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
	                                <th></th>
                                
                            </tr>
                            #for(entry : page.list)
                            <tr class="jp-actiontr">
                                <td><input class="dataItem" type="checkbox" value="#(entry.id)" />
                                </td>
                                <td>
                                    <strong>
                                        <a href="#(CPATH)/admin/shop/user_order/edit/#(entry.id)"> #(entry.id ??) </a>
                                    </strong>
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="/admin/shop/user_order/edit/#(entry.id)">编辑</a> |
                                            <a href="javascript:;" class="red-action"
                                               onclick="doDel('#(entry.id)')">删除</a>
                                        </div>
                                    </div>
                                </td>
                                    
	                                <td>#(entry.ns)</td>
	                                <td>#(entry.buyer_id)</td>
	                                <td>#(entry.trade_status)</td>
	                                <td>#(entry.pay_status)</td>
	                                <td>#(entry.dist_id)</td>
	                                <td>#(entry.dist_amount)</td>
	                                <td>#(entry.order_amount)</td>
	                                <td>#(entry.coupon_no)</td>
	                                <td>#(entry.coupon_amount)</td>
	                                <td>#(entry.pay_amount)</td>
	                                <td>#(entry.pay_time)</td>
	                                <td>#(entry.payment_id)</td>
	                                <td>#(entry.payment_outer_no)</td>
	                                <td>#(entry.created)</td>
	                                <td>#(entry.modified)</td>
	                                <td>#(entry.delivery_type)</td>
	                                <td>#(entry.delivery_company)</td>
	                                <td>#(entry.delivery_no)</td>
	                                <td>#(entry.delivery_start_time)</td>
	                                <td>#(entry.delivery_finish_time)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            	 #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
</div>
#end