**/target/
*/jpress-addon-club/
*/jpress-addon-articlemeta/
*/jpress-addon-spider/
starter-dev/
.idea
*.iml
.project
.settings
jboot.properties
install.lock
*.jar
*.log
.logs
logs
*.iws
*.classpath
.DS_Store
*.patch
~$*
*/*.jar
**/NewJPress/
**/BewTo/
dbuild.sh

