**/target/
**/.vuepress/dist/
**/ossutil_output/
**/node_modules/
*/jpress-addon-club/
*/jpress-addon-articlemeta/
*/jpress-addon-wechatlogin/
*/jpress-addon-wtask/
*/jpress-addon-dcode/
*/jpress-addon-smartprogram/
*/jpress-addon-keygen/
starter-dev/
starter-ent/
.idea
*.iml
.project
.settings
starter/**/jboot.properties
starter-tomcat/**/jboot.properties
install.lock
*.jar
*.log
.logs
logs
*.iws
*.classpath
.DS_Store
*.patch
~$*
*/*.jar
docker_volumes/
package-lock.json
yarn.lock
