#@layout()

#define script()
<script>

    function trash(id) {
        ajaxGet("#(CPATH)/admin/page/doTrash/" + id);
    }


    function draft(id) {
        ajaxGet("#(CPATH)/admin/page/doDraft/" + id);
    }

    function normal(id) {
        ajaxGet("#(CPATH)/admin/page/doNormal/" + id);
    }

    function del(id) {
        if (confirm("确定要删除该页面吗？删除后不可恢复")) {
            ajaxGet("#(CPATH)/admin/page/doDel/" + id);
        }
    }

    $("#batchDel").click(function () {
        var ids = getSelectedIds();
        if (ids == "") {
            alert('您未选择任何内容');
            return
        }
        if (confirm("确定要删除选中页面吗？删除后不可恢复")) {
            ajaxGet("#(CPATH)/admin/page/doDelByIds?ids=" + ids);
        }
    })

</script>

#end


#define content()
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                页面管理
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 页面 / 页面管理</small>
                            </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6" style="padding-top: 20px">
                            <a href="#(CPATH)/admin/page">全部 (#(totalCount ??))</a> |
                            <a href="?status=normal">已发布 (#(normalCount ??))</a> |
                            <a href="?status=draft">草稿 (#(draftCount ?? 0))</a> |
                            <a href="?status=trash" style="color: #a00">垃圾箱 (#(trashCount ?? 0))</a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 ">
                    <div class=" float-sm-right" style="padding-top: 45px">
                        <a href="#(CPATH)/admin/page/write" type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i>新建</a>
                    </div>
                </div>

            </div>



        </div><!-- /.container-fluid -->
    </section>

<!--    <section class="content-header text-tap">-->
<!--        <div class="container-fluid">-->

<!--        </div>-->
<!--    </section>-->


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <form class="form-horizontal admin-search-panel" action="" method="get">
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <input type="text" class="form-control" placeholder="请输入标题" name="title"
                                       value="#para('title')">
                            </div>


                            <div class="form-group col-lg-2">
                                <button type="submit" class="btn btn-primary ">查询</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </div>

                        <!-- /.box-body -->
                    </form>
                </div> <!-- /.card-body -->
                <div class="card-body p-0">

                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th style="width: 10px">
                                <input name="dataItem" onchange="checkAll(this)" type="checkbox" value="0"/>
                            </th>
                            <th style="width: 450px">标题</th>
                            <th>Slug</th>
                            <th>样式</th>
                            <th style="width: 100px">发布时间</th>
                        </tr>

                        #for(sp : page.list)
                        <tr class="jp-actiontr">
                            <td><input class="dataItem" type="checkbox" value="#(sp.id)"/>
                            </td>
                            <td>
                                <strong>
                                    <a href="#(CPATH)/admin/page/write/#(sp.id)">#(sp.title ??)</a>
                                    #if(sp.isDraft())
                                    （草稿）
                                    #end
                                </strong>
                                <div class="jp-actionblock">
                                    #if(sp.isNormal())
                                    <div class="jp-actionitem">
                                        <a href="#(CPATH)/admin/page/write/#(sp.id)" style="color: #006505">编辑</a> |
                                        <a href="javascript:;" onclick="draft('#(sp.id??)')"
                                           style="color: #006505">草稿</a>
                                        |
                                        <a href="javascript:;" onclick="trash('#(sp.id??)')"
                                           style="color: #a00">垃圾箱</a> |
                                        <a href="#(sp.url ??)" target="_blank" style="color: #a00">查看</a>
                                    </div>
                                    #elseif(sp.isDraft())
                                    <div class="jp-actionitem">
                                        <a href="#(CPATH)/admin/page/write/#(sp.id)" style="color: #006505">编辑</a> |
                                        <a href="javascript:;" onclick="trash('#(sp.id??)')"
                                           style="color: #a00">垃圾箱</a>
                                    </div>
                                    #else
                                    <div class="jp-actionitem">
                                        <a href="javascript:;" onclick="draft('#(sp.id??)')" style="color: #006505">还原</a>
                                        |
                                        <a href="javascript:;" onclick="del('#(sp.id??)')" style="color: #a00">永久删除</a>
                                    </div>
                                    #end
                                </div>
                            </td>
                            <td>#(sp.slug ??)</td>
                            <td>#(sp.style ?? "默认")</td>
                            <td>#(sp.created ??)</td>
                        </tr>
                        #end

                        </tbody>
                    </table>


                    #if(page.totalRow ??)
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group form-group-check">
                                        <div class="form-check">
                                            <input class="form-check-input tableBox" type="checkbox" id="checkall">
                                            <label class="form-check-label" for="checkall">全选</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select class="form-control" name="action">
                                            <option value="">请选择...</option>
                                            <option value="doBatchDel" open-type="del-confirm">
                                                批量删除
                                            </option>
                                            <option value="exportAction">
                                                导出到Excel
                                            </option>
                                            <option value="printAction">
                                                批量打印
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                    #end


                </div><!-- /.card-body -->


            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

#end