#@layout()

#define css()
<style>
    #editor {
        height: 500px;
    }

    .table > tbody > tr > th {
        border-top: 1px solid #f4f4f4;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
    }

    .table > tbody > tr > th {
        padding: 5px 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .ace-eclipse .ace_gutter {
        background: #f7f7f7;
        border-right: 1px solid rgb(159, 159, 159);
        color: rgb(82, 82, 82);
    }

    .ace-eclipse .ace_gutter-active-line {
        background-color: #b3b3b3;
    }

</style>
#end

#define script()
<script src="/static/components/ace/ace.js"></script>
<script>

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/eclipse");

    var editFileName = $("#editor").attr("for-filename");// "index.html";
    var model = "ace/mode/html";

    if (editFileName.indexOf(".css") != -1) {
        model = "ace/mode/css";
    } else if (editFileName.indexOf(".js") != -1) {
        model = "ace/mode/javascript";
    } else if (editFileName.indexOf(".xml") != -1) {
        model = "ace/mode/xml";
    }
    editor.session.setMode(model);

    function doSubmit() {
        $("#fileContent").attr("value", editor.getSession().getValue());
        $("#form").ajaxSubmit({
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data.state == "ok") {
                    toastr.success('保存成功！');
                } else {
                    toastr.error(data.message, '操作失败');
                }
            },
            error: function () {
                alert("信息提交错误");
            }
        });
        return false;
    }

    var commandkeydown = false;
    $(document).keydown(function (e) {
        if (e.keyCode == 91 || e.keyCode == 224) {
            commandkeydown = true;
        }
        if (commandkeydown && e.keyCode == 83) {
            commandkeydown = false;
            return doSubmit();
        }
        if (e.ctrlKey == true && e.keyCode == 83) {
            console.log('ctrl+s');
            return doSubmit(); // 截取返回false就不会保存网页了
        }
    });
    $(document).keyup(function (e) {
        if (e.keyCode == 91 || e.keyCode == 224) {
            commandkeydown = false;
        }
    });
</script>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            模板编辑
            <small>Template Edit</small>
        </h1>
    </section>

    <section class="content">
        <form id="form" action="/admin/template/doEditSave" method="post">
            <input type="hidden" name="fileContent" id="fileContent">
            <input type="hidden" name="d" value="#(d ??)">
            <input type="hidden" name="f" value="#(f ??)">
        </form>

        <div class="row">
            <div class="col-xs-9">
                <div class="box box-primary">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="box-body no-padding">
                            <div id="editor" for-filename="#(f ??)">#(editFileContent ??)</div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="button" onclick="doSubmit()" class="btn btn-primary">更新文件</button>
                                    提示：按快捷键 ctrl + s 也能保存哦。（mac电脑：command+s）
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title">当前目录：/#(d ??)</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" autocomplete="off">
                        <div class="box-body no-padding">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <table class="table table-striped">
                                        <tbody>
                                        #if(parentDir != null)
                                        <tr>
                                            <th>
                                                <a href="/admin/template/edit?d=#(parentDir)"> .. </a>（上级目录）
                                            </th>
                                        </tr>
                                        #end

                                        #for(file : files)
                                        <tr>
                                            <th>
                                                #if(!file.isDir())
                                                <a href="/admin/template/edit?d=#(d ??)&f=#(file.name ??)">
                                                    #(file.name ??)
                                                </a>
                                                #if(file.name == f)
                                                （编辑中...）
                                                #end
                                                #else
                                                <a href="/admin/template/edit?d=#(file.name ??)">
                                                    #(file.name ??)
                                                </a>
                                                [目录]
                                                #end
                                            </th>
                                        </tr>
                                        #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
