#@layout()

#define css()
<style>
    .qq-gallery.qq-uploader {
        border: none;
        background-color: #fff;
    }

    .qq-gallery .qq-upload-button {
        display: inline;
        width: 105px;
        padding: 7px 10px;
        float: left;
        text-align: center;
        color: #fff;
        box-shadow: none;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid transparent;
        background-color: #3c8dbc;
        border-color: #367fa9;
    }

    .qq-gallery .qq-upload-button-focus {
        outline: none;
    }

</style>
#end

#define script()

#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            模板设置
            <small>Template Setting</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        该模板未提供任何设置内容
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
#end
