#@layer()

#define css()
<style>

    .nav-tabs .nav-link {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .attachment_form_item {
        height: 220px;
        width: 200px;
        padding: 0px;
        border: 1px solid #ddd;
        margin: 10px;
        float: left;
        cursor: pointer;
    }

    .attachment_form_item:hover {
        border: 1px solid #3c8dbc;
    }

    .attachment_form_item img {
        height: 90%;
        min-height: 90%;
        width: 100%;
    }

    .attachment_item_title {
        height: 10%;
        background-color: #ecf0f5;
        text-align: center;
        padding: 0 5px;
        overflow: hidden;
    }

    .attachment_item_title p {
        overflow: hidden;
    }

    .my-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #uploader {
        height: 230px;
    }

    .myPanel {
        font-size: 25px;
        color: #ccc;
        text-align: center;
        padding-top: 60px;
    }

    .tab-content > .tab-pane {
        padding: 1rem;
    }

    .card.card-outline-tabs .card-header a {
        border-top-color: #dee2e6;
    }


</style>
#end

#define script()
<script src="#(CPATH)/static/components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<link href="/static/components/qcloud-upload-sdk/player/css/tcplayer.min.css" rel="stylesheet">
<script src="/static/components/qcloud-upload-sdk/player/hls.min.0.13.2m.js"></script>
<script src="/static/components/qcloud-upload-sdk/player/tcplayer.v4.2.1.min.js"></script>
<script>

    //clear layer.data
    parent.layer.data = {};

    $(".attachment_form_item").click(function () {

        //表单id
        parent.layer.data.id = $(this).children().attr("data-id");

        parent.layer.data.name = $(this).children().attr("data-name");
        parent.layer.closeAll();
    })

</script>


#end

#define content()

<div class="card card-outline card-tabs" style="box-shadow: none;">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs">

            <li class="nav-item"><a class="nav-link active" id="uititle">表单</a></li>

        </ul>

    </div>

    <div class="card-body">
        <div class="tab-content" style="padding-top:20px;">


            <div class="active tab-pane" id="activity">
                <div class="my-row">
                    #for(form : page.list)
                    <div class="attachment_form_item">
                        <img src="#(CPATH)#(form.bg_image ?? '/static/commons/img/suffix/video.png')"
                             data-id="#(form.id ??)"
                             data-name="#(form.name ??)">
                        <div class="attachment_item_title">
                            <p>#(form.name ??)</p>
                        </div>
                    </div>

                    #end
                </div>

                <div class="row" style="padding-right: 20px;padding-top: 30px">
                    <div class="col-12">
                        #@_paginate()
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

#end
