#@layout()

#define css()
<link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.9.3/skins/default/aliplayer-min.css"/>
#end

#define script()
<script src="/static/components/aliyun-upload-sdk/lib/es6-promise.min.js"></script>
<script src="/static/components/aliyun-upload-sdk/lib/aliyun-oss-sdk-6.13.0.min.js"></script>
<script src="/static/components/aliyun-upload-sdk/aliyun-upload-sdk-1.5.2.min.js"></script>
<script src="/static/admin/js/jpressutils.js"></script>

<script type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.9.3/aliplayer-min.js"></script>

<!--类型切换-->
<script>
    /**
     *  设置 视频类型 选择的显示和隐藏
     */
    videoContentTypeChange(document.getElementById("videoType"));

    function videoContentTypeChange(select) {
        var selectedValue = select.options[select.options.selectedIndex].value;
        if (selectedValue == 'vod') {
            $("#videos").show();
            $("#live").hide();
            $("#code").hide();
        } else if (selectedValue == 'live') {
            $("#videos").hide();
            $("#live").show();
            $("#code").hide();
        } else {
            $("#videos").hide();
            $("#live").hide();
            $("#code").show();
        }
    }

</script>

<!-- 视频点播 -->
<script>

    var uploader = null

    $('#videoInputFile').on('change', function (e) {
        var file = e.target.files[0]
        if (!file) {
            alert("请先选择需要上传的文件!")
            return
        }
        fileName = file.name
        var userData = '{"Vod":{}}'
        if (uploader) {
            uploader.stopUpload()
            // $('#auth-progress').text('0')
            // $('#status').text("")
        }
        var title = $('#videoTitle').val();
        if (title == "") {
            alert("请先输入标题，才能进行文件上传。");
            return;
        }

        uploader = createVideoUploader(fileName, title);
        // 首先调用 uploader.addFile(event.target.files[i], null, null, null, userData)
        // console.log(uploader)

        uploader.addFile(file, null, null, null, userData);
        uploader.startUpload();
    })


    /**
     * 创建点播上传组件
     * @param fileName
     * @param title
     * @returns {AliyunUpload.Vod}
     */
    function createVideoUploader(fileName, title) {
        var uploader = new AliyunUpload.Vod({
            //userID，必填，只需有值即可。
            userId: "ACCOUNT.id",
            //上传到视频点播的地域，默认值为'cn-shanghai'，
            //eu-central-1，ap-southeast-1
            region: "cn-beijing",
            //分片大小默认1 MB，不能小于100 KB，此参数单位默认为 B
            partSize: 1048576,
            //并行上传分片个数，默认5
            parallel: 5,
            //网络原因失败时，重新上传次数，默认为3
            retryCount: 3,
            //网络原因失败时，重新上传间隔时间，默认为2秒
            retryDuration: 2,

            //开始上传，需要设置（或者刷新）凭证
            'onUploadstarted': function (uploadInfo) {
                console.log("onUploadStarted:" + uploadInfo.file.name + ", endpoint:" + uploadInfo.endpoint + ", bucket:" + uploadInfo.bucket + ", object:" + uploadInfo.object);

                if (uploadInfo.videoId) {
                    //需要刷新上传凭证
                    $.get('/admin/attachment/video/doRefreshVideoAuth?videoId=' + uploadInfo.videoId, function (data) {
                        var uploadAuth = data.UploadAuth
                        var uploadAddress = data.UploadAddress
                        var videoId = data.VideoId
                        uploader.setUploadAuthAndAddress(uploadInfo, uploadAuth, uploadAddress, videoId)
                    }, 'json')
                } else {
                    //获取上传凭证
                    $.get('/admin/attachment/video/doGetUploadVideoAuth?fileName=' + fileName + '&title=' + title, function (data) {
                        var uploadAuth = data.UploadAuth
                        var uploadAddress = data.UploadAddress
                        var videoId = data.VideoId
                        uploader.setUploadAuthAndAddress(uploadInfo, uploadAuth, uploadAddress, videoId)
                    }, 'json')
                }
            },

            //文件上传成功，调用 doGetVideoInfo 获取上传视频信息
            'onUploadSucceed': function (uploadInfo) {
                console.log("onUploadSucceed: " + uploadInfo.file.name + ", endpoint:" + uploadInfo.endpoint + ", bucket:" + uploadInfo.bucket + ", object:" + uploadInfo.object);

                ajaxGet("/admin/attachment/video/doGetVideoInfo?&videoId=" + uploadInfo.videoId, function (data) {
                    //设置视频属性
                    $('#vodVid').val(data.videoId);
                    $('#vodSize').val(data.size);
                    //清除文件选择
                    $('#videoInputFile').val('')

                });
            },

            //文件上传失败
            'onUploadFailed': function (uploadInfo, code, message) {
                console.log("onUploadFailed: file:" + uploadInfo.file.name + ",code:" + code + ", message:" + message);
            },

            //文件上传进度，单位：字节
            'onUploadProgress': function (uploadInfo, totalSize, loadedPercent) {
                console.log("onUploadProgress:file:" + uploadInfo.file.name + ", fileSize:" + totalSize + ", percent:" + Math.ceil(loadedPercent * 100) + "%");
                if (loadedPercent >= 1) {
                    $("#videoInputFileLable").text("文件上传成功！ （总大小：" + (totalSize / 1024 / 1024).toFixed(2) + "MB）");
                } else {
                    $("#videoInputFileLable").text("视频上传中...." + Math.ceil(loadedPercent * 100) + "% （总大小：" + (totalSize / 1024 / 1024).toFixed(2) + "MB）");
                }
            },

            //上传凭证超时，需要刷新上传凭证
            'onUploadTokenExpired': function (uploadInfo) {
                console.log("onUploadTokenExpired");
                $.get('/admin/attachment/video/doRefreshVideoAuth?videoId=' + uploadInfo.videoId, function (data) {
                    var uploadAuth = data.UploadAuth;
                    uploader.resumeUploadWithAuth(uploadAuth)
                }, 'json')
            },
            //全部文件上传结束，失败或者成功都会触发
            'onUploadEnd': function (uploadInfo) {
                console.log("onUploadEnd: uploaded all the files");
            }
        });
        return uploader;
    }



    /**
     * 创建点播的播放器
     * @param vid
     * @param playauth
     * @returns {Aliplayer}
     */
    function createVideoPlayer(vid, playauth, id) {
        if (vid != "" && playauth != "") {
            id = id || "player"
            var player = new Aliplayer({
                    "id": id,
                    "vid": vid,
                    "playauth": playauth,
                    // "qualitySort": "asc",
                    // "format": "mp4",
                    // "mediaType": "video",
                    "width": "100%",
                    "height": "100%",
                    "videoWidth": "100%",
                    "videoHeight": "100%",
                    "autoplay": false,
                    "isLive": false,
                    // "cover": "缩略图",
                    "rePlay": false,
                    "playsinline": true,
                    "preload": false,
                    "controlBarVisibility": "hover",
                    "useH5Prism": true
                }, function (player) {
                    console.log("The player is created");
                }
            );
            return player;
        }
    }

    createVideoPlayer("#(cloudVid ??)", "#(cloudPlayAuth ??)");



</script>

<!-- 直播 -->
<script>
    $('#createLive').on('click', function () {
        //创建直播流地址
        ajaxGet("/admin/attachment/video/doGetLiveInfo", function (data) {

                $('#livePushUrl').val(data.pushUrl);
                $('#contentLivePushUrl').val(data.pushUrl);
                $('#liveApp').val(data.liveApp);
                $('#liveDomain').val(data.domainName);
                $('#liveStream').val(data.streamName);

            });
    });


    /**
     * 创建直播播放器
     * @param source
     * @returns {Aliplayer}
     */
    function createLivePlayer(source, liveCloudVid, liveCloudPlayAuth) {
        if (source != "") {
            var player = new Aliplayer({
                    "id": "livePlayer",
                    "source": source,
                    // "playauth": playauth,
                    // "qualitySort": "asc",
                    // "format": "mp4",
                    // "mediaType": "video",
                    "width": "100%",
                    "height": "100%",
                    "videoWidth": "100%",
                    "videoHeight": "100%",
                    "autoplay": false,
                    "isLive": true,
                    // "cover": "缩略图",
                    "rePlay": false,
                    "playsinline": true,
                    "preload": false,
                    "controlBarVisibility": "hover",
                    "useH5Prism": true,
                    "useFlashPrism": false
                }, function (player) {
                    console.log("The player is created");
                }
            );
            return player;
        } else {
            return createVideoPlayer(liveCloudVid, liveCloudPlayAuth, "livePlayer");
        }
    }

    createLivePlayer("#(livePlayUrl ??)", "#(liveCloudVid ??)", "#(liveCloudPlayAuth ??)")

</script>

<script>

    function save(){
        var title = $('#videoTitle').val();
        if (title == "") {
            return;
        }
        ajaxSubmit("#form", function () {
            toastr.success('视频保存成功。');
            setTimeout(function (){
                //返回list页面
                location.href='#(CPATH)/admin/attachment/video/list';
            },1500);
        });
    }


</script>

#end

#define content()
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            视频中心管理
                            <small data-toggle="tooltip" title="" data-placement="right"
                                   data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                            <small> 首页 / 视频中心 </small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">



            <div class=" col-lg-12" >
                    <form class="form-horizontal ajaxSubmit" autocomplete="off" id="form"
                          action="#(CPATH)/admin/attachment/video/doSave"
                          data-ok-href="#(CPATH)/admin/attachment/video/list"
                          data-ok-message="视频保存成功"
                          method="post">

                    <input type="hidden" name="video.id" value="#(video.id ??)" id="videoId">

                    <input type="hidden" name="video.vod_vid" id="vodVid" value="#(video.vodVid ??)">
                    <input type="hidden" name="video.vod_size" id="vodSize" value="#(video.vodSize ??)">

                    <div class="card card-primary card-outline">
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"> <span class="text-danger mr-2">*</span>视频标题</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" required placeholder="请输入视频标题"
                                           id="videoTitle"
                                           name="video.vod_name"
                                           value="#(video.vodName ??)">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"> 状态</label>
                                <div class="col-sm-6">
                                    <select class="form-control" placeholder="请选状态"
                                            name="video.vod_status">
                                        <option value="1" #selectedIf(video && video.vodStatus == '1')>正常
                                        </option>
                                        <option value="9" #selectedIf(video && video.vodStatus == '9')>下线
                                        </option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"> 视频分类 </label>
                                <div class="col-sm-6">
                                    <select class="form-control"  name="video.category_id">
                                        <option value="">请选择视频分类</option>
                                        #for(item : categories ??)
                                        <option value="#(item.id ??)" #selectedIf(video && video.categoryId== item.id)>#(item.title ??) </option>
                                        #end
                                    </select>
                                    <p class="text-muted">点击 <a href="/admin/attachment/video/category">这里</a> 进入视频分类管理</p>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"> 时长：单位秒</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="请输入时长：单位秒" name="video.vod_duration"
                                           value="#(video.vodDuration ??)">
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">视频封面</label>
                                <div class="col-sm-9">
                                    <div class="jpress-image-browser">
                                        <input type="hidden" name="video.cover" value="#(video.cover ??)"/>
                                        <img src="#(video.cover ??'/static/commons/img/nothumbnail.jpg')">
                                        <div class="image-action">
                                            <a class="image-delete"> <i class="fa fa-trash"></i></a>
                                            <a class="image-edit"> <i class="fa fa-edit"></i></a>
                                        </div>
                                    </div>
                                    <p class="text-muted"> </p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"> 类型 </label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="videoType" placeholder="请选择类型"
                                            name="video.video_type"
                                            onchange="videoContentTypeChange(this)">
                                        <option value="vod" #selectedIf(video && video.videoType == 'vod')>视频
                                        </option>
                                        <option value="live" #selectedIf(video && video.videoType== 'live')>直播
                                        </option>
                                        <option value="code" #selectedIf(video && video.videoType== 'code')>代码
                                        </option>
                                    </select>

                                </div>
                            </div>



                            <div id="videos">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">选择视频文件</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="videoInputFile">
                                                <label class="custom-file-label" for="videoInputFile"
                                                       id="videoInputFileLable">点击选择上传视频</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> 视频</label>
                                    <div class="col-sm-6">
                                        <div class=" pr-0 bg-gray" id="player" style="height: 350px;"></div>
                                    </div>
                                </div>


                            </div>


                            <div id="live">
                                <input type="hidden" name="video.live_push_url" value="#(video.livePushUrl ??)" id="contentLivePushUrl">
                                <input type="hidden" name="video.live_app" value="#(video.liveApp ??)" id="liveApp">
                                <input type="hidden" name="video.live_domain" value="#(video.liveDomain ??)" id="liveDomain">
                                <input type="hidden" name="video.live_stream" value="#(video.liveStream ??)" id="liveStream">

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> 直播推流地址 </label>
                                    <div class="col-sm-6">
                                        <div class="input-group ">
<!--                                           disabled readonly-->
                                            <input type="text" class="form-control" name="video.live_stream" disabled readonly
                                                   value="#(video.livePushUrl ??)" id="livePushUrl">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-primary btn-flat" id="createLive">创建</button>
                                          </span>
                                        </div>
                                        <span class="text-muted"> 推流地址有效时间为 2 个小时，创建后请及时使用。</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> <span class="text-danger mr-2">*</span>开播时间</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control datetime" required placeholder="请选择开播时间"
                                               name="video.live_start_time"
                                               value="#date(video.liveStartTime ??)">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> <span class="text-danger mr-2">*</span>直播结束时间</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control datetime" required placeholder="请选择直播结束时间"
                                               name="video.live_end_time"
                                               value="#date(video.liveEndTime ??)">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> 直播 / 回放</label>
                                    <div class="col-sm-6">
                                        <div class=" pr-0 bg-gray" id="livePlayer" style="height: 350px;"></div>
                                    </div>
                                </div>


                            </div>


                            <div id="code">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"> iframe 代码</label>
                                    <div class="col-sm-6">
                                        <textarea rows="3" class="form-control" placeholder="请输入"
                                                  name="video.content" data-render="ckeditor"
                                        >#(video.content ??)</textarea>
                                    </div>
                                </div>
                            </div>




                        </div><!-- /.card-body -->


                        <div class="card-footer">
                            <div class="row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary " onclick="save()">
                                        <i class="fa fa-fw fa-check"></i> 保存
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary back">
                                        <i class="fa fa-fw fa-arrow-left"></i> 返回
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

#end