#@layout()

#define script()

<script>

    $('.del-action').on('click', function () {
        if (confirm('确定要删除该视频吗？删除后不可恢复')) {
            var id = $(this).attr("data-id");
            ajaxGet("#(CPATH)/admin/attachment/video/doDel/" + id);
        }
    });

</script>

#end
#define css()
<style>
    .video-card{
        width:100%;
        margin:0 auto 16px;
        border-radius:4px;
        background-color:#fff;
        cursor: pointer;
        box-shadow: 0 0 15px rgba(0,0,0,0.05);
    }
    .video-card:hover{
        -webkit-box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
        box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
        /*-webkit-transform: translate3d(0,-2px,0);*/
        /*transform: translate3d(0,-2px,0);*/
    }
    .video-img{
        position: relative;
        height:180px;
        overflow:hidden;
    }
    .video-img img{
        height:100%;
        width:100%;
        object-fit: cover;
    }
    .video-tag{
        position: absolute;
        right:14px;
        top:15px;
        color:#fff;
        font-size:10px;
        background-color:rgba(0,0,0,0.35);
        border-radius:16px;
        padding:4px 10px 3px;
    }
    .video-title{
        padding:15px 12px 12px;
    }
    .video-desc{
        display:flex;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: space-between;
        padding:0 12px 12px;
        color:#999;
    }
    .ellipsis1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
   .video-operation i{
       color:#999;
       font-size:18px;
   }
    .dropdown-menu .dropdown-item{
        height:36px;
        line-height:36px;
    }
</style>
#end


#define content()
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                视频管理
                                <small data-toggle="tooltip" title="可以查看所有文章，鼠标移到文章标题上，可以对其编辑或删除等操作" data-placement="bottom"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 视频 / 视频管理</small>
                            </h1>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 ">
                    <div class=" float-sm-right" style="padding-top: 15px">
                        <a href="#(CPATH)/admin/attachment/video/category" type="button" class="btn btn-outline-secondary"><i class="fa fa-cog"></i> 分类管理</a>
                        <a href="./add" type="button" class="btn btn-primary"><i class="fas fa-plus"></i> 上传视频</a>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>



    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <form class=" admin-search-panel" action="" method="get">
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <input type="text" class="form-control" placeholder="请输入标题" name="title" value="#para('title')">
                            </div>

                            <div class="form-group col-lg-2">
                                <select class="form-control" name="type">
                                    <option value="">类型</option>

                                    <option value="vod" #selectedIf(para('type') == 'vod') > 视频</option>
                                    <option value="live" #selectedIf(para('type') == 'live') > 直播</option>
                                    <option value="code" #selectedIf(para('type') == 'code') > 代码</option>

                                </select>
                            </div>

                            <div class="form-group col-lg-2">
                                <select class="form-control" name="categoryId">
                                    <option value="">全部分类</option>
                                    #for(category : categories)
                                    <option value="#(category.id ??)" #selectedIf(category.id == numberPara('categoryId'))>#(category.title ??)</option>
                                    #end
                                </select>
                            </div>

                            <div class="form-group col-lg-2">
                                <button type="submit" class="btn btn-primary ">查询</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>

                        </div>

                        <!-- /.card-body -->
                    </form>
                </div> <!-- /.card-body -->
                <div class="card-body p-0">



                    <!---->
                    <div class="p-3">
                        <div class="row">
                            #for(item : page.list ??)
                            <div class="col-md-3">
                                <div class="video-card">
                                    <div class="video-img">
                                        <img src="#(item.cover ??)" alt="" class="video-poster">
                                        <span class="video-tag">#(item.category.title ?? "未分类")</span>
                                    </div>
                                    <div class="video-content">
                                        <h6 class="video-title mb-0 ellipsis1"><a href="#(CPATH)/admin/attachment/video/edit/#(item.id)" class="text-dark"> #(item.vodName ??) </a></h6>
                                        <!--<div class="video-desc">-->
                                            <!--<span><i class="bi bi-clock"></i> #date(item.created ??)</span>-->
                                            <!--<div>-->
                                                <!--<a href="#(CPATH)/admin/attachment/video/edit/#(item.id)">编辑</a> |-->
                                                <!--<a href="javascript:;" class="del-action red-action" data-id="#(item.id)">删除</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--操作按钮-->
                                        <div class="video-desc">
                                            <span><i class="bi bi-clock"></i> #date(item.created ??)</span>
                                            <div class="dropup show">
                                                <a href="javascript:void(0);" class="video-operation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#(CPATH)/admin/attachment/video/edit/#(item.id)"><i class="bi bi-pencil-square"></i> 编辑</a>
                                                    <a class="del-action red-action dropdown-item" href="javascript:void(0);" data-id="#(item.id)"><i class="bi bi-trash"></i> 删除</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input tableCheckAll" id="checkall" type="checkbox" >
                                            <label class="form-check-label" for="checkall">全选</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select class="form-control" name="action">
                                            <option value="">请选择...</option>
                                            <option value="doDelByIds" open-type="del-confirm">
                                                批量删除
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->


                </div><!-- /.card-body -->


            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

#end