<div class="jpress-form-item">
    <div class="jpress-form-group clearfix">
        <div class="jpress-label-left">
            <label>#(label ??)</label>
        </div>
        <div class="jpress-input-block">
            #for(option : options)
            <div class="jpress-form-check">
                <input
                        class="jpress-check-input"
                        type="checkbox"
                        id="#(option.value ??)-#(id ??)"
                        name="#(name ??)"
                        value="#(option.value ??)"
                        #if(!withEdit) disabled #end
                        #if(contains(value,option.value)) checked #end
                />
                <label class="jpress-check-label" for="#(option.value ??)-#(id ??)">#(option.text ??)</label>
            </div>
            #end
        </div>
    </div>
</div>
