
<div class="jpress-form-item">
    <div class="jpress-form-group clearfix">
        <div class="jpress-label-left">
            <legend class="col-form-label pt-0">#(label ??)</legend>
        </div>
        <div class="jpress-input-block">
            #if(!value)
            <div class="jpress-custom-file">
                <input type="file" class="jpress-file-input" id="#(id ??)" name="#(name ??)">
                <label class="jpress-file-label" for="#(id ??)"></label>
            </div>
            #else
            <a href="#(value)" target="_blank"> 点击查看 </a>
            #end
        </div>

    </div>


</div>

