<div class="jpress-form-item">
    <div class="jpress-form-group clearfix">
        <div class="jpress-label-left">
            <label>#(label ??)</label>
        </div>
        <div class="jpress-input-block">
            <div class="uploadList" data-url="#(url ??)" id="fileUploadContent">
                <button type="button" class="jpress-upload-btn">
                    <i class="bi bi-plus-lg  jpress-icon"></i>
                    <p>点击上传图片</p>
                    <div class="jpress-upload-file selectFileBt" name="#(name ??)" id="#(id ??)"></div>
                    <input class="bsForm-upload-file" type="hidden"  accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"
                           name="#(name ??)" multiple="true" id="#(id ??)">
                </button>
            </div>
        </div>
    </div>
</div>