<div class="jpress-form-item">
    <div class="jpress-form-group clearfix">
        <div class="jpress-label-left">
            <label>#(label ??)</label>
        </div>
        <div class="jpress-input-block">
            <div class="uploadList" data-url="#(url ??)"  data-name="#(name ??)" data-count="#(count ?? 3)">
                <button type="button" class="jpress-upload-btn">
                    <i class="bi bi-plus-lg  jpress-icon"></i>
                    <p>点击上传图片</p>
                    <input class="bsForm-upload-file jpress-upload-file" type="file"
                           id="#(id ??)"
                           accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"
                           multiple="true">
                </button>
            </div>
        </div>
    </div>
</div>