<div class="jpress-form-item">
    <div class="jpress-form-group clearfix">
        <div class="jpress-label-left">
            <label>#(label ??)</label>
        </div>
        <div class="jpress-input-block">
            <input type="range" class="jpress-form-control" name="#(name ??)" id="#(id ??)" placeholder="#(placeholder ??)"
                   #if(!withEdit) disabled #end
                   min="#(min ??1)" max="#(max ??10)" step="#(step ??1)" value="#(value ??)"/>
        </div>
    </div>
</div>