<div class="jpress-form-item">
    <div class="jpress-form-group">
        <div class="jpress-label-left">
            <legend class="pt-0">#(label ??)</legend>
        </div>
        <div class="jpress-input-block">
            <select class="jpress-custom-select" name="#(name ??)">
                #for(option : options)
                <option value="#(option.value ??)" #if(value == options.value) selected #end>#(option.text ??)</option>
                #end
            </select>
        </div>
    </div>
</div>
