<div class="jpress-form-item">
    <div class="jpress-form-group clearfix">
        <div class="jpress-label-left">
            <label for="#(id ??)">#(label ??)</label>
        </div>
        <div class="jpress-input-block">
            <div class="jpress-custom-switch">
                <input type="checkbox" class="jpress-custom-input" id="#(id ??)" name="#(name ??)" value="true"
                       #if(value == "true" || value==true || value == 1) checked #end
                        #if(!withEdit) disabled #end/>
                <label class="jpress-custom-label" for="#(id ??)"></label>
            </div>
        </div>
    </div>
</div>
