<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="#(CPATH)/" class="navbar-brand">
<!--            <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
            <span class="brand-text font-weight-light">#option('web_name','JPress')</span>
        </a>

<!--        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

        <!-- Right navbar links -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="javascript:;" style="display: flex;align-items: center">
                    <span class="hidden-xs" >您好 #(user.nickname ??) , 欢迎回来</span>
                </a>
            </li>




            <!--购物车开始-->
            <li class="nav-item dropdown" style="border-left: 1px solid #ccc;">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-cart-arrow-down"></i>
                    #if(USER_CARTS_COUNT && USER_CARTS_COUNT > 0)
                    <span class="badge badge-danger navbar-badge">#(USER_CARTS_COUNT)</span>
                    #end
                </a>

                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header">购物车列表</span>
                    <div class="dropdown-divider"></div>
                    #for(userCart : USER_CARTS)
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            #if(userCart.product_thumbnail)
                            <img src="#(userCart.product_thumbnail)" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            #end
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    #maxLength(userCart.product_title ??,16,'...')
                                </h3>
                                <p class="text-sm">#maxLength(userCart.product_summary ??,20,'...')</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    #end
                    <a href="#(CPATH)/ucenter/cart" class="dropdown-item dropdown-footer">查看全部</a>
                </div>

            </li>
            <!--购物车结束-->



            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="javascript:;" style="display: flex;align-items: center">
                    <img src="#(USER.avatar ??)" class="img-circle elevation-2" alt="User Image" style="width: 20px;margin: 0 5px;">
                    <i class="fas fa-caret-down"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#(CPATH)/ucenter" class="dropdown-item">
                        <i class="fas fa-home"></i> 用户中心
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#(CPATH)/ucenter/info" class="dropdown-item">
                        <i class="fas fa-user"></i> 个人信息
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#(CPATH)/ucenter/logout" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> 退出登录
                    </a>
                </div>
            </li>

        </ul>
    </div>
</nav>