<aside class="main-sidebar">
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree" id="sidebar-menu">
            <li class="block"></li>
            <li class="link">
                <a href="#(CPATH)/ucenter/index"><i class="fa fa-fw fa-home"></i> <span>首页</span></a>
            </li>

            <li class="header">我的内容</li>
            #for(group : ucenterMenus)
            <li class="treeview">
                <a href="#">
                    #(group.icon ??) <span>#(group.text)</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    #for(item : group.items)
                    <li><a href="#(item.url ??)" target="#(item.target)">#(item.text ??)</a></li>
                    #end
                </ul>
            </li>
            #end

            <li class="header">财务信息</li>
            <li class="link">
                <a href="#(CPATH)/ucenter/order"><i class="fa fa-fw fa-paper-plane"></i> <span>我的订单</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/finance/amount"><i class="fa fa-fw fa-gg-circle"></i> <span>我的余额</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/coupon"><i class="fa fa-fw fa-money"></i> <span>优惠券</span></a>
            </li>


            <li class="header">个人信息</li>
            <li class="link">
                <a href="#(CPATH)/ucenter/member"><i class="fa fa-fw fa-coffee"></i> <span>会员信息</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/address"><i class="fa fa-fw fa-street-view"></i> <span>我的地址</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/info"><i class="fa fa-fw fa-user"></i> <span>基本信息</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/signature"><i class="fa fa-fw fa-bars"></i> <span>个人签名</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/avatar"><i class="fa fa-fw fa-black-tie"></i> <span>头像设置</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/pwd"> <i class="fa fa-fw fa-key"></i> <span>账号密码</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/bind"> <i class="fa fa-fw fa-futbol-o"></i> <span>账号绑定</span></a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
