

<aside class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="#(CPATH)/" target="_blank" class="brand-link">
        <img src="#(APP_LOGO_PATH ??)" class="brand-image"
             style="opacity: .8">
        <span class="brand-text font-weight-light">#(APP_NAME ?? 'JPress')</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <nav class="mt-2" style="padding: 10px 0">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy text-sm" data-widget="treeview" role="menu"
                data-accordion="false" id="sidebar-menu">


                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/order" class="nav-link">
                        <i class="fas fa-tachometer-alt"></i><p>首页</p>
                    </a>
                </li>


                <li class="nav-header">我的内容</li>

                #for(group : ucenterMenus)
                #hasPermission(group.permission)
                <li class="nav-item" id="#(group.id ??)">
                    <a href="#" class="nav-link">
                        #(group.icon ??'<i class="fas fa-tachometer-alt"></i>')<p>#(group.text ??)<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        #for(item : group.items)
                        #hasPermission(item.permission)
                        <li class="nav-item" id="#(chiitemldMenu.id ??)">
                            <a href="#(item.url ??)" class="nav-link">
                                <i class="far fa-circle"></i>
                                <p> #(item.text ??)</p>
                            </a>
                        </li>
                        #end
                        #end
                    </ul>
                </li>
                #end
                #end



                <li class="nav-header">财务信息</li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/order" class="nav-link">
                        <i class="fas fa-paper-plane"></i><p>我的订单</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/finance/amount" class="nav-link">
                        <i class="fab fa-gg-circle"></i><p>我的余额</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/coupon" class="nav-link">
                        <i class="fas fa-closed-captioning"></i><p>优惠券</p>
                    </a>
                </li>




                <li class="nav-header">个人信息</li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/order" class="nav-link">
                        <i class="fas fa-smile"></i><p>会员信息</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/finance/amount" class="nav-link">
                        <i class="fas fa-map-marked"></i><p>我的地址</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/info" class="nav-link">
                        <i class="fas fa-user"></i><p>基本信息</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/signature" class="nav-link">
                        <i class="fas fa-bars"></i><p>个人签名</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/avatar" class="nav-link">
                        <i class="fab fa-black-tie"></i><p>头像设置</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/pwd" class="nav-link">
                        <i class="fas fa-key"></i><p>账号密码</p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#(CPATH)/ucenter/bind" class="nav-link">
                        <i class="fas fa-random"></i><p>账号绑定</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- ./ sidebar -->
