#define layer()
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JPress后台</title>
    <link rel="stylesheet" href="/static/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/adminlte/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="/static/admin/css/jpressadmin.css">

    <!--[if lt IE 9]>
    <script src="/static/components/html5shiv/html5shiv.min.js"></script>
    <script src="/static/components/respond/respond.min.js"></script>
    <![endif]-->

    #@css?()

</head>
<body class="hold-transition ">
<div class="wrapper">

    #@content()

</div>
<!-- ./wrapper -->

<script src="/static/components/jquery/jquery.min.js"></script>
<script src="/static/components/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/components/fastclick/fastclick.js"></script>
<script src="/static/components/layer/layer.js"></script>
<script src="/static/adminlte/js/adminlte.min.js"></script>
<script src="/static/admin/js/jpressadmin.js"></script>
#@script?()
</body>
</html>
#end
