#@layer()

#define script()
<script src="/static/components/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/static/components/jquery-file-upload/js/jquery.fileupload.js"></script>
<script>

    $('#cfile').fileupload({
        dropZone: $('#uploader'),
        url: '/commons/attachment/upload',
        sequentialUploads: true,
        done: function (e, data) {
            if (data.result.state == "ok") {
                $('#paidProof').val(data.result.src);
                toastr.success("文件上传成功...")
            } else {
                toastr.error(data.result.message)
            }
        }
    });
</script>
#end

#define css()
<link rel="stylesheet" href="/static/components/jquery-file-upload/css/jquery.fileupload.css">
<style>
    #uploader {
        height: 180px;
        border: 1px dashed #999;
        padding: 10px;
    }

    .myPanel {
        font-size: 25px;
        color: #ccc;
        text-align: center;
        padding-top: 30px;
    }
</style>
#end

#define content()

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal form-setting autoAjaxSubmit" autocomplete="off"
                  action="#(CPATH)/admin/finance/doPayoutRefuse"
                  method="POST"
                  data-ok-function="parent.layer.closeAll()"
            >
                <input type="hidden" name="id" value="#(payout.id ??)">
                <div class="box-body ">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">反馈信息</label>
                        <div class="col-sm-8">
                            <textarea rows="6" name="feedback" class="form-control"
                                              placeholder="给请出拒绝提现的原因..."></textarea>
                            <p class="help-block" style="color: red"> 注意：拒绝之后无法再次修改。 </p>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-sm-offset-9 col-sm-2 submit-block">
                        <div class="box-submit">
                            <button type="submit" class="btn btn-primary">拒绝申请</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>

</section>

#end
