<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">Have a Question?</h3>
        <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>
        <form id="search-form" class="search-form clearfix" method="post" action="${CPATH}/s" autocomplete="off">
            <input class="search-term required" type="text" id="s" name="k" placeholder="请输入你的问题" title="请输入问题关键词!" />
            <input class="search-btn" type="submit" value="Search" />
            <div id="search-error-container"></div>
        </form>
    </div>
</div>