<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="...">
    <meta name="kewords" content="...">
    <link href="#(CPATH)/static/front/jpressform.css" rel="stylesheet">
    <title>表单详情</title>
</head>
<body class="bg-gray">
<div style="background: #fff url('#(form.bgImage)') center center no-repeat;background-size:cover;" class="centerContent">

    <!--<img src="#(form.headerImage ??)" alt="" class="width-100 mb-15">-->
    <img src="https://cdn1.wenjuan.com/appear-PC-%E6%91%84%E5%BD%B1.png" alt="" class="width-100 mb-15">

<!--    <div class="pdlr-15">-->
<!--        #(form.title ??) <br/>-->
<!--        #(form.summary ??)-->
<!--    </div>-->

    <div class="form-content pd-30">
        #formInfo()
    </div>
</div>
</body>
</html>