<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="...">
    <meta name="kewords" content="...">
    <link href="#(CPATH)/static/front/jpressform.css" rel="stylesheet">
    <title>表单详情</title>
</head>

<div style="background: url('#(form.bgImage)')">
    <img src="#(form.headerImage ??)" />

    <div>
        #(form.title ??) <br/>
        #(form.summary ??)
    </div>

    <div class="form-content">
        #formInfo()
    </div>
</div>

</html>