<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="...">
    <meta name="kewords" content="...">
    <link href="#(CPATH)/static/components/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="#(CPATH)/static/front/jpressform.css" rel="stylesheet">
    <title>表单详情</title>
</head>
<body style="background:#efefef url('#(form.bgImage)') center center no-repeat;background-size:cover;">
    <div  class="centerContent">
        #if(form.headerImage)
        <img src="#(form.headerImage)" alt="" class="width-100">
        #end
        <div class="bg-white pd-30">
            <div class="jpress-form-header">
                <h5 class="jpress-form-title">#(form.title ??) </h5>
                <p class="jpress-form-desc"> #(form.summary ??)</p>
            </div>
            <div class="form-content pt-30 pb-30">
                #formInfo()
            </div>
        </div>
    </div>
    <script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
    <script src="#(CPATH)/static/front/fileUpload.js"></script>
    <script>
        $("#fileUploadContent").initUpload({
            "uploadUrl": "#", //上传文件信息地址
            //"size":350,//文件大小限制，单位kb,默认不限制
            //"maxFileNumber":3,//文件个数限制，为整数
            //"filelSavePath":"",//文件上传地址，后台设置的根目录
            "beforeUpload": beforeUploadFun, //在上传前执行的函数
            //"onUpload":onUploadFun，//在上传后执行的函数
            //autoCommit:true,//文件是否自动上传
            "fileType": ['png', 'jpg', 'gif', 'jpeg', 'svg'] //文件类型限制，默认不限制，注意写的是文件后缀
        });

        function beforeUploadFun(opt) {
            opt.otherData = [{
                "name": "name",
                "value": "default"
            }];
        }
    </script>
</body>
</html>