<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="#(form.summary ??)">
    <link rel="stylesheet" href="#(CPATH)/static/components/toastr/toastr.min.css">
    <link href="#(CPATH)/static/components/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="#(CPATH)/static/front/jpressfront.css">
    <title>#(form.title ?? 'JPress 表单')</title>
</head>
<body style="background:#efefef url('#(form.bgImage)') center center no-repeat;background-size:cover;">
    <div  class="centerContent">
        #if(form.headerImage)
        <img src="#(form.headerImage)" alt="" class="width-100">
        #end
        <div class="bg-white pd-30">
            <div class="jpress-form-header">
                <h5 class="jpress-form-title">#(form.title ?? 'JPress 表单') </h5>
                <p class="jpress-form-desc"> #(form.summary ??)</p>
            </div>
            <div class="form-content pt-30 pb-30">
                #formInfo()
            </div>
        </div>
    </div>
    <script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
    <script  src="#(CPATH)/static/front/jpressfront.js"></script>
    <script src="#(CPATH)/static/components/toastr/toastr.min.js"></script>
</body>
</html>