<section class="side-tag">
	<h4 class=" jp-margin-top">
		<span class="side-cloro"></span>热门标签
	</h4>
	<ul class="list-inline jp-common">
		<li>
			<a>google</a>
		</li>
		<li>
			<a>fackbook</a>
		</li>
		<li>
			<a>苹果</a>
		</li>
		<li>
			<a>google</a>
		</li>
		<li>
			<a>小米</a>
		</li>
		<li>
			<a>fackbook</a>
		</li>
		<li>
			<a>苹果</a>
		</li>
		<li>
			<a>google</a>
		</li>
		<li>
			<a>fackbook</a>
		</li>
		<li>
			<a>苹果</a>
		</li>
		<li>
			<a>google</a>
		</li>
		<li>
			<a>小米</a>
		</li>
		<li>
			<a>fackbook</a>
		</li>
		<li>
			<a>苹果</a>
		</li>
	</ul>
</section>