<select size='10' class="form-control" name="bindLang" id='language' multiple>
  <option value="zh_CN" lang="zh" #if(currentLangs.contains('zh_CN') ??) selected #end>简体中文</option>
  <option value="zh_HK" lang="zh" #if(currentLangs.contains('zh_HK') ??) selected #end>香港中文版 </option>
  <option value="zh_TW" lang="zh" #if(currentLangs.contains('zh_TW') ??) selected #end>繁體中文</option>
  <option value="en_US" lang="en" #if(currentLangs.contains('en_US') ??) selected #end>English (United States)</option>
  <option value="en_GB" lang="en" #if(currentLangs.contains('en_GB')??) selected #end>English (UK)</option>
  <option value="en_AU" lang="en" #if(currentLangs.contains('en_AU')??) selected #end>English (Australia)</option>
  <option value="en_ZA" lang="en" #if(currentLangs.contains('en_ZA')??) selected #end>English (South Africa)</option>
  <option value="en_NZ" lang="en" #if(currentLangs.contains('en_NZ')??) selected #end>English (New Zealand)</option>
  <option value="en_CA" lang="en" #if(currentLangs.contains('en_CA')??) selected #end>English (Canada)</option>
  <option value="af"    lang="af" #if(currentLangs.contains('af')??) selected #end>Afrikaans</option>
  <option value="ar"    lang="ar" #if(currentLangs.contains('ar')??) selected #end>العربية</option>
  <option value="ary"   lang="ar" #if(currentLangs.contains('ary')??) selected #end>العربية المغربية</option>
  <option value="as"    lang="as" #if(currentLangs.contains('as')??) selected #end>অসমীয়া</option>
  <option value="azb"   lang="az" #if(currentLangs.contains('azb')??) selected #end>گؤنئی آذربایجان</option>
  <option value="az"    lang="az" #if(currentLangs.contains('az')??) selected #end>Azərbaycan dili</option>
  <option value="bel"   lang="be" #if(currentLangs.contains('bel')??) selected #end>Беларуская мова</option>
  <option value="bg_BG" lang="bg" #if(currentLangs.contains('bg_BG')??) selected #end>Български</option>
  <option value="bn_BD" lang="bn" #if(currentLangs.contains('bn_BD')??) selected #end>বাংলা</option>
  <option value="bo"    lang="bo" #if(currentLangs.contains('bo')??) selected #end>བོད་ཡིག</option>
  <option value="bs_BA" lang="bs" #if(currentLangs.contains('bs_BA')??) selected #end>Bosanski</option>
  <option value="ca"    lang="ca" #if(currentLangs.contains('ca')??) selected #end>Català</option>
  <option value="ceb"   lang="ceb" #if(currentLangs.contains('ceb')??) selected #end>Cebuano</option>
  <option value="cs_CZ" lang="cs" #if(currentLangs.contains('cs_CZ')??) selected #end>Čeština</option>
  <option value="cy"    lang="cy" #if(currentLangs.contains('cy')??) selected #end>Cymraeg</option>
  <option value="da_DK" lang="da" #if(currentLangs.contains('da_DK')??) selected #end>Dansk</option>
  <option value="de_DE" lang="de" #if(currentLangs.contains('de_DE')??) selected #end>Deutsch</option>
  <option value="de_CH_informal" lang="de" #if(currentLangs.contains('de_CH_informal')??) selected #end>Deutsch (Schweiz, Du)</option>
  <option value="de_AT" lang="de" #if(currentLangs.contains('de_AT')??) selected #end>Deutsch (Österreich)</option>
  <option value="de_CH" lang="de" #if(currentLangs.contains('de_CH')??) selected #end>Deutsch (Schweiz)</option>
  <option value="de_DE_formal"   lang="de" #if(currentLangs.contains('de_DE_formal')??) selected #end>Deutsch (Sie)</option>
  <option value="dsb"   lang="dsb" #if(currentLangs.contains('dsb')??) selected #end>Dolnoserbšćina</option>
  <option value="dzo"   lang="dz" #if(currentLangs.contains('dzo')??) selected #end>རྫོང་ཁ</option>
  <option value="el"    lang="el" #if(currentLangs.contains('el')??) selected #end>Ελληνικά</option>
  <option value="eo"    lang="eo" #if(currentLangs.contains('eo')??) selected #end>Esperanto</option>
  <option value="es_AR" lang="es" #if(currentLangs.contains('es_AR')??) selected #end>Español de Argentina</option>
  <option value="es_ES" lang="es" #if(currentLangs.contains('es_ES')??) selected #end>Español</option>
  <option value="es_CR" lang="es" #if(currentLangs.contains('es_CR')??) selected #end>Español de Costa Rica</option>
  <option value="es_DO" lang="es" #if(currentLangs.contains('es_DO')??) selected #end>Español de República Dominicana</option>
  <option value="es_CO" lang="es" #if(currentLangs.contains('es_CO')??) selected #end>Español de Colombia</option>
  <option value="es_EC" lang="es" #if(currentLangs.contains('es_EC')??) selected #end>Español de Ecuador</option>
  <option value="es_MX" lang="es" #if(currentLangs.contains('es_MX')??) selected #end>Español de México</option>
  <option value="es_PE" lang="es" #if(currentLangs.contains('es_PE')??) selected #end>Español de Perú</option>
  <option value="es_VE" lang="es" #if(currentLangs.contains('es_VE')??) selected #end>Español de Venezuela</option>
  <option value="es_CL" lang="es" #if(currentLangs.contains('es_CL')??) selected #end>Español de Chile</option>
  <option value="es_UY" lang="es" #if(currentLangs.contains('es_UY')??) selected #end>Español de Uruguay</option>
  <option value="es_PR" lang="es" #if(currentLangs.contains('es_PR')??) selected #end>Español de Puerto Rico</option>
  <option value="es_GT" lang="es" #if(currentLangs.contains('es_GT')??) selected #end>Español de Guatemala</option>
  <option value="et"    lang="et" #if(currentLangs.contains('et')??) selected #end>Eesti</option>
  <option value="eu"    lang="eu" #if(currentLangs.contains('eu')??) selected #end>Euskara</option>
  <option value="fa_AF" lang="fa" #if(currentLangs.contains('fa_AF')??) selected #end>(فارسی (افغانستان</option>
  <option value="fa_IR" lang="fa" #if(currentLangs.contains('fa_IR')??) selected #end>فارسی</option>
  <option value="fi"    lang="fi" #if(currentLangs.contains('fi')??) selected #end>Suomi</option>
  <option value="fr_CA" lang="fr" #if(currentLangs.contains('fr_CA')??) selected #end>Français du Canada</option>
  <option value="fr_BE" lang="fr" #if(currentLangs.contains('fr_BE')??) selected #end>Français de Belgique</option>
  <option value="fr_FR" lang="fr" #if(currentLangs.contains('fr_FR')??) selected #end>Français</option>
  <option value="fur"   lang="fur" #if(currentLangs.contains('fur')??) selected #end>Friulian</option>
  <option value="gd"    lang="gd" #if(currentLangs.contains('gd')??) selected #end>Gàidhlig</option>
  <option value="gl_ES" lang="gl" #if(currentLangs.contains('gl_ES')??) selected #end>Galego</option>
  <option value="gu"    lang="gu" #if(currentLangs.contains('gu')??) selected #end>ગુજરાતી</option>
  <option value="haz"   lang="haz" #if(currentLangs.contains('haz')??) selected #end>هزاره گی</option>
  <option value="he_IL" lang="he" #if(currentLangs.contains('he_IL')??) selected #end>עִבְרִית</option>
  <option value="hi_IN" lang="hi" #if(currentLangs.contains('hi_IN')??) selected #end>हिन्दी</option>
  <option value="hr"    lang="hr" #if(currentLangs.contains('hr')??) selected #end>Hrvatski</option>
  <option value="hsb"   lang="hsb" #if(currentLangs.contains('hsb')??) selected #end>Hornjoserbšćina</option>
  <option value="hu_HU" lang="hu" #if(currentLangs.contains('hu_HU')??) selected #end>Magyar</option>
  <option value="hy"    lang="hy" #if(currentLangs.contains('hy')??) selected #end>Հայերեն</option>
  <option value="id_ID" lang="id" #if(currentLangs.contains('id_ID')??) selected #end>Bahasa Indonesia</option>
  <option value="is_IS" lang="is" #if(currentLangs.contains('is_IS')??) selected #end>Íslenska</option>
  <option value="it_IT" lang="it" #if(currentLangs.contains('it_IT')??) selected #end>Italiano</option>
  <option value="ja"    lang="ja" #if(currentLangs.contains('ja')??) selected #end>日本語</option>
  <option value="jv_ID" lang="jv" #if(currentLangs.contains('jv_ID')??) selected #end>Basa Jawa</option>
  <option value="ka_GE" lang="ka" #if(currentLangs.contains('ka_GE')??) selected #end>ქართული</option>
  <option value="kab"   lang="kab" #if(currentLangs.contains('kab')??) selected #end>Taqbaylit</option>
  <option value="kk"    lang="kk" #if(currentLangs.contains('kk')??) selected #end>Қазақ тілі</option>
  <option value="km"    lang="km" #if(currentLangs.contains('km')??) selected #end>ភាសាខ្មែរ</option>
  <option value="kn"    lang="kn" #if(currentLangs.contains('kn')??) selected #end>ಕನ್ನಡ</option>
  <option value="ko_KR" lang="ko" #if(currentLangs.contains('ko_KR')??) selected #end>한국어</option>
  <option value="ckb"   lang="ku" #if(currentLangs.contains('ckb')??) selected #end>كوردی‎</option>
  <option value="lo"    lang="lo" #if(currentLangs.contains('lo')??) selected #end>ພາສາລາວ</option>
  <option value="lt_LT" lang="lt" #if(currentLangs.contains('lt_LT')??) selected #end>Lietuvių kalba</option>
  <option value="lv"    lang="lv" #if(currentLangs.contains('lv')??) selected #end>Latviešu valoda</option>
  <option value="mk_MK" lang="mk" #if(currentLangs.contains('mk_MK')??) selected #end>Македонски јазик</option>
  <option value="ml_IN" lang="ml" #if(currentLangs.contains('ml_IN')??) selected #end>മലയാളം</option>
  <option value="mn"    lang="mn" #if(currentLangs.contains('mn')??) selected #end>Монгол</option>
  <option value="mr"    lang="mr" #if(currentLangs.contains('mr')??) selected #end>मराठी</option>
  <option value="ms_MY" lang="ms" #if(currentLangs.contains('ms_MY')??) selected #end>Bahasa Melayu</option>
  <option value="my_MM" lang="my" #if(currentLangs.contains('my_MM')??) selected #end>ဗမာစာ</option>
  <option value="nb_NO" lang="nb" #if(currentLangs.contains('nb_NO')??) selected #end>Norsk bokmål</option>
  <option value="ne_NP" lang="ne" #if(currentLangs.contains('ne_NP')??) selected #end>नेपाली</option>
  <option value="nl_NL_formal" lang="nl" #if(currentLangs.contains('nl_NL_formal')??) selected #end>Nederlands (Formeel)</option>
  <option value="nl_NL" lang="nl" #if(currentLangs.contains('nl_NL')??) selected #end>Nederlands</option>
  <option value="nl_BE" lang="nl" #if(currentLangs.contains('nl_BE')??) selected #end>Nederlands (België)</option>
  <option value="nn_NO" lang="nn" #if(currentLangs.contains('nn_NO')??) selected #end>Norsk nynorsk</option>
  <option value="oci"   lang="oc" #if(currentLangs.contains('oci')??) selected #end>Occitan</option>
  <option value="pa_IN" lang="pa" #if(currentLangs.contains('pa_IN')??) selected #end>ਪੰਜਾਬੀ</option>
  <option value="pl_PL" lang="pl" #if(currentLangs.contains('pl_PL')??) selected #end>Polski</option>
  <option value="ps"    lang="ps" #if(currentLangs.contains('ps')??) selected #end>پښتو</option>
  <option value="pt_AO" lang="pt" #if(currentLangs.contains('pt_AO')??) selected #end>Português de Angola</option>
  <option value="pt_BR" lang="pt" #if(currentLangs.contains('pt_BR')??) selected #end>Português do Brasil</option>
  <option value="pt_PT" lang="pt" #if(currentLangs.contains('pt_PT')??) selected #end>Português</option>
  <option value="pt_PT_ao90" lang="pt" #if(currentLangs.contains('pt_PT_ao90')??) selected #end>Português (AO90)</option>
  <option value="rhg"   lang="rhg" #if(currentLangs.contains('rhg')??) selected #end>Ruáinga</option>
  <option value="ro_RO" lang="ro" #if(currentLangs.contains('ro_RO')??) selected #end>Română</option>
  <option value="ru_RU" lang="ru" #if(currentLangs.contains('ru_RU')??) selected #end>Русский</option>
  <option value="sah"   lang="sah" #if(currentLangs.contains('sah')??) selected #end>Сахалыы</option>
  <option value="snd"   lang="sd" #if(currentLangs.contains('snd')??) selected #end>سنڌي</option>
  <option value="si_LK" lang="si" #if(currentLangs.contains('si_LK')??) selected #end>සිංහල</option>
  <option value="sk_SK" lang="sk" #if(currentLangs.contains('sk_SK')??) selected #end>Slovenčina</option>
  <option value="skr"   lang="skr" #if(currentLangs.contains('skr')??) selected #end>سرائیکی</option>
  <option value="sl_SI" lang="sl" #if(currentLangs.contains('sl_SI')??) selected #end>Slovenščina</option>
  <option value="sq"    lang="sq" #if(currentLangs.contains('sq')??) selected #end>Shqip</option>
  <option value="sr_RS" lang="sr" #if(currentLangs.contains('sr_RS')??) selected #end>Српски језик</option>
  <option value="sv_SE" lang="sv" #if(currentLangs.contains('sv_SE')??) selected #end>Svenska</option>
  <option value="sw"    lang="sw" #if(currentLangs.contains('sw')??) selected #end>Kiswahili</option>
  <option value="szl"   lang="szl" #if(currentLangs.contains('szl')??) selected #end>Ślōnskŏ gŏdka</option>
  <option value="ta_IN" lang="ta" #if(currentLangs.contains('ta_IN')??) selected #end>தமிழ்</option>
  <option value="ta_LK" lang="ta" #if(currentLangs.contains('ta_LK')??) selected #end>தமிழ்</option>
  <option value="te"    lang="te" #if(currentLangs.contains('te')??) selected #end>తెలుగు</option>
  <option value="th"    lang="th" #if(currentLangs.contains('th')??) selected #end>ไทย</option>
  <option value="tl"    lang="tl" #if(currentLangs.contains('tl')??) selected #end>Tagalog</option>
  <option value="tr_TR" lang="tr" #if(currentLangs.contains('tr_TR')??) selected #end>Türkçe</option>
  <option value="tt_RU" lang="tt" #if(currentLangs.contains('tt_RU')??) selected #end>Татар теле</option>
  <option value="tah"   lang="ty" #if(currentLangs.contains('tah')??) selected #end>Reo Tahiti</option>
  <option value="ug_CN" lang="ug" #if(currentLangs.contains('ug_CN')??) selected #end>ئۇيغۇرچە</option>
  <option value="uk"    lang="uk" #if(currentLangs.contains('uk')??) selected #end>Українська</option>
  <option value="ur"    lang="ur" #if(currentLangs.contains('ur')??) selected #end>اردو</option>
  <option value="uz_UZ" lang="uz" #if(currentLangs.contains('uz_UZ')??) selected #end>O‘zbekcha</option>
  <option value="vi"    lang="vi" #if(currentLangs.contains('vi')??) selected #end>Tiếng Việt</option>
</select>