<style>
    .comment-content p {
        display: inline;
    }

    table td a {
        color: #007bff;
    }

</style>

<div class="card card-outline card-dashboard">
    <div class="card-header with-border">
        <h3 class="card-title">最新表单</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <tbody>
            #for(form : formInfoList)
            <tr>
                <td style="width: 150px">#date(form.created ??)</td>
                <td><a href="#(form.url ??)" target="_blank">#(form.name ??)</a></td>
            </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
