#@layout()
#define css()
#@layout_css?()
<link rel="stylesheet" href="#(CPATH)/static/components/datepicker/css/bootstrap-datepicker3.min.css">
#end
#define script()
#@layout_script?()
<script src="#(CPATH)/static/components/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="#(CPATH)/static/components/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script>
    $("input[hint='date']").datepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN'
    });

    function doSubmit() {
        ajaxSubmit("#form1", function (data) {
            $("#entryId").attr("value", data.id);
            toastr.success('内容保存成功。');
        })
    }

    $("#submit").on("click", function () {
        doSubmit();
    })


    $(function () {

        let isStatic = $(".isStatic")

        isStatic.change(function (){

            let isStaticShow = $("#formDict_with_static").val();

            if(isStaticShow == "true"){
                $("#importType").css("display","");
                $("#importText").css("display","");
                $("#importUrl").css("display","none");
                $("#headers").css("display","none");

                $("#importTextTextarea").prop("name","formDict.import_text");

                $("#importUrlInput").removeAttr("name")
            }else {
                $("#importType").css("display","none");
                $("#importText").css("display","none");
                $("#importUrl").css("display","");
                $("#headers").css("display","");

                $('input:radio[name="formDict.import_type"][value="0"]').prop("checked",false);
                $('input:radio[name="formDict.import_type"][value="1"]').prop("checked",false);
                $('input:radio[name="formDict.import_type"][value="2"]').prop("checked",true);

                $("#importUrlInput").prop("name","formDict.import_text");
                $("#importTextTextarea").removeAttr("name")
            }

        })

    })
</script>
#end

#define content()

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            #if(formDict.id ??) 编辑 #else 新增 #end
                            <small data-toggle="tooltip" title="" data-placement="right"
                                   data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                            <small> 首页 / 表单 / 数据字典 / 编辑</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <form class=" form-setting" autocomplete="off"
                      action="/admin/form/formDict/doSave"
                      method="POST" id="form1">

                    <div class="card-body ">
                        <input type="hidden" id="entryId" name="formDict.id" value="#(formDict.id ??)">


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">字典名称</label>
                            <div class="col-sm-6">

                                <input type="input" name="formDict.name" class="form-control"
                                       value="#(formDict.name ??)"
                                       placeholder="请输入字典名称" required>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">是否级联</label>
                            <div class="col-sm-6">

                                <input type="checkbox" class="switchery" data-for="formDict_with_cascade"
                                       #checkedIf(formDict.with_cascade ??)>
                                <input type="hidden" id="formDict_with_cascade" name="formDict.with_cascade">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">是否是静态内容</label>
                            <div class="col-sm-6">

                                <input type="checkbox" class="switchery isStatic" data-for="formDict_with_static"
                                       #checkedIf(formDict.with_static ??)>
                                <input type="hidden" id="formDict_with_static" name="formDict.with_static">
                            </div>
                        </div>

                        <div class="form-group row" #if(!formDict.with_static ??) style="display: none" #end id="importType">
                            <label class="col-sm-2 col-form-label">导入类型</label>
                            <div class="col-sm-6" style="margin-top: 10px">
                                <input type="radio" name="formDict.import_type" value="0" #if(formDict.import_type ??== 0) checked #end>一行一个内容

                                <input style="margin-left: 20px" type="radio" name="formDict.import_type" value="1" #if(formDict.import_type ??== 1) checked #end>json内容

                                <div style="margin-left: 20px;display: none">
                                    <input type="radio" name="formDict.import_type" value="2" #if(!formDict.with_static ??) checked #end>动态URL
                                </div>

                            </div>
                        </div>

                        <div class="form-group row" #if(!formDict.with_static ??) style="display: none" #end id="importText">
                            <label class="col-sm-2 col-form-label">导入内容</label>
                            <div class="col-sm-6">

                                <textarea id="importTextTextarea" name="formDict.import_text" class="form-control" rows="3">#(formDict.import_text ??)</textarea>

                            </div>
                        </div>

                        <div class="form-group row" #if(formDict.with_static ??) style="display: none" #end id="importUrl">
                            <label class="col-sm-2 col-form-label">动态URL</label>
                            <div class="col-sm-6">

                                <input type="input" id="importUrlInput" class="form-control"
                                       value="#(formDict.import_text ??)" name="formDict.import_text"
                                       placeholder="请输入导入数据的url">
                            </div>
                        </div>

                        <div class="form-group row" #if(formDict.with_static ??) style="display: none" #end id="headers">
                            <label class="col-sm-2 col-form-label">headers</label>
                            <div class="col-sm-6">

                                <input type="input" name="formDict.headers" class="form-control"
                                       value="#(formDict.headers ??)"
                                       placeholder="请输入导入数据的headers信息">
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="offset-sm-2 col-sm-10 submit-block">
                            <div class="card-submit">
                                <button id="submit" type="button" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
    </div>

</section>

#end
