#@layout()

#define script()
<script>

    function doDel(id) {
        ajaxGet("/admin/form/formInfo/doDel/" + id);
    }

</script>
#end

#define content()

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                表单管理
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 表单 / 表单管理</small>
                            </h1>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <div class=" float-sm-right" style="padding-top: 45px">
                        <a href="edit" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>新建</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-primary">
                    <div class="card-header with-border">

                        <form class=" admin-search-panel" action="/admin/form/formInfo/list" method="get">
                            <div class="row">

                                <div class="form-group col-lg-2">
                                    <input type="text" class="form-control" placeholder="请输入名称" name="name" value="#para('name')">
                                </div>

                                <div class="form-group col-lg-2">
                                    <button type="submit" class="btn btn-primary ">查询</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
	                                    <input class="tableCheckAll" type="checkbox"/>
	                                </th>
	                                <th style="width: 150px">表单名称</th>
	                                <th style="width: 100px">缩略图</th>
	                                <th style="width: 100px">是否需要审核</th>
	                                <th style="width: 100px">是否需要回复</th>
	                                <th style="width: 100px">是否需要输入验证码</th>
	                                <th style="width: 100px">是否需要对手机号进行验证</th>

                            </tr>
                            #for(entry : page.list)
                            <tr>
                                <td><input name="tableItem" type="checkbox" value="#(entry.id)" /></td>
                                <td>
                                #(entry.name ??)
                                    <div class="jp-action-card">
                                        <div class="jp-action-body">
                                            <a href="#">表单构建</a> |
                                            <a href="/admin/form/formInfo/edit/#(entry.id)">编辑</a> |
                                            <a href="javascript:;" class="red-action"
                                               onclick="doDel('#(entry.id)')">删除</a>
                                        </div>
                                    </div>
                                </td>
	                                <td>
                                        <img #if(entry.thumbnail ??) src="#(entry.thumbnail ??)" #else src="/static/commons/img/nothumbnail.jpg" #end style="height: 40%;width: 40%">
                                    </td>

                                   <td>#if(entry.with_audit ??)<i class="fa fa-2x fa-toggle-on" style="color:#32bc69"></i>
                                       #else <i class="fa fa-2x fa-toggle-off"></i> #end
                                   </td>

	                                <td>#if(entry.with_reply ??)<i class="fa fa-2x fa-toggle-on" style="color:#32bc69"></i>
                                        #else <i class="fa fa-2x fa-toggle-off"></i> #end
                                    </td>

	                                <td>#if(entry.with_valid ??)<i class="fa fa-2x fa-toggle-on" style="color:#32bc69"></i>
                                        #else <i class="fa fa-2x fa-toggle-off"></i> #end
                                    </td>

	                                <td>#if(entry.with_valid_mobile ??)<i class="fa fa-2x fa-toggle-on" style="color:#32bc69"></i>
                                        #else <i class="fa fa-2x fa-toggle-off"></i> #end
                                    </td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            	 #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
#end
