#include("_inc/_layout.html")
#@layout()
#define css()
<style>
	.area_type_btn, .route_type_btn {
		padding: 0 .5rem;
	}
</style>
#end

#define script()
<script>
    $(document).on('click', '.category_nav', function() {
        $(this).addClass("weui-btn_primary").removeClass("weui-btn_default").siblings().removeClass("weui-btn_primary").addClass("weui-btn_default");
        $('#categoryId').val($(this).val());
    });
</script>
#end

#define content()
<!-- 搜索内容 -->
<div>
	<form action="#(CPATH)/route/search" method="post" id="form">
		<input type="hidden" name="categoryId" id="categoryId">
		<div class="weui-cells__title font-16 txt-color-green">搜索条件</div>
		<div class="weui-cells weui-cells_form">
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">线路名称：</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" name="keyword" placeholder="请输入线路名称"/>
				</div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">线路编号：</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" name="code" placeholder="请输入线路编号"/>
				</div>
			</div>

			<!--<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">线路类型：</label></div>
				<div class="weui-cell__bd">
					#categories(flag='nav')
					#for(ct : categories)
					<button type="button" class="weui-btn weui-btn_mini weui-btn_default category_nav" value="#(ct.id)">#(ct.title ??)</button>
					#end
					#end
				</div>
			</div>-->
		</div>

		<div class="weui-btn-area">
			<button type="submit" class="weui-btn weui-btn_primary">搜索</button>
		</div>
	</form>
</div>
<div id="gohome" title="返回首页"><i class="icon-home"></i></div>
#include("_inc/_footer_nav.html")
#end