#include("_inc/_layout.html")
#@layout()
#define css()
<style>

	.weui-media-box_appmsg {
		flex-direction: column;
	}

	.user-login {
		font-size: .8rem;
		text-align: center;
		font-weight: 700;
	}

	.user-login>a {
		color: #fff;
	}

</style>
#end
#define content()

<!-- 用户中心 -->
<div class="weui-content">
	<div class="wy-center-top">
		<div class="weui-media-box weui-media-box_appmsg">
			<div class="weui-media-box__hd">
				<img class="weui-media-box__thumb radius" src="#(user.avatar ??'images/headimg.jpg')" alt="">
			</div>
			<div class="weui-media-box__bd">
				<h4 class="weui-media-box__title user-name">#(user.nickname ?? user.username)</h4>
				#if(!user)
				<p class="user-login"><a href="#">登录</a></p>
				#end
			</div>
		</div>
	</div>
	<div class="weui-panel">
		<div class="weui-panel__bd">
			<div class="weui-media-box weui-media-box_small-appmsg">
				<div class="weui-cells">
					<a class="weui-cell weui-cell_access" href="#">
						<div class="weui-cell__hd"><img src="images/center-icon-yhq.png" alt="" class="center-list-icon"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p class="center-list-txt">我的优惠券</p>
						</div>
						<span class="weui-cell__ft">#(couponCount ??0)张 优惠券</span>
					</a>
					<a class="weui-cell weui-cell_access" href="#">
						<div class="weui-cell__hd"><img src="images/center-icon-zj.png" alt="" class="center-list-icon"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p class="center-list-txt">我的足迹</p>
						</div>
						<span class="weui-cell__ft"></span>
					</a>
					<a class="weui-cell weui-cell_access" href="#">
						<div class="weui-cell__hd"><img src="images/center-icon-jf.png" alt="" class="center-list-icon"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p class="center-list-txt">积分流水</p>
						</div>
						<span class="weui-cell__ft"></span>
					</a>
					 <a class="weui-cell weui-cell_access" href="#">
                      <div class="weui-cell__hd"><img src="images/center-icon-comment.png" alt="" class="center-list-icon"></div>
                      <div class="weui-cell__bd weui-cell_primary">
                            <p class="center-list-txt">我的评论</p>
                      </div>
                      <span class="weui-cell__ft"></span>
                    </a>
				</div>
			</div>
		</div>
	</div>
	<div class="weui-panel">
		<div class="weui-panel__bd">
			<div class="weui-media-box weui-media-box_small-appmsg">
				<div class="weui-cells">
					<a class="weui-cell weui-cell_access" href="#">
						<div class="weui-cell__hd"><img src="images/center-icon-tgy.png" alt="" class="center-list-icon"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p class="center-list-txt">申请推广员</p>
						</div>
						<!--<span class="weui-cell__ft">${tips!}</span>-->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="foot-black"></div>
#include("_inc/_footer_nav.html")
#end