.product-swipper {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product-swipper-item ul a {
    display: inline-block;
}

.product-swipper-item ul {
    width: 100%;
    display: flex;
    list-style: none;
    flex-shrink: 1;
    justify-content: space-between;
    padding: 0;
}

.product-swipper-item ul li {
    width: 16%;
}

.product-swipper-item ul li.active {
    border: 2px solid #f38d00;
    box-sizing: border-box;
}

.product-swipper-item ul li img {
    max-width: 100%;
    max-height: 80px;
}

.product-title {
    padding: 0;
    font-size: 1.8rem;
    font-weight: 500;

}

.product-info {
    display: flex;
    align-items: center;
}

.product-info span {

    padding: 0;
    font-size: 14px;
    color: #999;
}

.product-info div {
    margin: 0 10px 0 0;
}

.product-price {
    margin: 20px 0;
    font-size: 28px;
    color: #333;
    font-weight: 600;
}

.product-usp {
    font-size: 14px;
    color: #666;
    width: 100%;
}

.product-specs ul a {
    display: inline-block;
}

.product-specs ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-shrink: 1;
    padding: 0;
    margin-top: 20px;
    align-items: center;
}

.product-specs ul li {
    padding: 2px 10px;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center;
    border: 2px solid #ccc;
    cursor: pointer;

}

.product-specs ul  li.active {
    border: 2px solid #f38d00;
    box-sizing: border-box;
    color: #f38d00;
}

.product-btn {
    margin-top: 40px;
}

.product-btn a {
    padding: 10px 20px;
    margin-right: 10px;
}

.product-btn-buy {
    background-color: #f38d00;
    border: 1px solid #f38d00;
    color: #fff;
}

a.product-btn-buy:hover {
    color: #fff;
}

.product-btn-cart {
    color: #E5511D;
    border-color: #F0CAB6;
    background: #FFE4D0;
}

a.product-btn-cart:hover {
    color: #E5511D;
}

.product-btn-star {
    margin-top: 1rem;
}

.product-btn-star a {
    color: #666;
    font-size: 14px;
}

.product-tag {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #eee;
}

.product-tag a {
    margin-right: 10px;
}

.product-tag p {
    color: #999;
    font-size: 14px;
    margin-bottom: 4px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    width: 100%;
    height: 400px;
}

.gallery-thumbs {
    height: 70px;
    width: 100%;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
}

.gallery-thumbs .swiper-slide-thumb-active {
    border: #f38d00 2px solid;
}

/******************************* comments ********************************/
.comment-block{
    background-color: #fff;
    padding:0 20px 20px 20px;
}

.comment-form{
    padding:20px 0 0 0;
    margin:20px 0;
}
.comment-form .cl-textarea{
    border:1px solid #dfdfdf;
}

.comment-form button{
    float: right;
    border:none;
    background-color: #FF9400;
    color:#fff;
    font-size:16px;
    padding:0.5rem 1rem;
    cursor: pointer;
    margin-top:10px;
}

.comment-form button:hover{
    background-color:#f38d00 ;
}

.comment-form>div>textarea{
    border:none;
    width: 100%;
    height: 100%;
    line-height: 3rem;
    padding:0 1rem;
    box-sizing: border-box;
}
.comment-form>div>textarea:focus,.comment-form button:focus{
    outline: none;
}

.comment-vcode{
    float: left;
    font-size:1rem;
    margin-top:0.5rem;
}
.comment-vcode .vcode-img{
    height: 2.3rem;
    margin-top:-3px;
}
.comment-vcode input{
    padding:0 0.5rem;
    height: 2.6rem;
    border:1px solid #dfdfdf;
    outline: none;
}

.comment-item{
    padding-bottom:0.5rem;
    margin-top:2rem;
    border-bottom:1px solid #dee2e6;
    position: relative;
}
.comment-secondary-panel{
    padding-bottom:0.5rem;
    margin-top:1rem;
    padding-top:1rem;
    background-color: #f4f4f4;
    position: relative;
}

.comment-item .comment-item-portrait{
    position: absolute;
    top: 0;
    left: 0;
}

.comment-item-portrait img{
    width: 60px;
    height: 60px;
}
.comment-item .comment-item-content{
    padding:0 0 0 70px;
    width: 100%;
}
.comment-item .comment-secondary-panel .comment-item-content{
    padding:0 0 10px 20px;
    width: 100%;
}
.comment-item-content-item div{
    display: inline;
    padding:0 0.5rem 0 0;
    font-size:14px;
    color:#999;
}
.comment-item-content-item .comment-author{
    font-size:16px;
    color:#333;
    font-weight: bold;
}
.comment-item .comment-item-content .comment-item-content-main{
    margin-top:0.5rem;
    color:#666;
}
.comment-item .comment-item-secondary{
    border:1px solid #e5e5e5;
    padding:0.5rem 0.5rem 0 0.5rem;
    margin:0.5rem 0;
    background-color: #fffffb;
}


