.product-swipper {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product-swipper-item ul a {
    display: inline-block;
}

.product-swipper-item ul {
    width: 100%;
    display: flex;
    list-style: none;
    flex-shrink: 1;
    justify-content: space-between;
    padding: 0;
}

.product-swipper-item ul li {
    width: 16%;
}

.product-swipper-item ul li.active {
    border: 2px solid #f38d00;
    box-sizing: border-box;
}

.product-swipper-item ul li img {
    max-width: 100%;
    max-height: 80px;
}


.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    width: 100%;
    height: 400px;
}

.gallery-thumbs {
    height: 70px;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 0;
}

.gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
}

.gallery-thumbs .swiper-slide-thumb-active {
    border: #f38d00 2px solid;
}

.product-title {
    padding: 0;
    font-size: 1.8rem;
    font-weight: 500;

}

.product-info {
    display: flex;
    align-items: center;
}

.product-info span {

    padding: 0;
    font-size: 14px;
    color: #999;
}

.product-info div {
    margin: 0 10px 0 0;
}

.product-price {
    margin: 20px 0;
    font-size: 28px;
    color: #333;
    font-weight: 600;
}

.product-usp {
    font-size: 14px;
    color: #666;
    width: 100%;
}

.product-specs ul a {
    display: inline-block;
}

.product-specs ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-shrink: 1;
    padding: 0;
    margin-top: 20px;
    align-items: center;
}

.product-specs ul li {
    padding: 2px 10px;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center;
    border: 2px solid #ccc;
    cursor: pointer;

}

.product-specs ul li.active {
    border: 2px solid #f38d00;
    box-sizing: border-box;
    color: #f38d00;
}

.product-btn {
    margin-top: 40px;
}

.product-btn a {
    padding: 10px 20px;
    margin-right: 10px;
}

.product-btn-buy {
    background-color: #f38d00;
    border: 1px solid #f38d00;
    color: #fff;
}

a.product-btn-buy:hover {
    color: #fff;
}

.product-btn-cart {
    color: #E5511D;
    border-color: #F0CAB6;
    background: #FFE4D0;
}

a.product-btn-cart:hover {
    color: #E5511D;
}

.product-btn-star {
    margin-top: 1rem;
}

.product-btn-star a {
    color: #666;
    font-size: 14px;
}

.product-tag {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #eee;
}

.product-tag a {
    margin-right: 10px;
}

.product-tag p {
    color: #999;
    font-size: 14px;
    margin-bottom: 4px;
}

/******************************* comments ********************************/
.comment-default-block {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}

.comment-default-block input::-webkit-input-placeholder, .comment-default-block textarea::-webkit-input-placeholder {
    color: #bbb;
}

.comment-default-block input:-moz-placeholder, .comment-default-block textarea:-moz-placeholder {
    color: #bbb;
}

.comment-default-block input::-moz-placeholder, .comment-default-block textarea::-moz-placeholder {
    color: #bbb;
}

.comment-default-block input:-ms-input-placeholder, .comment-default-block textarea:-ms-input-placeholder {
    color: #bbb;
}

.comment-form {
    margin-bottom: 20px;
}

.comment-form button {
    float: right;
    border: none;
    background-color: #FF9400;
    color: #fff;
    font-size: 16px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 0.22rem;
    white-space: normal;
    box-shadow: 0px 5px 20px -3px rgba(255, 148, 0, .8) !important;
}

.comment-form button:hover {
    background-color: #f38d00;
}

.comment-form button:hover {
    background-color: #f38d00;
}

.comment-form button:focus {
    outline: none;
}

.comment-form > div > textarea {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: solid 1px #f5f5f5;
    border-radius: 0.22rem;
    background-color: #f5f5f5;
    color: #444444;
}

.comment-form > div > textarea:focus {
    outline: none;
    background-color: #f5f5f5bb;
    border: solid 1px #ddd;
}

.comment-page-title {
    padding: 20px 0 10px 0;
}

.comment-vcode {
    float: left;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.comment-vcode .vcode-img {
    height: 2.3rem;
    margin-top: -3px;
    cursor: pointer;
}

.comment-vcode input {
    padding: 0 0.5rem;
    height: 2.6rem;
    border: solid 1px #f5f5f5;
    border-radius: 0.22rem;
    background-color: #f5f5f5;
    outline: none;
}

.comment-vcode input:focus {
    background-color: #f5f5f5bb;
    border: solid 1px #ddd;
}

.comment-item {
    position: relative;
    margin: 1.5rem 0;
}

.comment-secondary-panel {
    margin-top: 1rem;
    padding-top: 1rem;
    background-color: #f5f5f5;
    position: relative;
}

.comment-reply-btn {
    float: right;
}

.comment-reply-btn a {
    color: #4285f4;
    font-size: 14px;
}

.comment-item .comment-item-portrait {
    position: absolute;
    top: 0;
    left: 0;
}

.comment-item-portrait img {
    width: 50px;
    height: 50px;
}

.comment-item .comment-item-content {
    padding: 0 0 0 60px;
    width: 100%;
}

.comment-item .comment-secondary-panel .comment-item-content {
    padding: 0 20px;
    width: 100%;
}

.comment-item-content-item .comment-time {
    display: inline;
    padding: 0 0.5rem 0 0;
    font-size: 14px;
    color: #999;
}

.comment-item-content-item div {
    display: inline;
}

.comment-item-content-item .comment-author {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.comment-item .comment-item-content .comment-item-content-main {
    color: #666;
    border-bottom: 1px solid #eee;
    padding: 12px 0 1.5rem;
}

.comment-item .comment-item-secondary {
    border: 1px solid #e5e5e5;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin: 0.5rem 0;
    background-color: #fffffb;
}

.comment-secondary-panel > .triangle-icon {
    color: #f5f5f5;
    position: absolute;
    top: -22px;
    left: 50px;
    font-size: 34px;
}
.comment-secondary-panel > .comment-item-content > .comment-item-content-main{
    border-bottom: none;
}