.product-swipper {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product-swipper img {
    width: 100%;
}

.product-swipper-item ul a {
    display: inline-block;
}

.product-swipper-item ul {
    width: 100%;
    display: flex;
    list-style: none;
    flex-shrink: 1;
    justify-content: space-between;
    padding: 0;
}

.product-swipper-item ul li {
    width: 16%;
}

.product-swipper-item ul li.active {
    border: 2px solid #f38d00;
    box-sizing: border-box;
}

.product-swipper-item ul li img {
    max-width: 100%;
    max-height: 80px;
}

.product-title {
    padding: 20px 0 0 0;
    font-size: 1.8rem;
    font-weight: 500;

}

.product-info {
    display: flex;
    align-items: center;
}

.product-info span {

    padding: 0;
    font-size: 14px;
    color: #999;
}

.product-info div {
    margin: 0 10px 0 0;
}

.product-price {
    margin: 20px 0;
    font-size: 28px;
    color: #333;
    font-weight: 600;
}

.product-usp {
    font-size: 14px;
    color: #666;
    width: 100%;
}

.product-specs ul a {
    display: inline-block;
}

.product-specs ul {
    width: 100%;
    display: flex;
    list-style: none;
    flex-shrink: 1;
    padding: 0;
    margin-top: 20px;
    align-items: center;
}

.product-specs ul li {
    width: 14%;
    padding: 2px;
    margin-right: 4px;
    text-align: center;
    border: 2px solid #ccc;
    cursor: pointer;
}

.product-specs ul  li.active {
    border: 2px solid #f38d00;
    box-sizing: border-box;
    color: #f38d00;
}


.product-btn {
    margin-top: 40px;
}

.product-btn a {
    padding: 10px 20px;
    margin-right: 10px;
}

.product-btn-buy {
    background-color: #f38d00;
    border: 1px solid #f38d00;
    color: #fff;
}

a.product-btn-buy:hover {
    color: #fff;
}

.product-btn-cart {
    color: #E5511D;
    border-color: #F0CAB6;
    background: #FFE4D0;
}

a.product-btn-cart:hover {
    color: #E5511D;
}

.product-btn-star {
    margin-top: 1rem;
}

.product-btn-star a {
    color: #666;
    font-size: 14px;
}

.product-tag {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #eee;
}

.product-tag a {
    margin-right: 10px;
}

.product-tag p {
    color: #999;
    font-size: 14px;
    margin-bottom: 4px;
}



