#@layout()

#define script()
<script>

    function deliver() {
        openlayer('发货','/admin/order/deliver');
    }

    function invoice() {
        openlayer('开具发票','/admin/order/invoice');
    }

    function remark() {
        openlayer('备注信息','/admin/order/remark');
    }

    function updatePaystatus() {
        openlayer('手动入账','/admin/order/updatePaystatus');
    }

    function updatePrice() {
        openlayer('修改价格','/admin/order/updatePrice');
    }
    
    function openlayer(title,url) {
        layer.open({
            type: 2,
            title: title,
            anim: 2,
            shadeClose: true,
            shade: 0.5,
            area: ['70%', '90%'],
            content: jpress.cpath + url,
            end: function () {

            }
        });
    }

</script>
#end

#define css()
<style>
    .page-header{
        margin: 10px 0 20px;
    }
    .remark{
        width: 100%;
        height: 100px;
        background-color: #f5f5f5;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    address{
        margin-top: 10px;
        margin-bottom: 30px;
    }

</style>
#end

#define content()
<div class="content-wrapper" style="min-height: 1126px;">
    <section class="content-header">
        <h1>
            订单信息
            <small>订单号：##(order.ns ??)</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 订单信息.
                    <small class="pull-right">下单时间: #date(order.created)</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <strong>订单预览</strong>
                <address>
                    价格：88.00 元<br>
                    订单用户：<a href="#(CPATH)/admin/user/detail/#(orderUser.id ??)"> #(orderUser.nickname ??)</a><br>
                    支付状态：#(order.payStatusStr ??)<br>
                    物流状态：#(order.deliveryStatusStr ??)<br>
                    发票状态：#(order.invoiceStatusStr ??)
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>收货信息</strong>
                <address>
                    收件人：#(order.delivery_addr_username ??)<br>
                    电话：#(order.delivery_addr_mobile ??)<br>
                    编码: #(order.delivery_addr_zipcode ??)<br>
                    地址：#(order.delivery_addr_province ??) #(order.delivery_addr_city ??) #(order.delivery_addr_district ??)<br>
                    #(order.delivery_addr_detail ??)
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>备注信息</strong>
                <address>
                   <div class="remark">
                       #(order.remarks ?? '暂无备注信息')
                   </div>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>分销情况</strong>
                <address>
                    分销用户：#(distUser.nickname ?? '未设置昵称')<br>
                    分销金额：#(order.dist_amount ??)<br>
<!--                    San Francisco, CA 94107<br>-->
<!--                    Phone: (555) 539-1037<br>-->
<!--                    Email: john.doe@example.com-->
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>优惠券</strong>
                <address>
                    优惠码：#(order.coupon_code ??)<br>
                    优惠金额：#(order.coupon_amount ??)<br>
                    用户: john.doe@example.com
                </address>
            </div>
            <!-- /.col -->
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>发票信息</strong>
                <address>
                    类型：<br>
                    抬头：<br>
                    内容：<br>
                    纳税人识别号：
                </address>
            </div>

        </div>
        <!-- /.row -->

        <div class="row no-print">
            <div class="col-xs-2">
                <a href="#" class="btn btn-default"><i class="fa fa-print"></i> 打印 </a>
            </div>
            <div class="col-xs-10"style="text-align: right">
                <button type="button" class="btn btn-success " onclick="updatePrice()">
                    <i class="fa fa-credit-card"></i> 修改价格
                </button>
                <button type="button" class="btn btn-success " onclick="updatePaystatus()">
                    <i class="fa fa-credit-card"></i> 手动入账
                </button>
                <button type="button" class="btn btn-primary " onclick="invoice()">
                    <i class="fa fa-download"></i> 开具发票
                </button>
                <button type="button" class="btn btn-primary " onclick="deliver()">
                    <i class="fa fa-download"></i> 发货
                </button>
                <button type="button" class="btn btn-primary " onclick="remark()">
                    <i class="fa fa-download"></i> 备注
                </button>
            </div>
        </div>
    </section>


    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 订单产品.
                </h2>
            </div>
            <!-- /.col -->
        </div>


        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Product</th>
                        <th>Serial #</th>
                        <th>Description</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Call of Duty</td>
                        <td>455-981-221</td>
                        <td>El snort testosterone trophy driving gloves handsome</td>
                        <td>$64.50</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Need for Speed IV</td>
                        <td>247-925-726</td>
                        <td>Wes Anderson umami biodiesel</td>
                        <td>$50.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Monsters DVD</td>
                        <td>735-845-642</td>
                        <td>Terry Richardson helvetica tousled street art master</td>
                        <td>$10.70</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Grown Ups Blue Ray</td>
                        <td>422-568-642</td>
                        <td>Tousled lomo letterpress</td>
                        <td>$25.99</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>




    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 物流信息.
                    <small class="pull-right">最近更新: 2/10/2014</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 10%">时间</th>
                        <th>信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>14:16:11</td>
                        <td>拣货完成</td>
                    </tr>
                    <tr>
                        <td>12:02:50</td>
                        <td>您的订单已经打印完成</td>
                    </tr>
                    <tr>
                        <td>11:22:54</td>
                        <td>您的订单预计2019-09-27 12:01开始处理，请您耐心等待</td>
                    </tr>
                    <tr>
                        <td>11:15:55</td>
                        <td>您提交了订单，请等待系统确认</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
#end
