#@layer()

#define content()
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal form-setting autoAjaxSubmit" autocomplete="off"
                  action="#(CPATH)/admin/order/doUpdateDeliver"
                  method="POST"
                  data-ok-function="closeLayerAndRefresh()"
            >
                <input type="hidden" name="orderId" value="#(order.id ??)">
                <div class="box-body ">


                    <div class="form-group">
                        <label class="col-sm-2 control-label">收件人</label>
                        <div class="col-sm-8">
                            <input type="input" class="form-control" readonly
                                   value="#(order.delivery_addr_username ??)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话号码</label>
                        <div class="col-sm-8">
                            <input type="input" class="form-control" readonly
                                   value="#(order.delivery_addr_mobile ??)">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址</label>
                        <div class="col-sm-8">
                            <textarea rows="2" readonly class="form-control">#(order.delivery_addr_province ??) #(order.delivery_addr_city ??) #(order.delivery_addr_district ??) #(order.delivery_addr_detail ??)</textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">配送方式</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="deliveryType">
                                <option value="1">无需配送</option>
                                <option value="2">快递</option>
                                <option value="3">物流</option>
                                <option value="4">公司配送</option>
                                <option value="5">用户自提</option>
                            </select>
                            <p class="help-block" style="color: red"> 注意：选择【无需配送】时，若此订单包含分销、优惠券奖励等将立即入账到分销用户的账户里。 </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">快递公司</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="deliveryCompany">
                                #for(ex : expressComs)
                                <option value="#(ex.code ??)">#(ex.name ??)</option>
                                #end
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">快递单号</label>
                        <div class="col-sm-8">
                            <input type="input" name="deliveryNo" class="form-control">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">发货时间</label>
                        <div class="col-sm-8">
                            <input type="input" name="deliveryStartTime" class="form-control datetimepicker" >
                        </div>
                    </div>


                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-sm-offset-9 col-sm-2 submit-block">
                        <div class="box-submit">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>

</section>

#end
