<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box box-dashboard">
        <div class="box-header with-border">
            <h3 class="box-title">最新文章</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                #for(article : articles)
                <tr>
                    <td style="width: 130px">#date(article.created ??)</td>
                    <td><a href="#articleUrl(article)" target="_blank">#(article.title ??)</a></td>
                </tr>
                #end
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box box-dashboard">
        <div class="box-header with-border">
            <h3 class="box-title">最新评论</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                #for(comment : articleComments)
                <tr>
                    <td>
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="/static/admin/images/avatar.png">
                                <span class="username">
                                      <a href="#">海哥</a>
                                    </span>
                                <span class="description">7:30 PM today -  来至对文章 <a href="#">《#(comment.article.title ??)》</a> 的评论</span>
                            </div>
                            <p>
                                #(comment.content ??)
                            </p>
                            <ul class="list-inline">
                                <li>
                                    <a href="/admin/article/commentReplay/#(comment.id)" style="color: #006505">回复</a> |
                                    <a href="javascript:;" onclick="draft('17')" style="color: #006505">待审核</a>|
                                    <a href="javascript:;" onclick="trash('17')" style="color: #a00">垃圾箱</a>|
                                    <a href="javascript:;" target="_blank" style="color: #a00">永久删除</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                #end
                </tbody>
            </table>
        </div>

    </div>
</div>