#@layout()
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            评论管理
            <small>Comment Management</small>
        </h1>
    </section>

    <section class="content-header text-tap">
        <a href="">全部 (24)</a> | <a href="">已发布 (22)</a> | <a href="">待审核 (2)</a> | <a href="">垃圾箱 (0)</a>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <div class="row actionPanel">
                            <div class="col-xs-12" style="height: 30px">
                                <button type="button" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox" value="0"/>
                                </th>
                                <th style="width: 100px">作者</th>
                                <th style="width: 40%">内容</th>
                                <th>回复至</th>
                                <th>评论数量</th>
                                <th style="width: 100px">发布时间</th>
                            </tr>

                            #for(comment : page.list)
                            <tr class="jp-actiontr">
                                <td>
                                    <input class="dataItem" type="checkbox" value="32" onchange="dataItemChange(this)"/>
                                </td>
                                <td>#(comment.user.nickname ??)</td>
                                <td>#(comment.content ??)
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="#" style="color: #006505">回复</a> |
                                            <a href="#" style="color: #006505">编辑</a> |
                                            <a href="#" style="color: #a00">待审核</a> |
                                            <a href="#" style="color: #a00">垃圾箱</a>
                                        </div>
                                    </div>
                                </td>
                                <td>#(comment.article.title ??)</td>
                                <td>#(comment.comment_count ??)</td>
                                <td>#(comment.created ??)</td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
