#@layout()
#define script()
<script>

    function doChangeStatus(id, status) {
        $.get("/admin/article/doCommentStatusChange?id=" + id + "&status=" + status, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }

    function doDelComment(id) {
        $.get("/admin/article/doCommentDel/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.href = "/admin/article/comment";
            }
        });
    }

</script>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            评论管理
            <small>Comment Management</small>
        </h1>
    </section>

    <section class="content-header text-tap">
        <a href="/admin/article/comment">全部 (#(totalCount ??))</a> |
        <a href="?s=normal">已发布 (#(normalCount ??))</a> |
        <a href="?s=unaudited">待审核 (#(unauditedCount ?? 0))</a> |
        <a href="?s=trash" style="color: #a00">垃圾箱 (#(trashCount ?? 0))</a>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <div class="row actionPanel">
                            <div class="col-xs-12" style="height: 30px">
                                <button type="button" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox" value="0"/>
                                </th>
                                <th style="width: 100px">作者</th>
                                <th style="width: 40%">内容</th>
                                <th>回复至</th>
                                <th>评论数量</th>
                                <th style="width: 100px">发布时间</th>
                            </tr>

                            #for(comment : page.list)
                            <tr class="jp-actiontr">
                                <td>
                                    <input class="dataItem" type="checkbox" value="32" onchange="dataItemChange(this)"/>
                                </td>
                                <td>#(comment.user.nickname ??)</td>
                                <td>#(comment.content ??)
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="/admin/article/commentReplay/#(comment.id)"
                                               style="color: #006505">回复</a> |
                                            #if(comment.isNormal())
                                            <a href="javascript:;" onclick="doChangeStatus('#(comment.id)','unaudited')"
                                               style="color: #006505">待审核</a> |
                                            #else
                                            <a href="javascript:;" onclick="doChangeStatus('#(comment.id)','normal')"
                                               style="color: #006505">设为正常</a> |
                                            #end
                                            <a href="javascript:;" onclick="doChangeStatus('#(comment.id)','trash')"
                                               style="color: #a00">垃圾箱</a> |
                                            <a href="javascript:;" onclick="doDelComment('#(comment.id)')"
                                               style="color: #a00">永久删除</a>
                                        </div>
                                    </div>
                                </td>
                                <td>#(comment.article.title ??)</td>
                                <td>#(comment.comment_count ??)</td>
                                <td>#(comment.created ??)</td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
