#@layout()
#define script()
<script>

    function trash(id) {
        $.get("/admin/article/doTrash/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }


    function draft(id) {
        $.get("/admin/article/doDraft/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }

    function normal(id) {
        $.get("/admin/article/doNormal/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }

    function del(id) {
        $.get("/admin/article/doDel/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }
</script>

#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            文章管理
            <small>Article Management</small>
        </h1>
    </section>

    <section class="content-header text-tap">
        <a href="/admin/article">全部 (#(totalCount ??))</a> |
        <a href="?s=normal">已发布 (#(normalCount ??))</a> |
        <a href="?s=draft">草稿 (#(draftCount ?? 0))</a> |
        <a href="?s=trash" style="color: #a00">垃圾箱 (#(trashCount ?? 0))</a>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <form class="form-horizontal actionPanel">
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label class="col-sm-3 control-label">标题</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group col-xs-4">
                                    <label class="col-sm-3 control-label">作者</label>
                                    <div class="col-sm-9">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="form-group col-xs-4">
                                    <button type="submit" class="btn btn-primary ">查询</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                    <a class="btn"> 更多<i class="fa fa-fw fa-angle-down"></i> </a>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </form>

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="/admin/article/write" class="btn btn-primary "> <i
                                        class="fa fa-fw fa-plus"></i> 新建</a>
                                <button type="button" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px"><input name="dataItem" onchange="checkAll(this)" type="checkbox"
                                                               value="0"/></th>
                                <th style="width: 350px">标题</th>
                                <th>作者</th>
                                <th>分类</th>
                                <th>专题</th>
                                <th>标签</th>
                                <th>评论</th>
                                <th style="width: 100px">发布时间</th>
                            </tr>

                            #for(article : page.list)
                            <tr class="jp-actiontr">
                                <td><input class="dataItem" type="checkbox" value="32" onchange="dataItemChange(this)"/>
                                </td>
                                <td>
                                    <strong>
                                    <a href="/admin/article/write/#(article.id)">#(article.title ??)</a>
                                    #if(article.isDraft())
                                    （草稿）
                                    #end
                                    </strong>
                                    <div class="jp-actionblock">
                                        #if(article.isNormal())
                                        <div class="jp-actionitem">
                                            <a href="/admin/article/write/#(article.id)" style="color: #006505">编辑</a> |
                                            <a href="javascript:;" onclick="draft('#(article.id??)')" style="color: #006505">草稿</a>
                                            |
                                            <a href="javascript:;" onclick="trash('#(article.id??)')"
                                               style="color: #a00">垃圾箱</a>|
                                            <a href="#articleUrl(article)" target="_blank" style="color: #a00">查看</a>
                                        </div>
                                        #elseif(article.isDraft())
                                        <div class="jp-actionitem">
                                            <a href="/admin/article/write/#(article.id)" style="color: #006505">编辑</a> |
                                            <a href="javascript:;" onclick="trash('#(article.id??)')"
                                               style="color: #a00">垃圾箱</a>
                                        </div>
                                        #else
                                        <div class="jp-actionitem">
                                            <a href="javascript:;" onclick="draft('#(article.id??)')" style="color: #006505">还原</a>
                                            |
                                            <a href="javascript:;" onclick="del('#(article.id??)')" style="color: #a00">永久删除</a>
                                        </div>
                                        #end
                                    </div>

                                </td>
                                <td>#(article.user.nickname ??)</td>
                                <td>#articleCategory(article.id,"category")</td>
                                <td>#articleCategory(article.id,"subject")</td>
                                <td>#articleCategory(article.id,"tag")</td>
                                <td>#(article.comment_count ??)</td>
                                <td>#(article.created ??)</td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
