.bl-bgclor{
    background-color: #0050B3;
}
.bl-bgcolor-secondary{
    background-color: #002766;
}
.bl-color{
    color: #0050B3;
}
.bl-text-secondary{
    color:#999;
}
.bl-border-none{
    border:none;
}
.bl-light-color{
    color:#fff;
}
.bl-banner{
    height: 700px;
    overflow: hidden;
}
.bl-img-size{
    width: 24px;
    height: 24px;
}
.bl-portrait-size{
    width: 64px;
    height: 64px;
}

.bl-product-img{
    height: 300px;
    background-color:#f9f9f9;
}
.bl-circle{
    width: 100px;
    height: 100px;
    border: 2px solid #0050B3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    line-height: 100px;
}
.bl-md-size{
    font-size:16px;
}
/*artical list*/
.list-content{
    padding:2rem 0;
}
.bl-list-card{
    padding:1.5rem 0;
    border-bottom:1px solid #dee2e6;
}
.bl-label{
    margin:1rem 0 1rem 0;
}
.bl-tag{
    margin-top:0.5rem;
}
.bl-label .bl-label-item,.bl-tag .bl-tag-item{
    display: inline;
    padding:0.5rem;
    color:#999;
}
.bl-list-card .bl-content-title a{
    color:#333;
}
.bl-list-card .bl-content-title a:hover{
    color:#0050B3;
}
.bl-list-card a:hover{
    text-decoration: none;
}
.bl-page{
    margin:1rem 0 0 0;
}

/*comment panel*/
.comment-panel{
    padding-bottom:0.5rem;
    margin-top:2rem;
    border-bottom:1px solid #dee2e6;
}
.comment-panel .comment-panel-portrait{
    float:left;
}
.comment-panel .comment-panel-content{
    float:left;
    padding:0 0 0 1rem;
    width: 80%;
}
.comment-panel .comment-panel-content .comment-panel-content-item div{
    display: inline;
    padding:0 1rem 0 0;
}
.comment-panel .comment-panel-content .comment-panel-content-main{
    margin-top:0.5rem;
}
.comment-panel .comment-panel-secondary{
    border:1px solid #e5e5e5;
    padding:0.5rem 0.5rem 0 0.5rem;
    margin:0.5rem 0;
    background-color: #fffffb;
}
/*recommend aritical*/
.recommend-panel,.comment{
    padding:1.5rem 0 0 0;
}
.recommend-panel-bottom{
    padding:1rem;
}
/*right-card*/
.card-right{
    padding:1rem;
}
.card-right .card-right-body p{
    margin:0.5rem 0 1rem 0;
    color:#666;
    line-height: 1.5rem;
}
/*index advantage*/
.bl-card{
    padding:2.5rem 0 0 0;

}
.bl-title{
    margin:2rem 0 1rem 0;
    border-left:2px solid #0050B3;
    padding:0 0 0 1rem;
}
.bl-card-title{
    margin:2rem 0 1rem 0;
    text-align: center;
}
.bl-card-body{
    border:none;
}
.bl-card-body .card-body-item{
    border:none;
    text-align: center;
    padding:1rem 0 0 0;
}
.bl-card-body .item-icon{
    margin:0 auto;
    width: 100px;
    height: 100px;
    border: 2px solid #0050B3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color:#0050B3;
    line-height: 100px;
}
/*product box*/

.product-box-body{
    margin:0 0 2.5rem 0;
}
.product-box-body .product-box-image{
    height: 300px;
    background-color:#f9f9f9;
}
.product-box-body .product-box-content{
    padding:2.5rem 0 0 2.5rem;
}
/*footer*/
.bl-footer{
    padding:2.5rem;
    margin:2.5rem 0 0 0;
    background-color:#0050B3;
}
.bl-footer a,.bl-footer .copyright{
    color:#fff;
}
.bl-footer .copyright{
    text-align: center;
}
.bl-footer .bl-footer-list{
    text-align: center;
    padding:0;
}
.bl-footer-list .bl-footer-item{
    display: inline-block;
    padding:0 1rem;
}
/*header*/
.bl-header{
    background-color: #0050B3;
    padding:1rem 0;
}
.icon-item a{
    display: inline-block;
    padding:1rem 2rem;
    color:#cedced;
}

.icon-item a:hover{
    color:#fff;
}
.bl-nav-color{
    color:#cedced;
}
a.nav-prand{
    margin:0 1rem 0 0;
    font-size:28px;
    color:#fff;
}
a.nav-prand:hover{
    text-decoration: none;
}
.bl-nav .nav-item.active a{
    color:#fff;
}
.bl-nav .nav-item a{
    padding:0 2rem;
    color:#b2c8e5;
}
.bl-nav .nav-item a:hover{
     color:#fff;
     text-decoration: none;
 }
/*about*/
.bl-cloumn-nav{
    padding:1.5rem 0;
    margin:0 2.5rem 0 0;
    border-right:1px solid #dfdfdf;
}
.bl-cloumn-nav .bl-cloumn-nav-item{
    padding:1rem;
    color:#333;
}
.bl-cloumn-nav .bl-cloumn-nav-item.active{
    background-color:#0050B3 ;
    color:#fff;
    border-top-left-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
}
.bl-about-banner{
    height: 180px;
    overflow: hidden;
}
.bl-title-center{
    text-align: center;
    padding:2.5rem 0 0 0;
}
.bl-title-left{
    padding:2.5rem 0 0 0;
}
/*artical*/
.bl-artical-title{
    margin:3rem 0 0 0;
}
.bl-artical h1,.bl-artical h2,.bl-artical h3,.bl-artical h4,.bl-artical h5{
    padding:1.5rem 0 0.5rem 0;
}
.bl-artical h1{
    font-size:2rem;
    color:#c7254e;
}
.bl-artical h2{
    font-size:1.75rem;
}
.bl-artical h3{
    font-size:1.5rem;
}
.bl-artical h4{
    font-size:1.25rem;
}
.bl-artical h5{
    font-size:1rem;
}
.bl-artical{
    padding:2.5rem 0 2.5rem 0;
}
.bl-artical blockquote{
    padding:1rem 1rem 1rem 2rem;
    border-left:4px solid #dfdfdf;
    background-color: #f3f3f3;
    /*font-style: italic;*/
    font-weight: bold;
}
.bl-artical blockquote span{
    font-size:36px;
}
.bl-artical pre{
    padding:1rem;
    background-color: #999;
}
.bl-artical code{
    color:#fff;
}
.bl-artical p img{
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.bl-artical p{
    padding:0.5rem 0 0.5rem 0;
    line-height: 1.8rem;
}


