#@_ucenter_layout()
#define script()
<script src="#(CPATH)/static/components/ckeditor/ckeditor.js"></script>
<script>
    initEditor('editor1', 200);
</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            评论编辑
            <small>Comment Edit</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <form class="form-horizontal form-setting autoAjaxSubmit" autocomplete="off"
                          method="post"
                          action="#(CPATH)/ucenter/article/doCommentSave"
                          data-ok-message="保存成功">
                        <div class="box-body no-padding">

                            <input type="hidden" name="comment.id" value="#(comment.id ??)">

                            <textarea id="editor1" name="comment.content"
                                      style="height: 200px;width: 100%;background-color: white">#(comment.content ??)</textarea>


                        </div>
                        <div class="box-footer">
                            <div class=" col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
