<#if page ??> 
<#list page.getList() as comment>
<article class="forum-content clearfix">
	<div class="row forum-box">
		<div class="col-xs-12">
			<img class="portrait" src="${CTPATH}/imgs/avatar.jpg" />
			<h6 class="jp-margin-top">
				<span class="content-author">${comment.username!}</span> <span class="release-time">${comment.created!}</span> <span class="jp-right">1#</span>
			</h6>
			<p>${comment.text!}</p>

			<h6>
				<span class="jp-right jp-margin-right30">支持</span> <span class="jp-right jp-margin-right30">反对</span> <span class="jp-right jp-margin-right30">回复</span>
			</h6>
		</div>

	</div>
	<div class="border-top"></div>
</article>
</#list>
<article class="forum-content clearfix">
	<section class="jp-right"><#include "_paginate.html"/></section>
</article>
</#if>
