<#macro script>
</#macro> 
<#macro script_import>
</#macro> 
<#macro css_import>
</#macro> 
<#macro layout>
<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <title>${WEB_TITLE!}- ${WEB_NAME!}</title>
	<meta name="keywords" content="${META_KEYWORDS!}">
	<meta name="description" content="${META_DESCRIPTION!}">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${SPATH}/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="${SPATH}/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="${CTPATH}/js/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="${CTPATH}/css/style.css">
    <@css_import />
</head>
<body>
<header class="navbar bs-docs-nav jp-navbar-default">
    <div class="container">
        <div class=row>
            <div class="navbar-header">
                <button class="navbar-toggle collapsed jp-navbar-toggle" aria-expanded="false" aria-controls="bs-navbar" data-target="#bs-navbar" data-toggle="collapse" type="button">
                    <i class="fa fa-navicon"></i>
                </button>
                <a href="${CPATH}/"><img class="logo" src="${CTPATH}/imgs/logo.png"></a>
            </div>
            <nav  class="navbar-collapse collapse jp-collapse" aria-expanded="true">

                    <ul class="nav navbar-nav jp-navbar-nav jp-navbar">
				      	<#if "/" == REQUEST.requestURI!>
				      	 <li class="active"><a href="${CPATH}/"">首页</a></li>
				      	 <#else>
				      	 <li><a href="${CPATH}/"">首页</a></li>
				      	</#if>
				      	<@menus>
				        	<#list menus as menu>
				        		<#if menu.flag ??>
				        			<li class="active"><a href="${menu.text!}">${menu.title}</a></li>
				        		<#else>
				        			<li><a href="${menu.text!}">${menu.title}</a></li>
				        		</#if>
				        	</#list>
				        </@menus>
        
                    </ul>
                    <ul class="nav navbar-nav jp-navbar-nav display-none-1200 pull-right">
                        <li><a href="${CPATH}/user/center"><img class="user-image" src="${CTPATH}/imgs/avatar.jpg"/> </a></li>
                        <li><a><i class="fa fa-bell-o"></i></a></li>
                    </ul>
                     <div class="jp-navbar-search display-none-992 pull-right">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="jp-nav-input-search">
                            <div class="form-group ">
                                <button type="submit" class="btn btn-white jp-form-search-sub"><i class="fa fa-search"></i> </button>
                                <input type="text" class="form-control jp-form-search" placeholder="Search">
                            </div>
                        </div>
                    </form>
                </div>

            </nav>
        </div>
    </div>
</header>
<#nested>  
<footer class="footer container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 ">
                <div class="footer-box" >
                   <div class="box">
                    <ul class="list-inline ">
                        <li>关于我们</li>
                        <li>加入我们</li>
                        <li>合作伙伴</li>
                        <li>广告级服务</li>
                        <li>常见问题解答</li>
                        <li>防网络诈骗专题</li>
                    </ul>
                    <p> <strong>Copyright © 2015-2016 <a href="http://jpress.io">JPress Studio</a>.</strong> All rights
                        reserved.</p>
                   </div>
                </div>
            </div>
            <div class="col-md-4 display-none-992">
                <ul class="list-inline">
                    <li class="footer-icon "><i class="fa fa-wechat fa-lg"></i></li>    <li class="footer-icon "><i class="fa fa-qq fa-lg"></i></li>
                    <li class="footer-icon "><i class="fa fa-weibo fa-lg"></i></li>     <li class="footer-icon "><i class="fa fa-apple fa-lg"></i></li>
                    <li class="footer-icon "><i class="fa fa-android fa-lg"></i></li>   <li class="footer-icon "><i class="fa fa-facebook fa-lg"></i></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
    <script type="text/javascript" src="${SPATH}/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="${SPATH}/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" src="${CTPATH}/js/jcommon.js"></script>
    <@script_import />
<script>
	<@script /> 
</script>
</body>
</html>
</#macro>