<aside class="col-md-3 display-none-992 main-side jp-common">
	<section class="side-tag">
		<div class="text-center jp-padding-top20">
			<p>
				<img class="user-image-forum" src="${CPATH}${user.avatar!TPATH+'/imgs/avatar.jpg'}" />
			</p>
			<h4 class="jp-padding-top20">${user.username}</h4>
		</div>
		<ul class="list-unstyled jp-my-li jp-padding-top20">
			<a href="${CPATH}/user/center/mypost">
				<li class="${mypost!}">
					<span class="jp-li-icon text-right"><i class="fa fa-file-text-o fa-lg"></i></span>我的帖子
				</li>
			</a>
			<a href="${CPATH}/user/center/favorite_article">
				<li class="${favorite_article!}">
					<span class="jp-li-icon text-right"><i class="fa fa-star-o fa-lg"></i></span>我的收藏
				</li>
			</a>
			<a href="${CPATH}/user/center/myarticle">
				<li class="${myarticle!}">
					<span class="jp-li-icon text-right"><i class="fa fa-commenting-o fa-lg"></i></span>我的投稿
				</li>
			</a>
			<a href="${CPATH}/user/center">
				<li class="${index!}">
					<span class="jp-li-icon text-right"><i class="fa fa-star-o fa-lg"></i></span>账号信息
				</li >
			</a>
		</ul>
		<div class="text-center  login-out">
			<a href="${CPATH}/user/logout?ucode=${ucode}">
				<div class=" border-top login-out-box">
					<span class="jp-margin-right10 "><i class="fa fa-power-off fa-lg"></i></span>退出登录
				</div>
			</a>
		</div>
	</section>
</aside>