#@ucenter_layout()
#define script()
<script>


</script>

#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            会员信息
            <small>Member Info</small>
        </h1>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 25%">会员名称</th>
                                <th>简介</th>
                                <th style="width: 90px;">到期时间</th>
                            </tr>
                            #for(mgroup : memberGroups)
                            <tr class="jp-actiontr">
                                <td>
                                    <strong>
                                        <a href="#(CPATH)/ucenter/member/detail/#(mgroup.id)">#(mgroup.title ??)</a>
                                    </strong>
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            #if(mgroup.member ??)
                                            <a href="#(CPATH)/ucenter/member/join/#(mgroup.id)">续费</a>
                                            #else
                                            <a href="#(CPATH)/ucenter/member/join/#(mgroup.id)">加入会员</a>
                                            #end
                                            |
                                            <a href="#(CPATH)/ucenter/member/detail/#(mgroup.id)">查看福利</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    #(mgroup.summary ??)
                                </td>
                                <td>
                                    #if(mgroup.member.duetime ??)
                                    #date(mgroup.member.duetime)
                                    #else
                                    尚未加入
                                    #end
                                </td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
