#@ucenter_layout()
#define script()
<script>


</script>

#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            会员信息
            <small>Member Info</small>
        </h1>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 350px">会员名称</th>
                                <th>简介</th>
                                <th style="width: 120px;text-align: center">操作</th>
                            </tr>
                            #for(mgroup : memberGroups)
                            #if(mgroup.isShowInUcenter() && mgroup.isNormal())
                            <tr class="jp-actiontr">
                                <td>
                                    <strong>
                                        <a href="#">#(mgroup.title ??)</a>
                                    </strong>
                                </td>
                                <td>
                                    #(mgroup.summary ??)
                                </td>
                                <td>
                                    <a href="#(CPATH)/ucenter/member/detail/#(mgroup.id)">会员福利</a>
                                     |
                                    <a href="#(CPATH)/ucenter/member/join/#(mgroup.id)">加入</a>
                                </td>
                            </tr>
                            #end
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
