#@ucenter_layout()

#define css()
<style>
.binditem{
    padding: 7px 17px;
}

</style>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            第三方账号绑定
            <small>Third Party Account Binding</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                        <div class="box-body form-horizontal">

                            #if(option("login_wechat_enable"))
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微信</label>
                                <div class="col-sm-7 binditem">
                                    您当前没有绑定微信账号，点击 <a href="#(CPATH)/oauth/wechat" target="_blank">这里</a> 进行绑定。
                                </div>
                            </div>
                            #end

                            #if(option("login_weibo_enable"))
                            <div class="form-group">
                                <label class="col-sm-2 control-label">微博</label>
                                <div class="col-sm-7 binditem">
                                    您当前没有绑定微博账号，点击 <a href="#(CPATH)/oauth/weibo" target="_blank">这里</a> 进行绑定。
                                </div>
                            </div>
                            #end

                            #if(option("login_qq_enable"))
                            <div class="form-group">
                                <label class="col-sm-2 control-label">QQ</label>
                                <div class="col-sm-7 binditem">
                                    您当前没有绑定QQ账号，点击 <a href="#(CPATH)/oauth/qq" target="_blank">这里</a> 进行绑定。
                                </div>
                            </div>
                            #end

                            #if(option("login_dingding_enable"))
                            <div class="form-group">
                                <label class="col-sm-2 control-label">钉钉</label>
                                <div class="col-sm-7 binditem">
                                    您当前没有绑定钉钉账号，点击 <a href="#(CPATH)/oauth/dingding" target="_blank">这里</a> 进行绑定。
                                </div>
                            </div>
                            #end

                            #if(option("login_github_enable"))
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Github</label>
                                <div class="col-sm-7 binditem">
                                    您当前没有绑定Github账号，点击 <a href="#(CPATH)/oauth/github" target="_blank">这里</a> 进行绑定。
                                </div>
                            </div>
                            #end

                            #if(option("login_gitee_enable"))
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Gitee</label>
                                <div class="col-sm-7 binditem">
                                    您当前没有绑定Gitee账号，点击 <a href="#(CPATH)/oauth/gitee" target="_blank">这里</a> 进行绑定。
                                </div>
                            </div>
                            #end

                        </div>



                </div>
            </div>

        </div>

    </section>

</div>
#end
