#@ucenter_layout()

#define script()
<script>

</script>
#end
#define content()
<section class="content">

    <div class="container-fluid">
        <div class="card card-outline card-primary">


            <form class="autoAjaxSubmit" data-ok-message="密码修改成功" autocomplete="off" action="#(CPATH)/ucenter/doUpdatePwd">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger mr-2">*</span>旧密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" required placeholder="请输入之前的密码" name="oldPwd">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger mr-2">*</span>新密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" required  minlength="6" placeholder="新的密码" name="newPwd" id="newPwd">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><span class="text-danger mr-2">*</span>确认密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" required minlength="6"  equalTo="#newPwd" placeholder="及确认密码" name="confirmPwd">
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <div class="offset-sm-2 col-sm-10 submit-block">
                        <div class="card-submit">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>

</section>

#end
