#@ucenter_layout()

#define script()
<script>

</script>
#end
#define content()

<section class="content">

    <div class="container-fluid">
        <div class="card card-outline card-primary">

            <!-- /.card-header -->
            <!-- form start -->
            <form class="autoAjaxSubmit" autocomplete="off" action="#(CPATH)/ucenter/doSaveUser" data-ok-message="数据保存成功">
                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">个人签名</label>

                        <div class="col-sm-7">
                             <textarea rows="5" class="form-control" placeholder="写写现在的心情..."
                                       name="user.signature">#(user.signature ??)</textarea>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <div class="offset-sm-2 col-sm-10 submit-block">
                        <div class="card-submit">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</section>
#end
