<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="#(CPATH)/static/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="/static/components/aj-captcha/css/verify.css"/>

    <!--[if lt IE 9]>
    <script src="#(CPATH)/static/html5shiv/html5shiv.min.js"></script>
    <script src="#(CPATH)/static/respond/respond.min.js"></script>
    <![endif]-->
    <style>
        .login-page {
            background-image: url("#(CDN)#(CPATH)/static/commons/img/bg.png");
            background-size: cover;
        }

        .login-box {
            margin-top: 100px;
        }

        .form-group {
            text-align: left;
        }


    </style>

    <script>

        window.onload=function (){
            $("#phone").hide();
            $("#email").show();
            $(".mobileBtn").css({
                "color":"#333",
                "border-bottom":"3px solid #fff"
            })
            $(".emailBtn").css({
                "color":"#007bff",
                "border-bottom":"3px solid #007bff"
            })
        };

        function inputMobile(){
            $("#phone").show();
            $(".mobileBtn").css({
                "color":"#007bff",
               "border-bottom":"3px solid #007bff"
            })
            $(".emailBtn").css({
                "color":"#333",
                "border-bottom":"3px solid #fff"
            })
            $("#email").hide();
            $("#email").val('');

            // $(".email_next").attr("id","");
            // $(".phone_getCode").attr("id","getCode");

        }

        function inputEmail(){
            $("#phone").hide();
            $("#phone").val('');
            $("#email").show();
            $(".mobileBtn").css({
                "color":"#333",
                "border-bottom":"3px solid #fff"
            })
            $(".emailBtn").css({
                "color":"#007bff",
                "border-bottom":"3px solid #007bff"
            })


            // $(".phone_getCode").attr("id","");
        }


        function goResetPwd(){
            var mobile = $("#mobile").val();
            var code = $("#captcha").val();
            $.ajax({
                url: '/user/validateCodeToResetPwd',
                type: 'POST',
                data: {"mobile":mobile,"captcha":code},
                dataType:'json',
                success:
                    function (result) {
                        console.log(result);
                        if (result.state == "ok") {
                            // layer.msg('验证码发送成功，请注意查收。');
                            alert("你好0000")
                        } else {
                            alert(result.message);
                        }
                    },
                error:
                    function (arg) {
                        console.log("error...", arg);
                        if (arg.responseJSON) {
                            alert(arg.responseJSON.message);
                        }
                    }
            });


        }

    </script>


</head>
<body class="hold-transition login-page">

<div class="wrapper">

    <div class="login-box">
        <div class="login-logo" style="color: #FFF">
            输入账号
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

<!--                <form action="" method="post" class="autoAjaxSubmit" data-ok-href="#para('goto',CPATH + '/ucenter')"-->
                <form action="" method="post" class="autoAjaxSubmit" data-ok-href=""
                      data-fail-function="">

                    <div class="form-group">
                        <div class="d-flex align-items-center  pt-2">
                            <div  class="w-50 text-center p-3 emailBtn" onclick="inputEmail()">邮箱账号</div>
                            <div class="w-50 text-center p-3 mobileBtn" onclick="inputMobile()">手机账号</div>
                        </div>
                        <!--   邮箱 -->
                        <div id="email">
                            <div class="w-100 text-center pt-4">
                                    <input type="text" class="form-control" placeholder="请输入邮箱号" name="email"  required>
                            </div>
                            <div class="form-group" style="padding-top: 10px;">
                                <div class="col-12" style="padding-top: 15px">
                                    <button type="button" id="getCode"  class="btn btn-primary btn-block btn-flat email_next" > 下一步0</button>

                                </div>
                            </div>
                    </div>

                        <!--   手机号 -->
                        <div id="phone">
                        <div class="w-100 text-center pt-4">
                            <div class="input-group jpress-tip mb-3">
                                <input type="text" class="form-control" placeholder="请输入手机号" name="mobile" id="mobile"  required>
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text phone_getCode" id="getMobileCode" autocomplete="off" style="float: right;background: #DDDDDD;"  >获取验证码</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="display: block;">验证码</label>
                                <div class="clearfix position-relative" >
                                    <input type="text" id="captcha" autocomplete="off" class="form-control " style="float: left;"
                                           placeholder="请输入验证码" name="captcha" required>
                                </div>
                            </div>

                        </div>

                        <div class="form-group" style="padding-top: 10px;">
                            <div class="col-12" style="padding-top: 15px">
                                <button type="button" class="btn btn-primary btn-block btn-flat" onclick="goResetPwd()"> 下一步1</button>

                            </div>
                        </div>
                    </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- /.login-box -->

</div>

<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/components/jquery/jquery.form.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/jquery.validate.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/additional-methods.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/localization/messages_zh.min.js"></script>
<script src="#(CPATH)/static/components/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="#(CPATH)/static/admin/js/jpressutils.js"></script>
<script src="#(CPATH)/static/admin/js/jpressadmin.js"></script>


</body>

<script  src="/static/components/aj-captcha/js/jquery.min.js"></script>
<script  src="/static/components/aj-captcha/js/crypto-js.js"></script>
<script  src="/static/components/aj-captcha/js/ase.js"></script>
<script  src="/static/components/aj-captcha/js/verify.js"></script>

<script>
    //文本框单击全选
    $("input:text").click(function(e){
        $(this).select();
    });

    var isRead = false;

    var a = new slideVerify();

    $('body').slideVerify({
        // baseUrl: 'https://mirror.anji-plus.com/captcha-api',  //服务器请求地址, 默认地址为安吉服务器;
        baseUrl: '/commons',  //服务器请求地址, 默认地址为安吉服务器;
        containerId: 'getCode',//pop模式 必填 被点击之后出现行为验证码的元素id
        mode: 'pop',     //展示模式
        imgSize: {       //图片的大小对象,有默认值{ width: '310px',height: '155px'},可省略
            width: '400px',
            height: '200px',
        },
        barSize: {          //下方滑块的大小对象,有默认值{ width: '310px',height: '50px'},可省略
            width: '400px',
            height: '40px',
        },
        beforeCheck: function () {  //检验参数合法性的函数  mode ="pop" 有效
            var email = $('#email').val();
            var mobile = $('#mobile').val();
            if (isRead && !email && !mobile) {
                alert("账号不能为空");
                return false
            }
            return true;
        },
        //加载完毕的回调
        ready: function () {
            isRead = true;
        },
        //验证成功
        success: function (params) {
            var email = $('#email').val();
            var mobile = $('#mobile').val();
            if(email != null && email != ''){
                var data = $.extend({email: email}, params);
                var url = '/user/doSendResetPwdLinkToEmail';

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success:
                        function (result) {
                            console.log(result);
                            if (result.state == "ok") {
                                // layer.msg('验证码发送成功，请注意查收。');
                                var token = result.token;
                                console.log("email==="+result.email);
                                console.log("msg==="+result.message);
                                console.log("token==="+token);
                                if(token != null && token != ""){
                                    window.location.href="/user/sendLink?token="+token+"&email="+email+"&isEmail="+result.isEmail;
                                }
                            } else {
                                alert(result.message);
                            }
                        },
                    error:
                        function (arg) {
                            console.log("error...", arg);
                            if (arg.responseJSON) {
                                alert(arg.responseJSON.message);
                            }
                        }
                });

            }else if(mobile != null && mobile != ''){
                var phoneData = $.extend({mobile: mobile}, params);
                var phoneUrl = '/user/doResetPwdSendCodeToMobile';

                $.ajax({
                    url: phoneUrl,
                    type: 'POST',
                    data: JSON.stringify(phoneData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success:
                        function (result) {
                            console.log(result);
                            if (result.state == "ok") {
                                alert("短信验证码发送成功，请手机查看！")
                            } else {
                                alert(result.message);
                            }
                        },
                    error:
                        function (arg) {
                            console.log("error...", arg);
                            if (arg.responseJSON) {
                                alert(arg.responseJSON.message);
                            }
                        }
                });
            }

            // alert("验证成功");


            // window.location.href="/user/sendLink";

        },

        error: function () {
            //失败的回调
            console.log("slideVerify error...");
        }
    });


</script>

</html>


