<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>重置密码</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="#(CPATH)/static/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/components/aj-captcha/css/verify.css"/>


    <!--[if lt IE 9]>
    <script src="#(CPATH)/static/html5shiv/html5shiv.min.js"></script>
    <script src="#(CPATH)/static/respond/respond.min.js"></script>

    <![endif]-->
    <style>
        .login-page {
            background-image: url("#(CDN)#(CPATH)/static/commons/img/bg.png");
            background-size: cover;
        }

        .login-box {
            margin-top: 100px;
        }

        .form-group {
            text-align: left;
        }
        #phone-error,#captcha-error{
            position: absolute !important;
            top:100% !important;
            left:0 !important;
        }
    </style>

</head>
<body class="hold-transition login-page">

<div class="wrapper">

    <div class="login-box">
        <div class="login-logo" style="color: #FFF">
<!--            #option('web_name','JPress')-->
            重置密码
        </div>
        <!-- /.login-logo -->
        <div class="card" id="content">
            <div class="card-body login-card-body">
                <form action="#(CPATH)/user/doResetPassword" method="post" class="autoAjaxSubmit" data-ok-function="ok">
                    <input type="hidden"  name="token" id="token" value="#(token ??)">
                    <input type="hidden"  name="type" id="isEmail" value="#(isEmail ??)">
                    <div class="form-group">
                    </div>

                    <div class="form-group">
                        <label>新密码</label>
                        <input type="password" class="form-control" autocomplete="off" placeholder="密码..." name="pwd" required>
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        <input type="password" class="form-control" autocomplete="off" placeholder="确认密码" name="confirmPwd" required>
                    </div>


                    <div class="form-group" style="padding-top: 30px;">
                        <div class="col-sm-12" style="padding-top: 15px">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">保存</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/components/jquery/jquery.form.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/jquery.validate.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/additional-methods.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/localization/messages_zh.min.js"></script>
<script src="#(CPATH)/static/components/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="#(CPATH)/static/admin/js/jpressfront.js"></script>

<script>
    function ok() {
        alert("重置密码成功，点击确定进行登录。")
        location.href = "#(CPATH)/user/login";
    }
</script>

</body>

</html>



