<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>手机号注册</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="#(CPATH)/static/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="/static/components/aj-captcha/css/verify.css"/>


    <!--[if lt IE 9]>
    <script src="#(CPATH)/static/html5shiv/html5shiv.min.js"></script>
    <script src="#(CPATH)/static/respond/respond.min.js"></script>

    <![endif]-->
    <style>
        .login-page {
            background-image: url("#(CDN)#(CPATH)/static/commons/img/bg.png");
            background-size: cover;
        }

        .login-box {
            margin-top: 100px;
        }

        .form-group {
            text-align: left;
        }
        #phone-error,#captcha-error{
            position: absolute !important;
            top:100% !important;
            left:0 !important;
        }
    </style>

</head>
<body class="hold-transition login-page">

<div class="wrapper">

    <div class="login-box">
        <div class="login-logo" style="color: #FFF">
<!--            #option('web_name','JPress')-->
            重置密码
        </div>
        <!-- /.login-logo -->
        <div class="card" id="content">
            <div class="card-body login-card-body">
                <form action="#(CPATH)/user/doRegister" method="post" class="autoAjaxSubmit" data-ok-function="ok">

                    <div class="form-group">
                        <label>手机号</label>


                        <div class="input-group jpress-tip mb-3">
                            <input type="text" class="form-control" placeholder="请输入手机号" name="phone" id="phone" required>
<!--                            <div class="input-group-append">-->
<!--                                <button type="button" class="input-group-text" id="getCode" autocomplete="off" style="float: right;background: #DDDDDD;"  >获取验证码</button>-->
<!--                            </div>-->
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label style="display: block;">验证码</label>-->
<!--                        <div class="clearfix position-relative" >-->
<!--                            <input type="text" id="captcha" autocomplete="off" class="form-control " style="float: left;"-->
<!--                                   placeholder="请输入验证码" name="captcha" required>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="form-group">
                        <label>登录密码</label>
                        <input type="password" class="form-control" autocomplete="off" placeholder="密码..." name="pwd" required>
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        <input type="password" class="form-control" autocomplete="off" placeholder="确认密码" name="confirmPwd" required>
                    </div>


                    <div class="form-group" style="padding-top: 30px;">
                        <div class="col-sm-12" style="padding-top: 15px">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">保存</button>
<!--                            <p class="text-muted" style="float: left;">-->
<!--                                已有账号？点击 <a href="#(CPATH)/user/login">这里</a> 登录。-->
<!--                            </p>-->
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/components/jquery/jquery.form.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/jquery.validate.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/additional-methods.min.js"></script>
<script src="#(CPATH)/static/components/jquery-validation/localization/messages_zh.min.js"></script>
<script src="#(CPATH)/static/components/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="#(CPATH)/static/admin/js/jpressutils.js"></script>
<script src="#(CPATH)/static/admin/js/jpressadmin.js"></script>

<script>
    function ok() {
        alert("注册成功，点击确定进行登录。")
        location.href = "#(CPATH)/user/login";
    }
</script>

</body>

</html>

<script  src="/static/components/aj-captcha/js/jquery.min.js"></script>
<script  src="/static/components/aj-captcha/js/crypto-js.js"></script>
<script  src="/static/components/aj-captcha/js/ase.js"></script>
<script  src="/static/components/aj-captcha/js/verify.js"></script>

<script>
    //文本框单击全选
    $("input:text").click(function(e){
        $(this).select();
    });

    var isRead = false;

    $('body').slideVerify({
        // baseUrl: 'https://mirror.anji-plus.com/captcha-api',  //服务器请求地址, 默认地址为安吉服务器;
        baseUrl: '/commons',  //服务器请求地址, 默认地址为安吉服务器;
        containerId: 'getCode',//pop模式 必填 被点击之后出现行为验证码的元素id
        mode: 'pop',     //展示模式
        imgSize: {       //图片的大小对象,有默认值{ width: '310px',height: '155px'},可省略
            width: '400px',
            height: '200px',
        },
        barSize: {          //下方滑块的大小对象,有默认值{ width: '310px',height: '50px'},可省略
            width: '400px',
            height: '40px',
        },
        beforeCheck: function () {  //检验参数合法性的函数  mode ="pop" 有效
            var mobile = $('#phone').val();
            if (isRead && !mobile) {
                alert("手机号不能为空");
                return false
            }
            return true;
        },
        //加载完毕的回调
        ready: function () {
            isRead = true;
        },
        //验证成功
        success: function (params) {
            var mobile = $('#phone').val();
            var data = $.extend({mobile: mobile}, params);
            $.ajax({
                url: '/user/doSendLoginCode',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success:
                    function (result) {
                        console.log(result);
                        if (result.state == "ok") {
                            layer.msg('验证码发送成功，请注意查收。');
                        } else {
                            alert(result.message);
                        }
                    },
                error:
                    function (arg) {
                        console.log("error...", arg);
                        if (arg.responseJSON) {
                            alert(arg.responseJSON.message);
                        }
                    }
            });
            // Utils.postJson(
            //     "/user/doSendLoginCode",
            //     $.extend({mobile: mobile}, params),
            //     function (result) {
            //         console.log(result);
            //         if (result.state == "ok") {
            //             layer.msg('验证码发送成功，请注意查收。');
            //         } else {
            //             alert(result.message);
            //         }
            //     },
            //     function (arg) {
            //         console.log("error...", arg);
            //         if (arg.responseJSON) {
            //             alert(arg.responseJSON.message);
            //         }
            //     }
            // )
        },
        error: function () {
            //失败的回调
            console.log("slideVerify error...");
        }
    });
</script>

