#@layout()
	
#define script()
<script>

    function doDel(id) {
        ajaxGet("/admin/product_comment/doDel/" + id);
    }

    $("#batchDel").click(function () {
        var ids = getSelectedIds();
        if (ids == "") {
            alert('您未选择任何条目');
            return
        }
        ajaxGet("/admin/product_comment/doDelByIds?ids=" + ids);
    })


</script>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            管理
            <small>Items</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="product_comment/edit" class="btn btn-primary ">
                                    <i class="fa fa-fw fa-plus"></i> 新建
                                </a>
                                <button type="submit" id="batchDel" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
	                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox"/>
	                                </th>
	                                <th>主键ID</th>
	                                <th>回复的评论ID</th>
	                                <th>评论的内容ID</th>
	                                <th>评论的用户ID</th>
	                                <th>评论的作者</th>
	                                <th>评论的内容</th>
	                                <th>评论的回复数量</th>
	                                <th>排序编号，常用语置顶等</th>
	                                <th>“顶”的数量</th>
	                                <th>“踩”的数量</th>
	                                <th>评论的状态</th>
	                                <th>评论的时间</th>
                                
                            </tr>
                            #for(entry : page.list)
                            <tr class="jp-actiontr">
                                <td><input class="dataItem" type="checkbox" value="#(entry.id)" />
                                </td>
                                <td>
                                    <strong>
                                        <a href="#(CPATH)/admin/product/product_comment/edit/#(entry.id)"> #(entry.id ??) </a>
                                    </strong>
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="/admin/product/product_comment/edit/#(entry.id)">编辑</a> |
                                            <a href="javascript:;" class="red-action"
                                               onclick="doDel('#(entry.id)')">删除</a>
                                        </div>
                                    </div>
                                </td>
                                    
	                                <td>#(entry.pid)</td>
	                                <td>#(entry.product_id)</td>
	                                <td>#(entry.user_id)</td>
	                                <td>#(entry.author)</td>
	                                <td>#(entry.content)</td>
	                                <td>#(entry.reply_count)</td>
	                                <td>#(entry.order_number)</td>
	                                <td>#(entry.vote_up)</td>
	                                <td>#(entry.vote_down)</td>
	                                <td>#(entry.status)</td>
	                                <td>#(entry.created)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            	 #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
</div>
#end