#define layout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + ' - ' + WEB_SUBTITLE))</title>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ll-css.css" rel="stylesheet">
    <link href="#(CPATH)/static/components/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="#(CPATH)/static/front/jpressfront.css" rel="stylesheet">
    <link href="#(CPATH)/static/commons/img/icon.png" type="image/x-icon" rel="shortcut icon">
    #@css?()
</head>
<body>
<div class="ll-header container-fluid">
    <div class="header-bg"></div>
    <div class="ll-logo">
        <h1><a href="#(CPATH)#(SPATH)/" style="color:#fff">#(WEB_NAME ?? '未设置网站名称')</a></h1>
        <p>#option('lightlog_web_desc','这里是网站介绍，请在后台设置')</p>
    </div>

</div>
<div class="ll-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark ll-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#jpress-default-menu"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        #@defaultMenu("collapse navbar-collapse","navbar-nav","nav-item","nav-link")
    </nav>
</div>

#@content()

#blockContainer('网站底部')#end

<div class="container-fluid ll-footer">
    <div class="container">
        <p class="ll-copyright">本设计由简.工作室荣誉出品</p>
        <p class="ll-copyright">#(WEB_COPYRIGHT ?? 'copyright @ 2020~2022 JPress® （www.jpress.cn）') #unescape(option('web_ipc_no')) </p>
    </div>
</div>
<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/front/jpressfront.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
#@script?()
</body>
</html>
#end