#define layout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ll-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="#(CPATH)/static/commons/img/jpress.jpg" type="image/x-icon">
    #@css?()
</head>
<body>
<div class="ll-header container-fluid">
    <div class="header-bg"></div>
    <div class="ll-logo">
        <h1><a href="#(CPATH)/" style="color:#fff">#(WEB_NAME ?? '未设置网站名称')</a></h1>
        <p>#option('lightlog_web_desc','这里是网站介绍，请在后台设置')</p>
    </div>

</div>
<div class="ll-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark ll-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                #for(menu : MENUS)
                <li class="nav-item #(menu.isActive ? 'active' : '')" >
                    <a href="#(menu.url ??)" target="#(menu.target ??)">#(menu.text ??)</a>
                </li>
                #end
            </ul>
        </div>
    </nav>
</div>
#@content()
<div class="container-fluid ll-footer">
    <div class="container">
        <p class="ll-copyright">本设计由简.工作室荣誉出品</p>
        <p class="ll-copyright">#(WEB_COPYRIGHT ?? 'copyright @ 2018~2020 JPress（www.jpress.io）')</p>
    </div>
</div>
<script src="/static/components/jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
#@script?()
</body>
</html>
#end