#include("./layout.html")
#@layout()

#define script()
<script src="/static/components/jquery/jquery.form.min.js"></script>
<script src="/static/components/swiper/swiper.min.js"></script>
<script src="/static/components/clipboard/clipboard.min.js"></script>
<script src="/static/commons/product.js"></script>
#end

#define css()
<link href="/static/components/swiper/swiper.min.css" rel="stylesheet">
<link href="/static/commons/product.css" rel="stylesheet">
#end

#define content()
<div class="container ll-cantainer">
    <div class="ll-artical-content">

        #@defaultProductHeader()

        <div class="ll-artical">
            #(product.content)
        </div>



        #@defaultProductCommentPage()

    </div>
</div>
#end