#include("./layout.html")
#@layout()
#define content()
<div class="container ll-container">

    #productPage()
    #for(product : productPage.list)
    <div class="ll-card">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 ll-card-image">
                <a href="#">
                    <img src="#(product.thumbnail ?? 'img/default-img.jpg')" class="img-fluid" alt="#(product.title ??)">
                </a>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 ll-card-main">
                <a href="#(product.url ??)">
                    <h3 class="ll-card-main-title">
                        #(product.title ??)
                    </h3>
                    <p class="ll-card-main-info">
                        #maxLength(product.text,100)
                    </p>
                    <div class="ll-card-tag">
                        <div><i class="fa fa-clock-o"></i>#date(product.created)</div>
                        <div><i class="fa fa-eye"></i>#(product.view_count)</div>
                        <div><i class="fa fa-commenting-o"></i>#(product.comment_count)</div>
                    </div>
                </a>

            </div>
        </div>
    </div>
    #end


    #productPaginate()
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center ">
            #for(page : pages)
            <li class="page-item #(page.style ??)">
                <a class="page-link" href="#(page.url ??)">
                    #(page.text ??)
                </a>
            </li>
            #end
        </ul>
    </nav>
    #end

    #end

</div>
#end