#@layout()

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            模板设置
            <small>Template Setting</small>
        </h1>
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">


                    <form class="form-horizontal form-setting" autocomplete="off"
                          id="optionForm">
                        <div class="card-body ">

                            <div class="form-group row">
                                <label class="col-sm-2 control-label">网站头部描述</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control"
                                              placeholder="可以想象下那些让人印象深刻的文章..."
                                              name="lightlog_web_desc"
                                              rows="3">#option('lightlog_web_desc')</textarea>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
