#@layout()

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            模板设置
            <small>Template Setting</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>

                    <form class="form-horizontal form-setting" autocomplete="off"
                          id="optionForm">
                        <div class="box-body ">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">网站头部描述</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control"
                                              placeholder="可以想象下那些让人印象深刻的文章..."
                                              name="lightlog_web_desc"
                                              rows="3">#option('lightlog_web_desc')</textarea>
                                </div>
                            </div>


                        </div>
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
