#@layout()

#define content()

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            模板设置
                            <small data-toggle="tooltip" title="" data-placement="right" data-trigger="hover" data-original-title=""><i class="nav-icon far fa-question-circle"></i></small>
                            <small> 首页 / 模板 / 设置</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">


                    <form class=" form-setting" autocomplete="off"
                          id="optionForm">
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">网站头部描述</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control"
                                              placeholder="可以想象下那些让人印象深刻的文章..."
                                              name="lightlog_web_desc"
                                              rows="3">#option('lightlog_web_desc')</textarea>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

#end
