#@user_detail_layer()
#define detail()
<div class="box-header ">
    <h3 class="box-title"></h3>
</div>
<!-- /.box-header -->
<!-- form start -->
<form class="form-horizontal" autocomplete="off">
    <div class="box-body ">

        <div class="form-group">
            <label class="col-sm-2 control-label">个人签名</label>

            <div class="col-sm-8">
                <textarea rows="5" class="form-control" placeholder="写写现在的心情..."></textarea>
            </div>
        </div>

    </div>

    <div class="box-footer">
        <div class="col-sm-offset-2 col-sm-10 submit-block">
            <div class="box-submit">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>

</form>
#end

