#include("_user_detail_layout.html")
#@user_detail_layout()
#define detail()
<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th style="width: 30%">路径</th>
            <th style="width: 30%">查询</th>
            <th style="width: 10%">渠道</th>
            <th style="width: 10%">媒介</th>
            <th style="width: 180px">时间</th>
        </tr>

        #for(utm : page.list)
        <tr class="jp-actiontr">
            <td>#(utm.action_key ??)</td>
            <td>#(utm.action_query ??)</td>
            <td>#(utm.source ??)</td>
            <td>#(utm.medium ??)</td>
            <td>#(utm.created ??)</td>
        </tr>
        #end

        </tbody>
    </table>
</div>

<div class="box-footer">
    <div class="row">
        <div class="col-sm-12">
            #@_paginate()
        </div>
    </div>
</div>

#end

