#@user_detail_layer()
#define detail()
<div class="box-header ">
    <h3 class="box-title"></h3>
</div>
<!-- /.box-header -->
<!-- form start -->
<form class="form-horizontal" autocomplete="off">
    <div class="box-body ">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="#(user.username ??)" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">昵称</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="设置网站的主标题">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">真实名字</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="副标题...">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>

            <div class="col-sm-8">
                <textarea rows="3" class="form-control" placeholder="添加点备注..."></textarea>
            </div>
        </div>


        <h4 class="page-header">其他</h4>

        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="...">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">注册日期</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="...">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">激活日期</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="...">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">最后登录时间</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="...">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">来源</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="...">
            </div>
        </div>


    </div>
</form>
#end

