#@layout()
#define script()
<script>
    $("#sync").on("click", function () {

    })

    var elems = Array.prototype.slice.call(document.querySelectorAll('.myswitchery'));
    elems.forEach(function (elem) {
        var switchery = new Switchery(elem, {size: 'small'});
        var roleId = elem.getAttribute("data-rid");
        var permissionId = elem.getAttribute("data-pid");
        elem.onchange = function () {
            if (elem.checked) {
                addRolePermission(roleId, permissionId);
            } else {
                delRolePermission(roleId, permissionId);
            }
        }
    });

    function addRolePermission(roleId, permissionId) {
        $.ajax({
            url: "/admin/user/addRolePermission?roleId=" + roleId + "&permissionId=" + permissionId,
            success: function (result) {
                alert(result.msg);
            }
        });
    }

    function delRolePermission(roleId, permissionId) {
        $.ajax({
            url: "/admin/user/delRolePermission?roleId=" + roleId + "&permissionId=" + permissionId,
            success: function (result) {
                alert(result.msg);
            }
        });
    }


</script>
#end

#define css()
<style>
    .switchery-small {
        margin-top: 0px;
    }
</style>
#end


#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            权限管理
            <small>Permission manager</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#"> 用户</a></li>
            <li class="active">权限管理</li>
        </ol>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-header  ">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="page-header">
                                    <i class="fa fa-globe"></i>
                                    您正在设置角色 <span style="color: red">#(role.name ??)</span> 的权限
                                </h2>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body waterfall-container">
                        #for(x : permissionGroup)
                        <div class="waterfall-item">
                            <div class="box box-dashboard">
                                <div class="box-header with-border">
                                    <h3 class="box-title">#(x.key ??)</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>ActionKey</th>
                                            <th>描述</th>
                                            <th style="width: 80px">类型</th>
                                        </tr>
                                        #for(permission : x.value)
                                        <tr>
                                            <td><input type="checkbox" checked class="myswitchery"
                                                       data-pid="#(permission.id ??)"
                                                       data-rid="#(role.id ??)"></td>
                                            <td>#(permission.action_key ??)</td>
                                            <td>#(permission.text ??)</td>
                                            <td>#(permission.typeText ??)</td>
                                        </tr>
                                        #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        #end

                    </div>
                </div>
            </div>

        </div>

    </section>


</div>
#end
