#@layout()

#define css()
<link href="/static/components/switchery/switchery.min.css" rel="stylesheet">
#end


#define script()
<script src="/static/components/switchery/switchery.min.js"></script>
<script>

    var elems = document.querySelectorAll('.switchery');
    for (var i = 0; i < elems.length; i++) {
        var switchery = new Switchery(elems[i],{size:'small'});
    }

    $("#sync").on("click", function () {
        $.ajax({
            url: "/admin/permission/syncPermissions", success: function (result) {
                alert(result.msg);
            }
        });
    })
</script>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            权限管理
            <small>Permission manager</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#"> 用户</a></li>
            <li class="active">权限管理</li>
        </ol>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-header  ">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="page-header">
                                    <i class="fa fa-globe"></i>
                                    Jean 的权限列表
                                </h2>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body waterfall-container">
                        #for(x : permissionGroup)
                        <div class="waterfall-item">
                            <div class="box box-dashboard">
                                <div class="box-header with-border">
                                    <h3 class="box-title">#(x.key ??)</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>ActionKey</th>
                                            <th>描述</th>
                                            <th style="width: 80px">类型</th>
                                        </tr>
                                        #for(permission : x.value)
                                        <tr>
                                            <td><input type="checkbox" checked readonly class="switchery"></td>
                                            <td>#(permission.action_key ??)</td>
                                            <td>#(permission.text ??)</td>
                                            <td>#(permission.typeText ??)</td>
                                        </tr>
                                        #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        #end

                    </div>
                </div>
            </div>

        </div>

    </section>


</div>
#end
