body .layer-ext-jpress .layui-layer-title {
    background: #3c8dbc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

body .layui-ext-jpress .layui-layer-btn {
    border-color: #3c8dbc;
    background-color: #3c8dbc;
    color: #fff;
}

body .layui-ext-jpress .layui-layer-btn a {
    border-color: #3c8dbc;
    background-color: #3c8dbc;
    color: #fff;
}

body .layer-ext-jpress .layui-layer-btn- .layui-layer-btn0 {
    border-color: #3c8dbc;
    background-color: #3c8dbc;
    color: #fff;
}


