#include("./layout.html")
#@layout()
#define content()

<div class="bl-bgclor container-fluid">
    <div class="bl-banner container">
        <p>JPress，开源、国产、更轻、更快。</p>
        <div class="jpress-img"><img src="img/jpress-banner.png"/></div>
    </div>
</div>


<div class="container bl-card">
    <h3 class="bl-card-title">
        <span class="bl-slide"></span>
        产品功能
        <span class="bl-slide"></span>
    </h3>
    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12 product-box-left product-box-image">
            <img class="card-img-left" src="img/product-q.jpg" alt="Card image cap"/>
        </div>
        <div class="col-md-6 col-sm-12 product-box-right product-box-content">
            <h3 class="card-title">轻</h3>
            <p>功能轻、产品轻、代码轻</p>
            <p>JPress 使用 Java8 开发，基于流行的JFinal和Jboot框架。整个JPress只有文章和页面两个模块。同时，产品的一切交互、我们使用了 “用到才能看到”
                的设计理念，使之一切看起来是那么的轻和自然。</p>
        </div>
    </div>

    <div class="row product-box-body bl-active">
        <div class="col-md-6 col-sm-12 product-box-left product-box-content">

            <h3 class="card-title">快</h3>
            <p>我们非常重视代码质量和运行效率</p>
            <p>JPress内置了多种快速的缓存方案，不仅如此，JPress还支持阿里云、腾讯云、七牛、又拍云等CDN做加速。同时，JPress支持微服务支持分布式部署，通过微服务化能支撑任何流量的大型分布式产品。</p>
        </div>
        <div class="col-md-6 col-sm-12 product-box-right product-box-image">
            <img class="card-img-left" src="img/product-k.jpg" alt="Card image cap"/>
        </div>
    </div>

    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12 product-box-left product-box-image">
            <img class="card-img-left" src="img/product-m.jpg" alt="Card image cap"/>
        </div>
        <div class="col-md-6 col-sm-12 product-box-right product-box-content">
            <h3 class="card-title">模块化</h3>
            <p>JPress 使用了模块化的设计思想。</p>
            <p>目前JPress已经内置的文章和页面其实是两个模块，可以移除和新增其他模块，因此，可以通过新增模块的方式，使用JPress来做博客、论坛、问答社区，商城等几乎可以用来做任何类型的网站。</p>
        </div>
    </div>

    <div class="row product-box-body bl-active">
        <div class="col-md-6 col-sm-12 product-box-left product-box-content">
            <h3 class="card-title">文档丰富</h3>
            <p class="card-text">我们非常重视文档</p>
            <p class="card-text">我们对文档的重视，甚至高于产品和代码，我们希望，任何人都能快速的使用JPress，剩余出更多的时间来陪伴自己的孩子、父母和爱人。</p>

        </div>
        <div class="col-md-6 col-sm-12 product-box-right product-box-image">
            <img class="card-img-left" src="img/product-w.jpg" alt="Card image cap"/>

        </div>
    </div>

    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12 product-box-left product-box-image">
            <img class="card-img-left" src="img/product-b.jpg" alt="Card image cap"/>
        </div>
        <div class="col-md-6 col-sm-12 product-box-right product-box-content">
            <h3 class="card-title">本地化</h3>
            <p>因为本地而生</p>
            <p>JPress充分利用中国互联网生态、原生支持和微信公众号、小程序对接。 同时融合了 QQ邮箱、163邮箱等作为邮件发送服务器、集成了阿里云的阿里大于等作为短信发送服务。
                在未来，JPress会支持越来越多的中国互联网产品整合功能。</p>
        </div>
    </div>

    <div class="row product-box-body bl-active">
        <div class="col-md-6 col-sm-12 product-box-left product-box-content">
            <h3 class="card-title">开源</h3>
            <p class="card-text">基于LGPL开源协议</p>
            <p class="card-text">LGPL开源协议比WordPress采用的GPL更加宽松，也意味着你可以使用JPress来做商业网站，页面模板不用保留 JPress 版权相关文字。</p>

        </div>
        <div class="col-md-6 col-sm-12 product-box-right product-box-image">
            <img class="card-img-left" src="img/product-o.jpg" alt="Card image cap"/>

        </div>
    </div>


</div>

<div class="container bl-card padding-0">
    <h3 class="bl-card-title">
        <span class="bl-slide"></span>
        用户见证
        <span class="bl-slide"></span>
    </h3>

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                "这是我在创业过程中用过最好的产品，没有之一。其提供的模块化和微信插件、方便我们团队进行快速的开发"
            </div>
            <div class="card-body">
                <h3 class="card-title">张宾</h3>
                <p class="card-text">
                    <small class="text-muted">创业公司CEO</small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                "JPress源码的提供了良好的中文注释、同时代码极度简单、方便我们小白学习和使用，我也得到了快速的成长。"
            </div>
            <div class="card-body">
                <h3 class="card-title">李丽</h3>
                <p class="card-text">
                    <small class="text-muted">大学生</small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                "刚开始接触JPress的时候，我其实是在找WordPress的代替版本，终于遇见了JPress和认识了海哥"
            </div>
            <div class="card-body">
                <h3 class="card-title">啊峰</h3>
                <p class="card-text">
                    <small class="text-muted">创业公司技术总监</small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                "JPress可以用来和微信公众号做链接，方便了粉丝和网站进行互动，近期也开始运营小程序，到时候还离不开JPress"
            </div>
            <div class="card-body">
                <h3 class="card-title">Jeey</h3>
                <p class="card-text">
                    <small class="text-muted">上市公司运营总监</small>
                </p>
            </div>
        </div>
    </div>
</div>
#end