#include("./layout.html")
#@layout()

#define script()
#end


#define content()
<div class="container bl-container">
    <div class="row">
        <div class="col-md-9" style="margin:20px auto;">
            <div class="cl-article-content">
                    <div class="job-title-group">
                        #if(job.with_hurry ??) <span>急</span> #end
                        <h5 class="cl-article-title">#(job.title ??)</h5>
                    </div>

                    <div class="cl-card-tag">
                        <p>
                        <span>发布时间:#date(job.created ??)</span> | <span>#(job.address.title ??)</span>
                        </p>
                    </div>

                <div>
                    <h6 class="job-desc-title">
                        职位描述
                        <div class="job-desc-title-divider"></div>
                    </h6>
                    <div>
                        #(job.html ??)
                    </div>
                </div>

                #if(job.with_apply ?? && option("job_apply_enable"))
                <div class="form-group job-apply-button">
                    <a href="#(CPATH)#(SPATH)/job/apply/#(job.id ??)">
                    <input type="submit" id="btn_yzm" class="btn btn-primary" value="申请岗位" />
                    </a>
                </div>
                #end
            </div>
        </div>
    </div>
</div>
#end
