#define layout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="referrer" content="always"/>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bl-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="#(CPATH)/static/commons/img/jpress.jpg" type="image/x-icon">
    #@css?()
</head>
<body>
<div class="bl-header container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bl-nav">
            <a class="nav-prand" href="#(CPATH)/">#(option('jpressportal_logo_text') ?? 'JPress')</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    #for(menu : MENUS)
                    <li class="nav-item #(menu.isActive ? 'active' : '')" >
                        <a href="#(menu.url ??)" target="#(menu.target ??)">#(menu.text ??)</a>
                    </li>
                    #end
                </ul>
            </div>
            #if(option('jpressportal_download_btn_enable'))
            <a href="#option('jpressportal_download_url')" class="btn btn-outline-light " target="_blank">下载源码</a>
            #end
        </nav>
    </div>
</div>

#@content()

<div class="bl-footer container-fluid">
    <div class="container">
        <ul class="bl-footer-list">
            <li class="bl-footer-item">
                <a href="#">帮助</a>
            </li>
            <li class="bl-footer-item">
                <a href="#">隐私</a>
            </li>
            <li class="bl-footer-item">
                <a href="#">条款</a>
            </li>
        </ul>
        <div class="copyright">#(WEB_COPYRIGHT ?? 'copyright @ 2018~2020 JPress（www.jpress.io）')</div>
    </div>
</div>
<script src="/static/components/jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
#@script?()
</body>
</html>
#end