#define layout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + ' - ' + WEB_SUBTITLE))</title>
    <meta name="referrer" content="always"/>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bl-css.css" rel="stylesheet">
    <link href="#(CPATH)/static/components/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="#(CPATH)/static/front/jpressfront.css" rel="stylesheet">
    <link href="#(CPATH)/static/commons/img/icon.png" type="image/x-icon" rel="shortcut icon">
    #@css?()
</head>
<body>
<div class="bl-header container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bl-nav">
            <a class="nav-prand" href="#(CPATH)#(SPATH)/">#(option('jpressportal_logo_text') ?? 'JPress')</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#jpress-default-menu"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            #@defaultMenu("collapse navbar-collapse","navbar-nav","nav-item","nav-link")

            #if(option('jpressportal_download_btn_enable'))
            <a href="#option('jpressportal_download_url')" class="btn btn-outline-light " target="_blank">下载源码</a>
            #end
        </nav>
    </div>
</div>

#@content()

<div class="bl-footer container-fluid">
    <div class="container">

        #blockContainer('网站底部')#end

        <ul class="bl-footer-list">
            <li class="bl-footer-item">
                <a href="#">帮助</a>
            </li>
            <li class="bl-footer-item">
                <a href="#">隐私</a>
            </li>
            <li class="bl-footer-item">
                <a href="#">条款</a>
            </li>
        </ul>
        <div class="copyright">#(WEB_COPYRIGHT ?? 'copyright @ 2020~2022 JPress® （www.jpress.cn）') #unescape(option('web_ipc_no')) </div>
    </div>
</div>
<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/front/jpressfront.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
#@script?()
</body>
</html>
#end