#define user_msg_layout(focus)

#@layout()
#define css()
#@layout_css?()
<style>
    .nav-stacked > li.active > a {
        color: #fff;
        border-top: 0;
        border-left: 0;
        background: #3c8dbc;
    }

    .nav-stacked > li.active > a:hover {
        background: #3c8dbcc4;
        color: #fff;
        border-top: 0;
        border-left: 0;
    }

    .jp-actiontr {
        word-break: break-all;
    }
    .card .nav.flex-column>li{
        border:none;
    }
</style>
#end

#define script()
#@layout_script?()
<script>

    var action = "##(focus)";
    $(action).addClass("menu-open");
    $(action).children('a').addClass('active');


    $('#userForm').on('submit', function () {
        ajaxSubmit("#userForm", function () {
            toastr.success('修改成功');
        });
        return false;
    });

</script>
#end

#define content()
    <section class="content-header">


        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                发送消息
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 用户 / 发送消息</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->

    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-2">

                <div class="card card-outline card-primary">

                    <div class="card-body card-profile">
                        #if(focus == "email")
                        <h3 class="profile-username text-center" style="font-size: 60px;color: #444;"><i class="fa fa-fw fa-sign-out-alt"></i></h3>
                        <p class="text-muted text-center">发邮件</p>
                        #elseif(focus == "sms")
                        <h3 class="profile-username text-center" style="font-size: 60px;color: #444;"><i class="fa fa-fw fa-external-link-alt"></i></h3>
                        <p class="text-muted text-center">发短信</p>
                        #else
                        <h3 class="profile-username text-center" style="font-size: 60px;color: #444;"><i class="fa fa-fw fa-comments"></i></h3>
                        <p class="text-muted text-center">模板消息</p>
                        #end
                    </div>


                    <div class="card-body">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false" style="border-top: 1px solid #eee;" id="nav">
                            <li class="nav-item" id="email"><a class="nav-link" href="#(CPATH)/admin/user/sendMsg"><i class="fa fa-fw fa-sign-out-alt"></i> 发邮件</a></li>
                            <li class="nav-item" id="sms"><a class="nav-link" href="#(CPATH)/admin/user/sendMsg/sms"><i class="fa fa-fw fa-external-link-alt"></i> 发短信</a></li>
                            <li class="nav-item" id="wechat"><a class="nav-link" href="#(CPATH)/admin/user/sendMsg/wechat"><i class="fa fa-fw fa-comments"></i> 发微信</a></li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.col -->
            <div class="col-md-10">
                <div class="card card-outline card-primary">
                    #@detail?()
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
#end
#end
