#include("_user_detail_layout.html")
#@user_detail_layout("other")
#define detail()


<div class="box-header ">
    <h3 class="box-title"></h3>
</div>
<form class="form-horizontal" autocomplete="off" id="userForm" action="#(CPATH)/admin/user/doSaveUser">
    <input name="user.id" type="hidden" value="#(user.id)">
    <div class="box-body ">

        <div class="form-group">
            <label class="col-sm-2 control-label">真实名字</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="..."
                       name="user.realname" value="#(user.realname ??)">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">生日</label>

            <div class="col-sm-8">
                <input type="input" id="birthday"class="form-control datepicker"
                       data-date-format="yyyy-mm-dd"
                       placeholder="点击选择"
                       name="user.birthday" value="#date(user.birthday,'yyyy-MM-dd')" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">公司</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="..."
                       name="user.company" value="#(user.company ??)">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">职位</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="..."
                       name="user.occupation" value="#(user.occupation ??)">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">毕业学校</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="..."
                       name="user.graduateschool" value="#(user.graduateschool ??)">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">学历</label>

            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="..."
                       name="user.education" value="#(user.education ??)">
            </div>
        </div>

    </div>

    <div class="box-footer">
        <div class="col-sm-offset-2 col-sm-10 submit-block">
            <div class="box-submit">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>

</form>
#end

