#include("_user_detail_layout.html")
#@user_detail_layout("utm")
#define detail()
<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody>
        <tr>
            <th style="width: 40%">路径</th>
            <th style="">查询</th>
            <th style="width: 10%">渠道</th>
            <th style="width: 10%">媒介</th>
            <th style="width: 150px">时间</th>
        </tr>

        #for(utm : page.list)
        <tr class="jp-actiontr">
            <td>
                #if(utm.action_query)
                <a href="#(utm.action_key ??)?#(utm.action_query)" target="_blank">
                    #(utm.action_key ??)
                </a>
                #else
                <a href="#(utm.action_key ??)" target="_blank">#(utm.action_key ??)</a>
                #end
            </td>
            <td>#(utm.action_query ??)</td>
            <td>#(utm.source ??)</td>
            <td>#(utm.medium ??)</td>
            <td>#date(utm.created,'yyyy-MM-dd HH:mm:ss')</td>
        </tr>
        #end

        </tbody>
    </table>
</div>

<div class="box-footer">
    <div class="row">
        <div class="col-sm-12">
            #@_paginate()
        </div>
    </div>
</div>

#end

