#include("_user_detail_layout.html")
#@user_detail_layout("detail-signature")
#define detail()

<!-- /.card-header -->
<!-- form start -->
<form class="" autocomplete="off" id="userForm" action="#(CPATH)/admin/user/doSaveUser">
    <input name="user.id" type="hidden" value="#(user.id)">
    <div class="card-body">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">个人签名</label>

            <div class="col-sm-8">
                <textarea rows="5" class="form-control" placeholder="写写现在的心情..."
                          name="user.signature">#(user.signature ??)</textarea>
            </div>
        </div>

    </div>

    <div class="card-footer">
        <div class="offset-sm-2 col-sm-10 submit-block">
            <div class="card-submit">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>

</form>
#end

