#@layout()

#define content()
    <section class="content-header">
        <h1>
            新增用户
            <small>Add User</small>
        </h1>
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class=" autoAjaxSubmit" autocomplete="off"
                          method="post"
                          data-ok-href="#(CPATH)/admin/user/list"
                          action="#(CPATH)/admin/user/doAdd">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">登录账号</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="此项用于登录"
                                           name="user.username">
                                    <p class="text-muted"> 登录名不支持修改 </p>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">昵称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="昵称..."
                                           name="user.nickname">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">新密码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" placeholder="密码" name="newPwd">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">确认密码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" placeholder="及确认密码" name="confirmPwd">
                                </div>
                            </div>

                            <h4 class="form-header">联系信息</h4>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">邮箱</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="请填写邮箱"
                                           name="user.email">
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">手机号</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="及手机号"
                                           name="user.mobile">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">地址</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="地址"
                                           name="user.address">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">邮编</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="和邮编"
                                           name="user.zipcode">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">个人网址</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="网址..."
                                           name="user.site">
                                </div>
                            </div>

                            <h4 class="form-header">其他</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">个人签名</label>

                                <div class="col-sm-6">
                                    <textarea rows="5" class="form-control" placeholder="个人签名一般显示在个人中心里..."
                                              name="user.signature"></textarea>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>

    </section>
#end
