#@layout()

#define script()
<script>

    function doChangeStatus(id, status) {
        ajaxGet("#(CPATH)/admin/user/doUserStatusChange?id=" + id + "&status=" + status)
    }

    function doDel(id) {
        if (confirm('确定要删除该用户吗？删除后不可恢复')) {
            ajaxGet("#(CPATH)/admin/user/doUserDel/" + id)
        }
    }

    $(".changeRoleAction").click(function () {
        var ids = getSelectedIds();
        var roleId = $(this).attr("data-rid");
        if (ids == "") {
            alert('您未选择任何内容');
            return
        }
        ajaxGet("#(CPATH)/admin/user/doChangeRoleByIds?ids=" + ids + "&roleId=" + roleId)
    })


</script>
#end

#define content()
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                用户管理
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 用户 / 用户管理</small>
                            </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" style="padding-top: 20px">
                            <a href="#(CPATH)/admin/user">全部 (#(totalCount ?? 0))</a> |
                            <a href="?status=ok">正常 (#(okCount ?? 0))</a> |
                            <a href="?status=registered" style="color: #a00">未激活 (#(regCount ?? 0))</a> |
                            <a href="?status=locked" style="color: #a00">冻结 (#(lockedCount ?? 0))</a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 ">
                    <div class=" float-sm-right" style="padding-top: 45px">
                        <a href="#(CPATH)/admin/user/edit" class="btn btn-primary "> <i
                                class="fas fa-plus"></i> 新建</a>
                    </div>
                </div>

            </div>

        </div><!-- /.container-fluid -->
    </section>



    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">
                    <div class="card-header with-border">
                        <form class=" admin-search-panel" action="" method="get">
                            <input type="hidden" name="status" value="#para('status')">
                            <div class="row">

                                <div class="form-group col-lg-2">
                                        <input type="text" placeholder="用户" class="form-control" name="username" value="#para('username')">
                                </div>


                                <div class="form-group col-lg-2">
                                        <input type="text" placeholder="邮箱" class="form-control" name="email" value="#para('email')">
                                </div>

                                <div class="form-group col-lg-2">
                                        <input type="text" placeholder="手机号" class="form-control" name="mobile" value="#para('mobile')">
                                </div>

                                <div class="form-group col-lg-2">
                                        <input type="text" placeholder="标签" class="form-control" name="tag" value="#para('tag')">
                                </div>


                                <div class="form-group col-lg-2">
                                        <button type="submit" class="btn btn-primary ">查询</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </form>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input class="tableCheckAll" id="checkall" type="checkbox"/>
                                </th>
                                <th style="width: 80px">ID</th>
                                <th style="width: 20%">登录名</th>
                                <th style="width: 10%">昵称</th>
                                <th>标签</th>
                                <th>邮箱</th>
                                <th>手机号</th>
                                <th>来源</th>
                                <th>创建时间</th>
                            </tr>

                            #for(user : page.list ??)
                            <tr>
                                <td>
                                    <input name="tableItem" type="checkbox" value="#(user.id)"/>
                                </td>
                                <td>#(user.id)</td>
                                <td>
                                    <img src="#(user.avatar )" style="width: 20px;height: 20px">
                                    <strong>
                                        #if(user.username)
                                        <a href="#(CPATH)/admin/user/detail/#(user.id)">
                                            #(user.username)
                                        </a>
                                        #else
                                        无登录名
                                        #end
                                        #if(user.isStatusReg()) （未激活） #end
                                        #if(user.isStatusLocked()) （已冻结） #end
                                    </strong>

                                    <div class="jp-action-card">
                                        <div class="jp-action-body">
                                            <a href="#(CPATH)/admin/user/detail/#(user.id)"
                                               style="color: #006505">编辑</a> |
                                            <a href="#(CPATH)/admin/user/permissions/#(user.id)"
                                               onclick="draft('#(user.id??)')">权限</a> |
                                            #if(user.isStatusOk() == false)
                                            <a href="javascript:;" onclick="doChangeStatus('#(user.id)','ok')">激活正常</a>
                                            |
                                            #end
                                            #if(user.isStatusReg() == false)
                                            <a href="javascript:;" onclick="doChangeStatus('#(user.id)','registered')"
                                               style="color: #a00">未激活</a> |
                                            #end
                                            #if(user.isStatusLocked() == false)
                                            <a href="javascript:;" onclick="doChangeStatus('#(user.id)','locked')"
                                               style="color: #a00">冻结</a> |
                                            #end
                                            <a href="javascript:;" onclick="doDel('#(user.id)')"
                                               style="color: #a00">删除</a>
                                        </div>
                                    </div>
                                </td>
                                <td>#(user.nickname ??)</td>
                                <td>
                                    #userTags(userId = user.id)
                                        #for(t : tags)
                                            #(t.title ??)
                                            #if(!for.last) , #end
                                        #end
                                    #end
                                </td>

                                <td>#(user.email ??)</td>
                                <td>#(user.mobile ??)</td>

                                <td>#(user.sourceString ??)</td>
                                <td>#date(user.created ??)</td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input tableCheckAll" id="checkall" type="checkbox" >
                                            <label class="form-check-label" for="checkall">全选</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select class="form-control" name="action">
                                            <option value="">请选择...</option>
                                            <option value="doDelByIds" open-type="del-confirm">
                                                批量删除
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
    </section>
#end
