#@layout()

#define script()
<script>


</script>
#end

#define content()

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                会员加入记录
                                <small data-toggle="tooltip" title="用户权限管理" data-placement="bottom"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 会员组 / 会员加入记录</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <!-- /.card-header -->
                    <div class="card-body p-0">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10%">用户</th>
                                <th>会员</th>
                                <th>加入方式</th>
                                <th>加入金额</th>
                                <th>加入时间</th>
                                <th>来源</th>
                                <th>时间</th>
                            </tr>
                            #for(item : page.list ??)
                            <tr>
                                <td>
                                    <strong>
                                        <a href="#(CPATH)/admin/user/detail/#(item.user_id ??)"> #(item.user.nickname ??) </a>
                                    </strong>
                                </td>
                                <td>#(item.group_name ??)</td>
                                <td>#(item.joinTypeStr ??)</td>
                                <td>#number(item.join_price ,"0.00")</td>
                                <td>#(item.valid_term ??) 天</td>
                                <td>#(item.joinFromStr ??)</td>
                                <td>#date(item.created ??)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input tableCheckAll" id="checkall" type="checkbox" >
                                            <label class="form-check-label" for="checkall">全选</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select class="form-control" name="action">
                                            <option value="">请选择...</option>
                                            <option value="doDelByIds" open-type="del-confirm">
                                                批量删除
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
    </section>
#end
