#include("_user_msg_layout.html")
#@user_msg_layout("sms")

#define layout_script()
<script src="/static/components/ckeditor/ckeditor.js"></script>
<script>
    initEditor('contenteditor', 300);
</script>
#end

#define detail()
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <!-- /.box-header -->

<form class="form-horizontal" autocomplete="off" id="userForm" action="#(CPATH)/admin/user/doSaveUser">
    <div class="box-body">



        <div class="form-group">
            <label class="col-sm-2 control-label">用户标签</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" value="111" readonly="">
                <p class="help-block">邮件将会发送给该标签下的所有用户，多个标签请用逗号隔开。</p>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">抄送</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="取个好听的昵称..." value="111" name="user.nickname">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">通知短信模板</label>
            <div class="col-sm-8">
                                    <textarea rows="2" class="form-control" placeholder="..."
                                              name="pay_notify_sms_template">#option('pay_notify_sms_template')</textarea>
                <p class="help-block"> 请先在 <a href="#(CPATH)/admin/setting/connection">[通信]</a> 开启短信功能，这里填写阿里云或腾讯云的短信模板ID。
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">短信签名</label>
            <div class="col-sm-8">
                <input type="input" class="form-control" placeholder="只有部分服务商需要短信签名"
                       name="pay_notify_sms_sign"
                       value="#option('pay_notify_sms_sign')">
                <p class="help-block"> 请填写阿里云或腾讯云的短信签名。</p>
            </div>
        </div>



    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="col-sm-offset-2 col-sm-10 submit-block">
            <div class="box-submit">
                <button type="submit" class="btn btn-primary">发送</button>
            </div>
        </div>
    </div>
</form>
    <!-- /.box-footer -->
#end

