#@layout()
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            角色编辑
            <small>Role Edit</small>
        </h1>
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <form class=" form-setting" autocomplete="off"
                          action="#(CPATH)/admin/user/doRoleSave"
                          method="POST"
                    >
                        <input type="hidden" name="role.id" value="#(role.id ??)">
                        <div class="card-body p-0">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">名称</label>

                                <div class="col-sm-6">
                                    <input type="input" name="role.name" class="form-control" value="#(role.name ??)"
                                           placeholder="建议设置一个直观的、不需要解释的名称">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">超级管理员</label>
                                <div class="col-sm-6">
                                    #if(role)
                                    <input type="checkbox" class="switchery" name="issuper" value="true"
                                           #checkedIf(role.isSuperAdmin())>
                                    #else
                                    <input type="checkbox" class="switchery" name="issuper" value="true">
                                    #end
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">描述</label>
                                <div class="col-sm-6">
                                    <textarea rows="5" name="role.description" class="form-control"
                                              placeholder="该角色的一些描述 或 备注">#(role.description ??)</textarea>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
