#@layout()

#define script()
<script>

    function doDel(id) {
        ajaxGet("/admin/job/categoryDoDel/" + id);
    }

</script>
#end

#define content()

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            岗位分类管理
                            <small data-toggle="tooltip" title="" data-placement="right"
                                   data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                            <small> 首页 / job / 岗位分类管理</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <div class="row">
        <div class="col-lg-5">
            <div class="card card-outline card-primary">
                <!-- form start -->
                <form class=" form-setting autoAjaxSubmit" autocomplete="off"
                      action="/admin/job/categoryDoSave"
                      data-ok-href="/admin/job/JobCategory"
                      data-ok-message="岗位分类保存成功"
                      method="post">

                    <div class="card-body ">
                        <input type="hidden" id="entryId" name="jobCategory.id" value="#(jobCategory.id ??)">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">父分类</label>
                            <div class="col-sm-6">

                                <select class="form-control" name="connection_sms_type">
                                    #for(item : categoryList)
                                    <option>顶级分类</option>
                                    <option value="#(item.id ??)" #if(item.id ?? == jobCategory.pid ??) selected #end>#(item.name ??)</option>
                                    #end
                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">创建分类的用户</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.user_id" class="form-control" value="#(jobCategory.user_id ??)" readonly
                                       placeholder="如果是新建可不用填写">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">分类名称</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.name" class="form-control" value="#(jobCategory.name ??)"
                                       placeholder="请填写分类名称">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">内容描述</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.content" class="form-control" value="#(jobCategory.content ??)"
                                       placeholder="请填写描述">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">摘要</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.summary" class="form-control" value="#(jobCategory.summary ??)"
                                       placeholder="请填写摘要">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">该分类下的岗位数量</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.count" class="form-control" value="#(jobCategory.count ??)"
                                       placeholder="请填写岗位数量">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">图标</label>
                            <div class="col-sm-6">
                                <div class="jpress-image-browser">
                                    <input type="hidden" name="jobCategory.icon" value="#(jobCategory.icon ??)"/>
                                    <img src="#(jobCategory.icon ?? '/static/commons/img/nothumbnail.jpg')">
                                    <div class="image-action">
                                        <a class="image-delete"> <i class="fa fa-trash"></i></a>
                                        <a class="image-edit"> <i class="fa fa-edit"></i></a>
                                    </div>
                                </div>
                                <p class="text-muted"> </p>

                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">排序编码</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.order_number" class="form-control" value="#(jobCategory.order_number ??)"
                                       placeholder="请填写排序编码">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">标识</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.flag" class="form-control" value="#(jobCategory.flag ??)"
                                       placeholder="请填写标识">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">SEO关键字</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.meta_keywords" class="form-control" value="#(jobCategory.meta_keywords ??)"
                                       placeholder="请填写SEO关键字">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">SEO描述内容</label>
                            <div class="col-sm-6">

                                <input type="input" name="jobCategory.meta_description" class="form-control" value="#(jobCategory.meta_description ??)"
                                       placeholder="请填写SEO描述内内容">
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="offset-sm-2 col-sm-10 submit-block">
                            <div class="card-submit">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card card-outline card-primary">

                <div class="card-body p-0">

                    <table class="table table-striped table-action">
                        <thead>
                        <tr>
                            <th style="width: 10px">
                                <input class="tableCheckAll"  type="checkbox">
                            </th>
                            <th>分类名称</th>
                            <th>父级分类</th>
                            <th>图标</th>
                            <th>该分类下的岗位数量</th>
                            <th>排序编码</th>
                            <th>标识</th>
                            <th>创建日期</th>
                            <th>修改日期</th>
                        </tr>
                        </thead>
                        <tbody>


                        #for(entry : page.list ??)
                        <tr >
                            <td><input name="tableItem" type="checkbox" value="#(entry.id)"></td>
                            <td>
                                #(entry.name)
                                <div class="jp-action-card">
                                    <div class="jp-action-body">
                                        <a href="/admin/job/JobCategory/#(entry.id)">编辑</a> |
                                        <a href="javascript:;" class="red-action"
                                           onclick="doDel('#(entry.id)')">删除</a>
                                    </div>
                                </div>
                            </td>
                            <td>#(entry.pid)</td>
                            <td>
                               <img src="#(entry.icon ??)" style="width: 40px;height: 40px">
                            </td>
                            <td>#(entry.count)</td>
                            <td>#(entry.order_number)</td>
                            <td>#(entry.flag)</td>
                            <td>#(entry.created)</td>
                            <td>#(entry.modified)</td>
                        </tr>
                        #end

                        </tbody>
                    </table>


                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input tableCheckAll" id="checkall" type="checkbox" >
                                            <label class="form-check-label" for="checkall">全选</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select class="form-control" name="action">
                                            <option value="">请选择...</option>
                                            <option value="categoryDoDelByIds" open-type="del-confirm">
                                                批量删除
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                #@_paginate()
                            </div>
                        </div>
                    </div>


                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

#end
