#@layout()
#define css()
<style type="text/css">
    .switchery-item {
        padding-bottom: 10px;
    }

    .switchery-item .switchery-small {
        margin-top: -2px;
        margin-right: 10px;
    }
</style>
#end

#define script()
<script src="#(CPATH)/static/components/sortable/Sortable.min.js"></script>

<script>

</script>
#end


#define content()
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                招聘设置
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 招聘 / 招聘设置</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <!-- form start -->
                    <form class=" form-setting" autocomplete="off" id="optionForm" method="post">
                        <div class="card-body">
                            <h4 class="form-header">验证功能</h4>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-6">

<!--                                    <div class="switchery-item">-->
<!--                                        <input type="checkbox" class="switchery" data-for="job_mobile_enable" #checkedIf(option("job_mobile_enable"))>-->
<!--                                        <input type="hidden" id="job_mobile_enable" name="job_mobile_enable">-->
<!--                                        开启手机验证-->
<!--                                    </div>-->

<!--                                    <div class="switchery-item">-->
<!--                                        <input type="checkbox" class="switchery" data-for="job_email_enable" #checkedIf(option("job_email_enable"))>-->
<!--                                        <input type="hidden" id="job_email_enable" name="job_email_enable"> 开启邮箱验证-->
<!--                                    </div>-->

                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery" data-for="job_apply_enable" #checkedIf(option("job_apply_enable"))>
                                        <input type="hidden" id="job_apply_enable" name="job_apply_enable"> 开启简历投递
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary ">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>

    </section>
#end
