#@layout()

#define script()
<script>

    function doDel(id) {
        ajaxGet("#(CPATH)/admin/job/doDel/" + id);
    }

</script>
#end

#define content()

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>
                            岗位管理
                            <small data-toggle="tooltip" title="可以查看所有岗位，鼠标移到岗位标题上，可以对其编辑或删除等操作" data-placement="bottom"
                                   data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                            <small> 首页 / job / 岗位管理</small>
                        </h1>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 ">
                <div class=" float-sm-right" style="padding-top: 45px">
                    <a href="/admin/job/add" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>新建</a>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="content">
    <div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <form class=" admin-search-panel" action="" method="get">
                    <div class="row">
                        <div class="form-group col-lg-2">
                            <button type="submit" class="btn btn-primary ">查询</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body p-0">

                <table class="table table-striped table-action">
                    <thead>
                    <tr>
                        <th style="width: 10px">
                            <input class="tableCheckAll" type="checkbox">
                        </th>
                        <th>工作名称</th>
                        <th>分类</th>
                        <th>部门</th>
                        <th>描述</th>
                        <th>工作地点</th>
                        <th>年龄</th>
                        <th>学历</th>
                        <th>工作年限</th>
                        <th>标签</th>
                        <th>接收简历邮箱</th>
                        <th>是否属于远程工作</th>
                        <th>工作类型</th>
                        <th>招聘类型</th>
                        <th>招聘人数</th>
                        <th>有效时间</th>
                        <th>发布时间</th>
                    </tr>
                    </thead>
                    <tbody>


                    #for(entry : page.list ??)
                    <tr>
                        <td><input name="tableItem" type="checkbox" value="#(entry.id)"/>
                        </td>
                        <td style="width: 100px">
                            #(entry.name)

                            <div class="jp-action-card">
                                <div class="jp-action-body">
                                    <a href="/admin/job/edit/#(entry.id)">编辑</a> |
                                    <a href="javascript:;" class="red-action"
                                       onclick="doDel('#(entry.id)')">删除</a>
                                </div>
                            </div>
                        </td>
                        <td>#(entry.category.name ??)</td>
                        <td>#(entry.dept.name ??)</td>
                        <td>#maxLength(entry.summary ??,5)</td>
                        <td>#(entry.address.name ??)</td>
                        <td>#(entry.age_start ??)~#(entry.age_end ??)</td>

                        <td>
                            #if(entry.education ?? == 0) 不限制学历
                            #else if(entry.education ?? == 1)初中及以下
                            #else if(entry.education ?? == 2)中专/中技
                            #else if(entry.education ?? == 3)高中
                            #else if(entry.education ?? == 4)大专
                            #else if(entry.education ?? == 5)本科
                            #else if(entry.education ?? == 6)硕士
                            #else if(entry.education ?? == 7)博士
                            #end
                        </td>

                        <td>
                            #if(entry.work_year ?? == 0) 不限
                            #else if(entry.work_year ?? == 1) 在校生
                            #else if(entry.work_year ?? == 2) 应届生
                            #else if(entry.work_year ?? == 3) 1年以内
                            #else if(entry.work_year ?? == 4) 1-3年
                            #else if(entry.work_year ?? == 5) 3-5年
                            #else if(entry.work_year ?? == 6) 3-5年
                            #else if(entry.work_year ?? == 7) 10年以上
                            #end
                        </td>

                        <td>#(entry.flag ??)</td>
                        <td>#(entry.email ??)</td>

                        <td>#if(entry.isRemote??) <i class="fa fa-2x fa-toggle-on" style="color:#32bc69"></i>
                            #else <i class="fa fa-2x fa-toggle-off"></i> #end
                        </td>

                        <td>
                            #if(entry.work_type ?? == 0) 全职
                            #else if(entry.work_type ?? == 1) 兼职
                            #else if(entry.work_type ?? == 2) 钟点工
                            #end
                        </td>

                        <td>
                            #if(entry.recruitment_type ?? == 0) 社招
                            #else if(entry.recruitment_type ?? == 1) 校招
                            #else if(entry.recruitment_type ?? == 2) 实习
                            #end
                        </td>

                        <td>#(entry.people_count ??)</td>
                        <td>#date(entry.effective_time ??)</td>
                        <td>#date(entry.release_time ??)</td>
                    </tr>
                    #end

                    </tbody>
                </table>


                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">

                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input tableCheckAll" id="checkall" type="checkbox">
                                        <label class="form-check-label" for="checkall">全选</label>
                                    </div>
                                </div>
                                <div class="form-group col-lg-3">
                                    <select class="form-control" name="action">
                                        <option value="">请选择...</option>
                                        <option value="doDelByIds" open-type="del-confirm">
                                            批量删除
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-3">
                                    <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            #@_paginate()
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
#end
