#@layout()
#define css()
#@layout_css?()
<link rel="stylesheet" href="#(CPATH)/static/components/datepicker/css/bootstrap-datepicker3.min.css">
#end
#define script()
#@layout_script?()
<script src="#(CPATH)/static/components/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="#(CPATH)/static/components/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script>
    $("input[hint='date']").datepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN'
    });

  function doSubmit() {
    ajaxSubmit("#form", function (data) {
        $("#entryId").attr("value", data.id);
        toastr.success('内容保存成功。');
    })
  }

    $("#submit").on("click", function () {
        doSubmit();
    })
    </script>
#end

#define content()

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                编辑/新增
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / JobCategory / 编辑</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-primary">
                    <form class=" form-setting" autocomplete="off"
                          action="/admin/job/jobCategory/doSave"
                          method="POST" id="form">

                        <div class="card-body ">
	                                <input type="hidden" id="entryId" name="jobCategory.id" value="#(jobCategory.id ??)">
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">父分类</label>
		                                <div class="col-sm-6">

											<select class="form-control" name="connection_sms_type">
												#for(item : categoryList)
												<option value="#(item.id ??)" #if(item.id ?? == jobCategory.pid ??) selected #end>#(item.name ??)</option>
												#end
											</select>

		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">创建分类的用户</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.user_id" class="form-control" value="#(jobCategory.user_id ??)" readonly
		                                           placeholder="如果是新建可不用填写">
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">分类名称</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.name" class="form-control" value="#(jobCategory.name ??)"
		                                           placeholder="请填写分类名称">
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">内容描述</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.content" class="form-control" value="#(jobCategory.content ??)"
		                                           placeholder="请填写描述">
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">摘要</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.summary" class="form-control" value="#(jobCategory.summary ??)"
		                                           placeholder="请填写摘要">
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">该分类下的岗位数量</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.count" class="form-control" value="#(jobCategory.count ??)"
		                                           placeholder="请填写岗位数量">
		                                </div>
		                            </div>


		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">图标</label>
		                                <div class="col-sm-6">
											<div class="jpress-image-browser">
												<input type="hidden" name="jobCategory.icon" value="#(jobCategory.icon ??)"/>
												<img src="#(jobCategory.icon ?? '/static/commons/img/nothumbnail.jpg')">
												<div class="image-action">
													<a class="image-delete"> <i class="fa fa-trash"></i></a>
													<a class="image-edit"> <i class="fa fa-edit"></i></a>
												</div>
											</div>
											<p class="text-muted"> </p>

		                                </div>
		                            </div>



		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">排序编码</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.order_number" class="form-control" value="#(jobCategory.order_number ??)"
		                                           placeholder="请填写排序编码">
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">标识</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.flag" class="form-control" value="#(jobCategory.flag ??)"
		                                           placeholder="请填写标识">
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">SEO关键字</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.meta_keywords" class="form-control" value="#(jobCategory.meta_keywords ??)"
		                                           placeholder="请填写SEO关键字">
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">SEO描述内容</label>
		                                <div class="col-sm-6">

										   <input type="input" name="jobCategory.meta_description" class="form-control" value="#(jobCategory.meta_description ??)"
		                                           placeholder="请填写SEO描述内内容">
		                                </div>
		                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button id="submit" type="button" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

#end
