<#include "_layout.html"/> 
<@layout>
<div class="x-pc-width clearfix x-margin-top-20 x-margin-bottom-20">
  <!-- -->
  <div class="x-pull-left x-layout-100 blog-sm-left">
    <div class="x-background-white x-margin-bottom-10 x-padding-10 x-div-radius">
      <h3 class="x-font-title12 x-padding-top-10 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
        <a class="x-a-active" href="#">404</a>
        <span class="x-title-border"></span>
      </h3>
      <div class="x-details-content x-padding-top-10 x-padding-bottom-10">
        找不到这个页面了
      </div>
    </div>
  </div>
</div>
</@layout>
