<div class="comment-item">
    <div class="comment-item-portrait">
        <img src="#(comment.user.avatar ?? (TPATH + '/img/default-avatar.png'))" class="img-fluid rounded-circle">
    </div>
    <div class="comment-item-content">
        <div class="comment-item-content-item">
            <div class="comment-author">#(comment.author)</div>
            <div>#(comment.created )</div>
        </div>
        <div class="comment-item-content-main">#(comment.content)</div>
        #if(comment.parent)
        <div class="comment-secondary-panel">
            <span class="triangle-icon"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
            <div class="comment-item-content">
                <div class="comment-item-content-item">
                    <div class="comment-author">#(comment.parent.author)</div>
                    <div>#date(comment.parent.created)</div>
                </div>
                <div class="comment-item-content-main">#(comment.parent.content)</div>
            </div>
            <span class="clearfix"></span>
        </div>
        #end
    </div>
    <span class="clearfix"></span>
    <div class="comment-reply-btn">
        <a href="javascript:;"
           data-cid="#(comment.id)"
           data-author="#(comment.author ??)"
           class="toReplyComment">回复</a>
    </div>

</div>

