#define _menuItem(menu)
<li class="#(menu.hasChild()?'jp-menu-item-haschild':'') #(menu.isActive?'jp-menu-item-active':'')">
    <a class="#(menu.hasChild()?'has-arrow':'') #(menu.isActive?'active':'')"
       href="#(menu.hasChild()?'#':menu.url ??)"
       target="#(menu.target ??)">
        #(menu.icon ??)
        #(menu.text ??)
    </a>
    #if(menu.hasChild())
    <ul class="jp-collapse">
        #for(childMenu : menu.getChilds())
        #call('_menuItem',childMenu)
        #end
    </ul>
    #end
</li>

#end


#define defaultMenu(topClass)
<nav class="#(topClass ? topClass : 'jpress-nav') is-hoverable">
    <ul class="jp-menu">
        #for(menu : MENUS)
        #call('_menuItem',menu)
        #end
    </ul>
</nav>
#end


