#include("layout.html")
#@layout()

#define script()
<script>
    $('#commentForm').on('submit', function () {
        $(this).ajaxSubmit({
            type: "post",
            success: function (data) {
                if (data.state == "ok") {
                    alert('评论发布成功，管理审核后即可正常显示。')
                } else {
                    alert('评论失败：' + data.message);
                }
                $('#content').val('');
            },
            error: function () {
                alert("网络错误，请稍后重试");
            }
        });
        return false;
    });

    $('.toReply').on('click', function () {
        $('#pid').val($(this).attr('data-cid'));
        $('#content').val('回复 @' + $(this).attr('data-author') + " ：");
        $('#content').focus();
    });
</script>
#end

#define content()
<div class="container">
    <div class="ll-artical-content">
        <h2 class="ll-artical-title">#(article.title ??)</h2>
        <div class="ll-card-tag">
            <div class="">
                <img src="img/list-image.jpg" class="img-fluid rounded-circle" alt="Responsive image">
                <span class="text-success">#(article.user.nickname ??)</span>
            </div>
            <div><i class="fa fa-clock-o"></i>#date(article.created)</div>
            <div><i class="fa fa-eye"></i> #(article.view_count ?? 0)</div>
            <div><i class="fa fa-commenting-o"></i> #(article.comment_count ?? 0)</div>
        </div>
        <div class="ll-artical">
            #(article.content ??)
        </div>

        #relevantArticles(article)
        <div class="recommend-panel">
            <h4 class="ll-title">相关文章</h4>
            <div class="card-deck">
                #for(article :relevantArticles )
                <div class="card">
                    <a class="recommend-panel-link" href="#articleUrl(article)">
                        <div class="recommend-panel-top">
                            <img src="img/blog-image.jpg" class="img-fluid" alt="#(article.title ??)">
                        </div>
                        <div class="recommend-panel-bottom">
                            #(article.title ??)
                        </div>
                    </a>
                </div>
                #end
            </div>
        </div>
        #end

        <div class="comment" id="comments">
            <h4 class="ll-title">发表评论</h4>

            <form class="ll-comment-from" id="commentForm" action="#(CPATH)/article/postComment" method="post">
                <input type="hidden" name="articleId" value="#(article.id)">
                <input type="hidden" name="pid" id="pid">
                <div>
                    <span class="ll-comment-from-icon"><i class="fa fa-pencil"></i></span>
                    <textarea placeholder="想说就说吧..." rows="1" name="content" id="content"></textarea>
                </div>
                <button type="submit">发射</button>
                <span class="clearfix"></span>
            </form>


            #commentPage()
            #for(comment : commentPage.list)
            #if(comment.parent)
            <div class="comment-panel">
                <div class="comment-panel-portrait">
                    <img src="#(comment.parent.avatar ??)" class="img-fluid rounded-circle"
                         alt="#(comment.parent.nickname ??)">
                </div>
                <div class="comment-panel-content">
                    <div class="comment-panel-content-item">
                        <div>#(comment.parent.nickname ??)</div>
                        <div>#date(comment.parent.created)</div>
                    </div>
                    <div class="comment-panel-content-main">#(comment.parent.content ??)</div>
                    <div class="comment-secondary-panel">
                        <div class="comment-panel-portrait">
                            <img src="#(comment.avatar ??)" class="img-fluid rounded-circle"
                                 alt="#(comment.nickname ??)">
                        </div>
                        <div class="comment-panel-content">
                            <div class="comment-panel-content-item">
                                <div>#(comment.nickname ??)</div>
                                <div>#date(comment.created)</div>
                            </div>
                            <div class="comment-panel-content-main">#(comment.content ??)</div>
                        </div>
                        <span class="clearfix"></span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="text-right text-primary">
                    <a href="javascript:;"
                       data-cid="#(comment.id)"
                       data-author="#(comment.author ??)"
                       class="toReply">回复</a>
                </div>
            </div>
            #else
            <div class="comment-panel">
                <div class="comment-panel-portrait">
                    <img src="#(comment.avatar ??)" class="img-fluid rounded-circle"
                         alt="#(comment.nickname ??)">
                </div>
                <div class="comment-panel-content">
                    <div class="comment-panel-content-item">
                        <div>#(comment.author ??)</div>
                        <div>#date(comment.created)</div>
                    </div>
                    <div class="comment-panel-content-main">#(comment.content ??)</div>
                </div>
                <span class="clearfix"></span>
                <div class="text-right text-primary">
                    <a href="javascript:;"
                       data-cid="#(comment.id)"
                       data-author="#(comment.author ??)"
                       class="toReply">回复</a>
                </div>
            </div>
            #end
            #end


            #commentPaginate(anchor="comments")
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center ll-page">
                    #for(page : pages)
                    <li class="page-item #(page.style ??)">
                        <a class="page-link" href="#(page.url ??)">
                            #(page.text ??)
                        </a>
                    </li>
                    #end
                </ul>
            </nav>
            #end

            #end
        </div>
    </div>
</div>
#end