#include("layout.html")
#@layout()
#define content()
<div class="container">
    <div class="ll-card">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 ll-card-image"><a href="#"><img src="img/list-image.jpg" class="img-fluid" alt="Responsive image"></a></div>
            <div class="col-lg-10 col-md-9 col-sm-12 ll-card-main">
                <h3 class="ll-card-main-title"><a href="lightlog-detail.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
                <div class="ll-card-tag">
                    <div><i class="fa fa-clock-o"></i> 2017-10-01 18:00</div>
                    <div><i class="fa fa-eye"></i> 156</div>
                    <div><i class="fa fa-commenting-o"></i> 2</div>
                </div>
                <p class="ll-card-main-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
                <p class="ll-card-more"><a href="lightlog-detail.html">阅读更多...</a></p>
            </div>
        </div>
    </div>
    #include("paginate.html")
</div>
#end