#include("layout.html")
#@layout()
#define content()


<div class="container ll-cantainer">
    #articles()
    #for(article : articles)
    <div class="ll-card">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 ll-card-image">
                <a href="#">
                    <img src="#(article.thumbnail ??)" class="img-fluid" alt="#(article.title ??)">
                </a>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 ll-card-main">
                <h3 class="ll-card-main-title">
                    <a href="#articleUrl(article)">
                        #(article.title ??)
                    </a>
                </h3>
                <div class="ll-card-tag">
                    <div><i class="fa fa-clock-o"></i>#date(article.created)</div>
                    <div><i class="fa fa-eye"></i>#(article.view_count)</div>
                    <div><i class="fa fa-commenting-o"></i>#(article.comment_count)</div>
                </div>
                <p class="ll-card-main-info">
                    #maxLength(article.text,100)
                </p>
                <p class="ll-card-more">
                    <a href="#articleUrl(article)">阅读更多...</a>
                </p>
            </div>
        </div>
    </div>
    #end


    <div style="text-align: center">
        <a href="#(CPATH)/article/category/index-2" style="background:#3f6600;color: #fff;padding: 10px ">更多文章...</a>
    </div>


    #end

</div>
#end