body .layer-ext-jpress .layui-layer-title {
    background: #3e444a;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-bottom: none;
    border-radius: 0;
}

body .layui-ext-jpress .layui-layer-btn {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}

body .layui-ext-jpress .layui-layer-btn a {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}

body .layer-ext-jpress .layui-layer-btn- .layui-layer-btn0 {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}


