#define layout(showSidebar)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="referrer" content="always"/>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bh-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="#(CPATH)/static/commons/img/jpress.jpg" type="image/x-icon">
    #@css?()
</head>
<body>
<div class="container-fluid" style="padding:0;">
    <div class="bh-content">
        #if(showSidebar)
        <div class="bh-sidebar">
            <div class="bh-sidebar-main">
                <p class="bh-portrait">
                    <img src="#option('bonhumeur_web_avatar','img/list-image.jpg')" />
                </p>
                <h1>#(WEB_NAME ?? '未设置网站名称')</h1>
                <p>#option('bonhumeur_web_desc','请在后台设置描述')</p>
            </div>
        </div>
        #end
        <div class="bh-main">

            #@content()

            <div class="bh-footer">
                <p class="bh-copyright">本设计由简.工作室荣誉出品</p>
                <p class="bh-copyright">#(WEB_COPYRIGHT ?? 'copyright @ 2018~2020 JPress（www.jpress.io）')</p>
            </div>
        </div>
    </div>
</div>

<script src="/static/components/jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
#@script?()
</body>
</html>
#end