* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.red {
    color: red;
}


input,
textarea,
select {
    font-size: 14px;
    color: #333;
}

.form-control {
    font-size: 0.8rem;
    border-color: #eee;
}

.custom-select,
.custom-select option,
.form-check-label,
.custom-file-label {
    font-size: 0.8rem;
}

.custom-select:focus,
.form-control:focus {
    border-color: #d2d2d2 !important;
    outline: 0;
    box-shadow: none;
}

.form-label-left label {
    margin-bottom: 0;
}

.form-label-left {
    float: left;
    width: 80px;
    padding-top: 0.35rem;
    margin-right: 15px;
    font-size: 14px;
    text-align: right;
}

.custom-switch,
.form-check {
    padding-top: 0.35rem;
}

.form-range-box {
    padding-top: 0.35rem;
}

.btn {
    outline: none;
}
.btn:hover,
.btn:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.container-fluid {
    padding-top: 20px;
}

.bs-form-builder-header {
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #f6f6f6;
}

.nav-tabs {
    overflow: hidden;
}

.nav-tabs .nav-item {
    display: block;
    /* width: 50%; */
    text-align: center;
    box-sizing: border-box;
}

.nav-tabs .nav-link {
    display: inline-block;
    color: #333;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    padding: 0.5rem 0.75rem;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #007bff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #007bff;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: #007bff;
    border: none;
    border-bottom: 2px solid #007bff;
}

.border-right {
    border-right: 1px solid #f6f6f6 !important;
}

.border-left {
    border-left: 1px solid #f6f6f6 !important;
}

.border-bottom {
    border-bottom: 1px solid #f6f6f6 !important;
}

.pd10 {
    padding: 0 10px;
}

.pdlr-15 {
    padding: 0 15px;
}

.flex-auto {
    position: relative;
    margin-left: 95px;
}

.bsFormDrags {
    flex-wrap: wrap;
    font-size: 12px;
}

.bsFormDrags ol {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: 10px 0;
    display: inline-block;
    height: 70px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
}

.bsFormDrags ol:hover {
    background: #007bff;
    border-radius: 5px;
    color: #fff;
    border-color: #fff;
}

.item-icon {
    font-size: 18px;
    padding-top: 12px;
}

.bsFormDrags-title {
    font-size: 14px;
    padding: 10px 0;
    font-weight: bold;
}

.bs-template-item {
    border: 1px solid #f6f6f6;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.bs-template-item:hover {
    border: 1px solid #007bff;
}

.bsFormPanel {
    min-height: 100%;
}

.bsFormContainer-placeholder {
    margin: 25% auto;
    text-align: center;
    font-size: 18px;
    color: #c9e0f3;
}



.bsFormItem {
    position: relative;
    border: 1px dashed #d1d1d1;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}

.bsFormItem:hover,
.bsFormItem.active {
    border: 1px solid #007bff;
    background-color: #e9f4fd !important;
}

.bsFormItem .form-group {
    margin-bottom: 0;
}

.bs-item-tools {
    position: absolute;
    background: #007bff;
    right: 0;
    bottom: 0;
    padding: 1px 5px;
    cursor: pointer;
    z-index: 21;
    color: #fff;
    width: 52px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: none;
}

.bsFormItem.active .bs-item-tools {
    display: block;
}

.bs-item-tools i {
    font-size: 12px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.bsItemContainer {
    min-height: 50px;
    border: 1px dashed #ccc;
    background: #f1f1f1;
    padding: 5px 5px 0 5px;
}

.bsFormContainer {
    width: 100%;
    min-height: 800px;
    padding-top: 25px;
}

.bsFormContainer .sortable-ghost {
    background: #007bff;
    border-radius: 5px;
    color: #fff;
    border-color: #fff;
    text-align: center;
    font-size: 12px;
}

.divider-title {
    display: table;
    white-space: nowrap;
    text-align: center;
    background: 0 0;
    font-weight: 500;
    color: #17233d;
    font-size: 12px;
    margin: 16px 0;
}

.divider-title::before {
    content: "";
    display: table-cell;
    top: 50%;
    width: 50%;
    border-top: 1px solid #e8eaec;
    transform: translateY(50%);
}

.divider-title::after {
    content: "";
    display: table-cell;
    top: 50%;
    width: 50%;
    border-top: 1px solid #e8eaec;
    transform: translateY(50%);
}

.bsFormContainer blockquote{
    margin-bottom: 10px;
    padding: 15px;
    line-height: 1.6;
    border-left: 5px solid #007bff;
    border-radius: 0 2px 2px 0;
    background-color: #FAFAFA;
    white-space:normal;
    word-break:break-all;
    word-wrap:break-word;

}


.bsFormActions button{
    margin-right: 0.5rem;
}
.pointer {
    cursor: pointer;
}

.bsForm-upload-btn,
.bsForm-upload-item {
    position: relative;
    display: inline-block;
    color: #ccc;
    height: 126px;
    width: 126px;
    border: 1px dashed #d8d8d8;
    margin-top: 10px;
    background-color: #f7f8fa;
    cursor: pointer;
    vertical-align: middle;

}
.bsForm-upload-btn p{
    font-size:14px;
}
.bsForm-upload-btn .bsForm-icon {
    font-size: 42px;
    vertical-align: middle;
    cursor: pointer;
}

.bsForm-upload-file {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: inline-block;
    height: 120px;
    width: 120px;
    opacity: 0;
    cursor: pointer;
}
.bsFormDelete{
    position: absolute;
    right:10px;
    top:10px;
    font-size:18px;
}
.bsFormDelete i{
    padding:2px 5px;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    border-radius:2px;
}
