#@layout()

#define css()
<style>
    .myPanel {
        font-size: 25px;
        color: #ccc;
        text-align: center;
        height: 230px;
        padding-top: 100px;

    }
</style>
#end

#define content()
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                模板设置
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 模板 / 模板设置</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->

    </section>


    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">
                    <div class="card-body myPanel">
                        当前模板#(template.title ??)不支持设置功能
                    </div>
                </div>
            </div>
        </div>

    </section>
#end
