#@layer()

#define css()
<style>
    .attachment_item {
        height: 200px;
        width: 200px;
        padding: 0px;
        border: 1px solid #ddd;
        margin: 10px;
        float: left;
    }

    .attachment_item:hover {
        border: 3px solid #3c8dbc;
    }

    .attachment_item img {
        height: 100%;
        width: 100%;
    }
</style>
#end

#define script()
<script>

    $(document).ready(function () {
        var height = $(document).height();
        $("#image-box").css("height", height + "px");
        $("#image-box").css("min-height", height + "px");
        $("#image-info").css("height", height + "px");
        $("#image-info").css("min-height", height + "px");
    });

    function del(id) {
        $.get("/admin/attachment/del/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                parent.reload = true;
                parent.layer.closeAll();
            }
        });
    }

    function update(id) {
        $.get("/admin/attachment/update/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                parent.reload = true;
                parent.layer.closeAll();
            }
        });
    }
</script>
#end

#define content()

<div class="row">
    <div class="col-xs-7" style="background: #ffffff" id="image-box">
        <div class="row">
            <img src="#(attachment.path ??)" style="width: 100%">
        </div>
    </div>

    <div class="col-xs-5" style="background: #efefef" id="image-info">
        <div class="row">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">文件名</label>
                    <div class="col-sm-10">
                        xxx.pg
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">文件类型</label>
                    <div class="col-sm-10">
                        image/png（.png）
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">上传于</label>
                    <div class="col-sm-10">
                        image/png（.png）
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">文件大小</label>
                    <div class="col-sm-10">
                        image/png（.png）
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">分辨率</label>
                    <div class="col-sm-10">
                        image/png（.png）
                    </div>
                </div>

            </div>

            <div role="form" style="margin: 20px">

                <!-- textarea -->
                <div class="form-group">
                    <label>URL</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>

                <!-- text input -->
                <div class="form-group">
                    <label>标题</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>

                <!-- textarea -->
                <div class="form-group">
                    <label>说明</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>

            </div>

            <div>
                <a href="javascript:;" onclick="update('#(attachment.id ??)')">保存</a>
                <span>|</span>
                <a href="javascript:;" onclick="del('#(attachment.id ??)')">彻底删除</a>
            </div>
        </div>
    </div>
</div>

#end
