#@layout()

#define script()
<script>

    function trash(id) {
        $.get("/admin/page/trash/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }


    function draft(id) {
        $.get("/admin/page/draft/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }

    function normal(id) {
        $.get("/admin/page/normal/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }

    function del(id) {
        $.get("/admin/page/del/" + id, function (result) {
            if ("ok" != result.state) {
                alert(result.message);
            } else {
                location.reload();
            }
        });
    }
</script>

#end


#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            微信运营工具
            <small>Wechat Addons</small>
        </h1>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox" value="0"/>
                                </th>
                                <th style="width: 450px">名称</th>
                                <th>描述</th>
                                <th style="width: 100px">触发关键字</th>
                            </tr>

                            #for(sp : page.list)
                            <tr class="jp-actiontr">
                                <td><input class="dataItem" type="checkbox" value="32" onchange="dataItemChange(this)"/>
                                </td>
                                <td>
                                    <a href="/admin/page/write/#(sp.id)">#(sp.title ??)</a>
                                    #if(sp.isDraft())
                                    （草稿）
                                    #end
                                    <div class="jp-actionblock">
                                        #if(sp.isNormal())
                                        <div class="jp-actionitem">
                                            <a href="/admin/page/write/#(sp.id)" style="color: #006505">编辑</a> |
                                            <a href="/#(sp.slug ??)" target="_blank" style="color: #006505">查看</a> |
                                            <a href="javascript:;" onclick="draft('#(sp.id??)')" style="color: #006505">草稿</a>
                                            |
                                            <a href="javascript:;" onclick="trash('#(sp.id??)')"
                                               style="color: #a00">垃圾箱</a>
                                        </div>
                                        #elseif(sp.isDraft())
                                        <div class="jp-actionitem">
                                            <a href="/admin/page/write/#(sp.id)" style="color: #006505">编辑</a> |
                                            <a href="javascript:;" onclick="trash('#(sp.id??)')"
                                               style="color: #a00">垃圾箱</a>
                                        </div>
                                        #else
                                        <div class="jp-actionitem">
                                            <a href="javascript:;" onclick="draft('#(sp.id??)')" style="color: #006505">还原</a>
                                            |
                                            <a href="javascript:;" onclick="del('#(sp.id??)')"
                                               style="color: #a00">永久删除</a>
                                        </div>
                                        #end
                                    </div>

                                </td>
                                <td>#(sp.slug ??)</td>
                                <td>#(sp.created ??)</td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
