<#include "_inc/_layout.html"/> 
<@layout>
<div class="container">
    <div class="row">
        <section class="col-xs-12 col-md-9 ">
        
        	<@jp_content_page pagesize="1" >
        	<#list page.getList() as content>
            <article class="content">
                <div class="row">
                    <div class="col-xs-4"> <img class="jp-width100" src="imgs/photo3.jpg"/></div>
                    <div class="col-xs-8 ">
                        <h5 class="jp-margin-top"><a href="${content.url!}">${content.title!}</a></h5>
                        <h6>By<span class="content-author">大宏</span>
                            <span class="release-time">2016-02-03</span>
                        </h6>
                        <p class="display-none-768 content-detail">
                         ${content.summary!}
                        </p>
                        <p class="content-footer">
                            <span class="font-weight6"><a><i class="fa fa-link"></i>民航专家张起淮：“我判断</a></span>
                            <span class="jp-right display-none-768"><i class="fa fa-thumbs-o-up"></i>6</span>
                            <span class="jp-right display-none-768"><i class="fa fa-comment-o"></i>5</span>
                        </p>
                    </div>
                </div>
            </article>
            </#list>
            <section class="jp-right">
                <!-- <ul class="pagination">
                    <li class="active"><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul> 
                 -->
                
                <#include "_inc/_paginate.html" />
               
            </section>
            </@jp_content_page>


        </section>
        <aside class="col-md-3 display-none-992 main-side jp-common">
            <section class="side-tag">
                <h4 class=" jp-margin-top"><span class="side-cloro"></span>热门标签</h4>
                <ul class="list-inline jp-common"><li><a>google</a></li><li><a>fackbook</a></li><li><a>苹果</a></li>
                    <li><a>google</a></li><li><a>小米</a></li><li><a>fackbook</a></li><li><a>苹果</a></li>
                    <li><a>google</a></li><li><a>fackbook</a></li><li><a>苹果</a></li>
                    <li><a>google</a></li><li><a>小米</a></li><li><a>fackbook</a></li><li><a>苹果</a></li></ul>
            </section>
            <section class="side-tag">
                <h4 class=" jp-margin-top"><span class="side-cloro"></span>热文</h4>

                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
                <div class="jp-width100 side-footer"></div>
                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
                <div class="jp-width100 side-footer"></div>
                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
                <div class="jp-width100 side-footer"></div>
                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>

            </section>
        </aside>

    </div>
</div>
</@layout>