<#include "_inc/_layout.html"/> <@layout>
<div class="container">
	<div class="row">
		<#include "_inc/_ucenter_aside.html"/>

		<section class="col-sm-12 col-md-9  ">
			<header class="my-intro">
				<p>
					<span class="active">收藏的文章</span> <span class="">收藏的帖子</span>
				</p>
			</header>

			<article class="forum-content  clearfix">
				<div class="row">
					<div class="col-xs-3">
						<img class="jp-width100" src="imgs/photo3.jpg" />
					</div>
					<div class="col-xs-9">
						<h5 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h5>
						<p class="display-none-768 content-detail">公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。 总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控 ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。</p>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>取消收藏</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row">
					<div class="col-xs-3">
						<img class="jp-width100" src="imgs/photo3.jpg" />
					</div>
					<div class="col-xs-9">
						<h5 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h5>
						<p class="display-none-768 content-detail">公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。 总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控 ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。</p>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>取消收藏</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row">
					<div class="col-xs-3">
						<img class="jp-width100" src="imgs/photo3.jpg" />
					</div>
					<div class="col-xs-9">
						<h5 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h5>
						<p class="display-none-768 content-detail">公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。 总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控 ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。</p>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>取消收藏</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row">
					<div class="col-xs-3">
						<img class="jp-width100" src="imgs/photo3.jpg" />
					</div>
					<div class="col-xs-9">
						<h5 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h5>
						<p class="display-none-768 content-detail">公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。 总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控 ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。</p>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>取消收藏</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row">
					<div class="col-xs-3">
						<img class="jp-width100" src="imgs/photo3.jpg" />
					</div>
					<div class="col-xs-9">
						<h5 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h5>
						<p class="display-none-768 content-detail">公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。 总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控 ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。</p>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>取消收藏</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row">
					<div class="col-xs-3">
						<img class="jp-width100" src="imgs/photo3.jpg" />
					</div>
					<div class="col-xs-9">
						<h5 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h5>
						<p class="display-none-768 content-detail">公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。 总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控 ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。</p>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>取消收藏</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
		</section>
	</div>
</div>
</@layout>
