<#include "_inc/_layout.html"/> <@layout>
<div class="container">
	<div class="row">
		<#include "_inc/_ucenter_aside.html"/>
		<section class="col-sm-12 col-md-9  ">
			<header class="my-intro">
				<p>
					<span class="">收藏的文章</span> <span class="active">收藏的帖子</span>
				</p>
			</header>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>民航专家张起淮：“我判断，这次飞机的客观因素</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content clearfix">
				<section class="jp-right">
					<ul class="pagination">
						<li class="active">
							<a href="#">&laquo;</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">&raquo;</a>
						</li>
					</ul>
				</section>
			</article>

		</section>

	</div>
</div>
</@layout>
