<#include "_inc/_layout.html"/> 
<@layout>
<section  class="content-wrapper content-height">
    <p class="con-header clearfix">
        <span class="jp-left con-info-bottom">重置密码</span>
    </p>

    <div class="con-box">
    <div class="register-box-body">

         <p>为了账号安全，需要验证手机有效性</p><p>
             一条包含有验证码的短信已经发送至手机：<br/><span class="con-info-color">15086011022</span></p>
        <div class="form-group jp-form jp-form-inline2">
            <span class="jp-padding-bo jp-margin-left5 jp-inline-right2">等到58秒</span>
            <label class="sr-only" ></label>
            <div class="input-group jp-input-group ">
                <div class="input-group-addon jp-border-none"><i class="fa fa-eye fa-lg"></i></div>
                <input type="password" size=20 class="form-control jp-border-none" placeholder="验证码输入" />
            </div>
        </div>
        <button class="btn btn-primary btn-block">下一步</button>

    </div>
    </div>
</section>
</@layout>