<#include "_inc/_layout.html"/> 
<@layout>
<section  class="content-wrapper content-height">
    <p class="con-header clearfix">
        <span class="jp-left con-info-bottom">重置密码</span>
    </p>

    <div class="con-box">
    <div class="login-box-body">
         <p>请重新设置你的账号密码</p>
        <div class="form-group jp-form">
            <label class="sr-only" for="phone-password"></label>
            <div class="input-group jp-input-group ">
                <div class="input-group-addon jp-border-none">
                    <i class="fa fa-unlock-alt fa-lg"></i>
                </div>
                <input id="phone-password" type="password" class="form-control jp-border-none" placeholder="密码" />
                <div class="input-group-addon jp-border-none">
                    <i class="fa fa-keyboard-o fa-lg"></i>
                </div>
            </div>
        </div>
        <div class="form-group jp-form">
            <label class="sr-only" for="phone-password-comfire"></label>
            <div class="input-group jp-input-group ">
                <div class="input-group-addon jp-border-none">
                    <i class="fa fa-unlock-alt fa-lg"></i>
                </div>
                <input id="phone-password-comfire" type="password" class="form-control jp-border-none" placeholder="再次确认密码" />
                <div class="input-group-addon jp-border-none">
                    <i class="fa fa-keyboard-o fa-lg"></i>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-block">下一步</button>
    </div>
    </div>
</section>
</@layout>