<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>用户</title>
    <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<header class="navbar bs-docs-nav jp-navbar-default">
    <div class="container">
        <div class=row>
            <div class="navbar-header">
                <button class="navbar-toggle collapsed jp-navbar-toggle" aria-expanded="false" aria-controls="bs-navbar" data-target="#bs-navbar" data-toggle="collapse" type="button">
                    <i class="fa fa-navicon"></i>
                </button>
                <img class="logo" src="imgs/logo.jpg">
            </div>
            <nav  class="navbar-collapse collapse jp-collapse" aria-expanded="true">

                    <ul class="nav navbar-nav jp-navbar-nav jp-navbar">
                        <li class="active"><a href="#">门户</a></li>
                        <li><a href="#">论坛</a></li>
                        <li><a href="#">瀑布流</a></li>
                        <li><a href="#">资讯</a></li>
                        <li><a href="#">软件孵化</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">群组</a></li>
                        <li><a href="#">动态</a></li>
                    </ul>

                <div class="jp-navbar-search display-none-992">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="jp-nav-input-search">
                            <div class="form-group ">
                                <button type="submit" class="btn btn-white jp-form-search-sub"><i class="fa fa-search"></i> </button>
                                <input type="text" class="form-control jp-form-search" placeholder="Search">
                            </div>
                        </div>
                    </form>
                </div>

                    <ul class="nav navbar-nav jp-navbar-nav display-none-1200">
                        <li><a><img class="user-image" src="imgs/user160.jpg"/> </a></li>
                        <li><a><i class="fa fa-bell-o"></i></a></li>
                        <li><a> <i class="fa fa-table"></i></a></li>
                        <li><a> <i class="fa fa-save"></i></a></li>
                    </ul>

            </nav>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <aside class="col-md-3 display-none-992 main-side jp-common">
            <section class="side-tag">
                <div class="text-center jp-padding-top20">
                    <p> <img class="user-image-forum" src="imgs/photo3.jpg"/></p>
                    <h4 class="jp-padding-top20">杨福海</h4>
                </div>
                <ul class="list-unstyled jp-my-li jp-padding-top20">
                    <a href="#"><li ><span class="jp-li-icon text-right"><i class="fa fa-file-text-o fa-lg"></i></span>我的帖子</li></a>
                    <a href="#"><li><span class="jp-li-icon text-right"><i class="fa fa-star-o fa-lg"></i></span>我的收藏</li> </a>
                    <a href="#"><li><span class="jp-li-icon text-right"><i class="fa fa-commenting-o fa-lg"></i></span>我的投稿</li> </a>
                    <a href="#"><li class="active"><span class="jp-li-icon text-right"><i class="fa fa-star-o fa-lg"></i></span>账号信息</li> </a>
                </ul>
                <div class="text-center  login-out">
                    <a href="#">
                        <div class=" border-top login-out-box">
                            <span class="jp-margin-right10 "><i class="fa fa-power-off fa-lg"></i></span>退出登录
                        </div>
                    </a>
                </div>
            </section>
        </aside>

        <section class="col-sm-12 col-md-9  ">
            <header class="my-intro"></header>
            <article class="forum-content ">
                <div class="row forum-box jp-extend-r">
                    <div class="col-xs-12">
                        <img data-src="modify-img.html" data-title="图片设置" class="layer portrait jp-border-radius30" src="imgs/photo3.jpg"/>
                        <button type="submit" data-src="modify-user.html" data-title="Jpress账号资料修改" class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
                        <p class="jp-padding-top20 jp-font-size16">杨福</p>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </article>
            <article class="forum-content">
                <div class="row  jp-extend-r">
                    <div class="col-xs-12">
                        <button type="submit"  data-src="modify-email.html" data-title="Jpress安全账号验证"  class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
                        <h4 class="jp-margin-top">安全邮箱：<span class="content-author">12321@163.com</span></h4>
                        <p>安全邮箱可以用登录JPress账号，重置密码或其他安全账号</p>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </article>
            <article class="forum-content">
                <div class="row  jp-extend-r">
                    <div class="col-xs-12">
                        <button type="submit" data-src="modify-phone.html" data-title="Jpress安全账号验证"   class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
                        <h4 class="jp-margin-top">安全手机：<span class="content-author">12564453880</span></h4>
                        <p>安全手机可以用登录JPress账号，重置密码或其他安全账号</p>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </article>
            <article class="forum-content">
                <div class="row  jp-extend-r">
                    <div class="col-xs-12">
                        <button type="submit" data-src="modify-pw1.html" data-title="Jpress账号密码修改"  class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
                        <h4 class="jp-margin-top">账号密码</h4>
                        <p>用于包含账号信息和登录安全</p>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </article>

            <article class="forum-content jp-font-size16">
                <p>第三方登录</p>
                <div class="row forum-box jp-extend-r jp-padding-top20">
                    <div class="col-xs-12">
                        <img class="portrait" src="imgs/photo3.jpg"/>
                        <button type="submit"  class="jp-extend-sub-r btn btn-primary jp-margin-top10">获取授权</button>
                        <p class="jp-padding-top20 "><span class="jp-margin-right30">未授权</span><span>账号-</span></p>
                    </div>
                </div>
                <div class="row forum-box jp-extend-r jp-padding-top20 ">
                    <div class="col-xs-12">
                        <img class="portrait" src="imgs/photo3.jpg"/>
                        <button type="submit"  class="jp-extend-sub-r btn btn-primary jp-margin-top10">获取授权</button>
                        <p class="jp-padding-top20 "><span class="jp-margin-right30">未授权</span><span>账号-</span></p>
                    </div>
                </div>
                <div class="row forum-box jp-extend-r jp-padding-top20 ">
                    <div class="col-xs-12">
                        <img class="portrait" src="imgs/photo3.jpg"/>
                        <button type="submit"  class="jp-extend-sub-r btn btn-primary jp-margin-top10">获取授权</button>
                        <p class="jp-padding-top20 "><span class="jp-margin-right30">未授权</span><span>账号-</span></p>
                    </div>
                </div>

            </article>
            <div class="jp-padding-top20"></div>

        </section>

    </div>
</div>
<footer class="footer container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 ">
                <div class="footer-box" >
                   <div class="box">
                    <ul class="list-inline ">
                        <li>关于我们</li>
                        <li>加入我们</li>
                        <li>合作伙伴</li>
                        <li>广告级服务</li>
                        <li>常见问题解答</li>
                        <li>防网络诈骗专题</li>
                    </ul>
                    <p> <strong>Copyright &copy; 2014-2015 <a href="#">Almsaeed Studio</a>.</strong> All rights
                        reserved.</p>
                   </div>
                </div>
            </div>
            <div class="col-md-4 display-none-992">
                <ul class="list-inline">
                    <li class="footer-icon "><i class="fa fa-wechat fa-lg"></i></li>    <li class="footer-icon "><i class="fa fa-qq fa-lg"></i></li>
                    <li class="footer-icon "><i class="fa fa-weibo fa-lg"></i></li>     <li class="footer-icon "><i class="fa fa-apple fa-lg"></i></li>
                    <li class="footer-icon "><i class="fa fa-android fa-lg"></i></li>   <li class="footer-icon "><i class="fa fa-facebook fa-lg"></i></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
    <script type="text/javascript" src="js/jQuery-2.1.4.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="layer/layer.js"></script>
    <script src="layer/extend/layer.ext.js"></script>
    <script type="text/javascript" src="js/jcommon.js"></script>

</body>
</html>