#@layout()
#define css()
<link href="/static/components/switchery/switchery.min.css" rel="stylesheet">
<style type="text/css">
    .switchery-small {
        margin-top: 7px;
    }

    .page-first-header {
        padding-bottom: 9px;
        padding-left: 20px;
        margin: 0 0 30px;
        border-bottom: 1px solid #eee;
        font-size: 18px;
    }
</style>
#end
#define script()
<script src="/static/components/switchery/switchery.min.js"></script>
<script>
    var config = {
        color: '#64bd63'
        , secondaryColor: '#dfdfdf'
        , jackColor: '#fff'
        , jackSecondaryColor: null
        , className: 'switchery'
        , disabled: false
        , disabledOpacity: 0.5
        , speed: '0.4s'
        , size: 'small'
    };
    var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
    elems.forEach(function (html) {
        var switchery = new Switchery(html, config);
    });
</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            登录注册
            <small>Connection Setting</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li>设置</li>
            <li class="active">登录注册</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal form-setting" autocomplete="off">
                        <div class="box-body ">


                            <div class="form-group">
                                <label class="col-sm-2 control-label">启用邮件验证</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" checked class="switchery">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮件模板</label>
                                <div class="col-sm-6">
                                    <textarea rows="3" class="form-control" placeholder="..."></textarea>
                                    <a class="help-block"> 请先在 <a href="/admin/settiong/connection">[通信]</a> 开启邮件功能后才能使用。 </p>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">启用短信</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" checked class="switchery">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">短信模板</label>
                                <div class="col-sm-6">
                                    <textarea rows="3" class="form-control" placeholder="..."></textarea>
                                    <p class="help-block"> 请先在 <a href="/admin/settiong/connection">[通信]</a> 开启短信功能后才能使用。 </p>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
