#@layout()
#define script()
<script>

    function doChangeStatus(id, status) {
        ajaxGet("#(CPATH)/admin/article/comment/doChangeStatus?id=" + id + "&status=" + status)
    }

    function doDelComment(id) {
        if (confirm("确定要删除这条评论吗？删除后不可恢复")) {
            ajaxGet("#(CPATH)/admin/article/comment/doDel?id=" + id)
        }
    }

    $("#batchAudit").click(function () {
        var ids = getSelectedIds();
        if (ids == "") {
            alert('您未选择任何内容');
            return
        }
        ajaxGet("#(CPATH)/admin/article/comment/doAuditByIds?ids=" + ids)
    })

</script>
#end

#define css()
<style>
    strong p {
        display: inline;
    }
</style>
#end

#define content()
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                文章评论
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 文章 / 文章评论</small>
                            </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" style="padding-top: 20px">
                            <a href="?">全部 (#(totalCount ??))</a> |
                            <a href="?status=normal">已发布 (#(normalCount ?? 0))</a> |
                            <a href="?status=unaudited">待审核 (#(unauditedCount ?? 0))</a> |
                            <a href="?status=draft">垃圾箱 (#(draftCount ?? 0))</a> |
                            <a href="?status=trash" style="color: #a00">垃圾箱 (#(trashCount ?? 0))</a>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">
                    <div class="card-header with-border ">

                        <form class=" admin-search-panel" action="" method="get">
                            <input type="hidden" name="status" value="#para('status')">
                            <div class="row">
                                <div class="form-group col-lg-2">
                                        <input type="text" placeholder="关键字" class="form-control" name="keyword" value="#para('keyword')">
                                </div>
                                <div class="input-group col-lg-2">
                                    <input type="hidden" class="clear" name="userId"  id="userId" value="#para('userId')">
                                    <input type="text" class="form-control" placeholder="评论用户" readonly id="userName" name="userName" value="#para('userName')">
                                    <div class="form-control-clear d-none"><i class="fas fa-times"></i></div>
                                    <div class="input-group-append">
                                        <button class="btn input-group-text" type="button" open-type="layer"
                                                data-layer-title="请选择用户"
                                                data-layer-content="#(CPATH)/commons/select/user"
                                        data-layer-binds="#userName:nickname,#userId:id"><i class="fas fa-user-plus"></i></button>
                                    </div>
                                </div>

                                <div class="form-group col-lg-2">
                                        <button type="submit" class="btn btn-primary ">搜索</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input class="tableCheckAll" id="checkall" type="checkbox"/>
                                </th>
                                <th style="width: 100px">作者</th>
                                <th style="width: 40%">内容</th>
                                <th>回复至</th>
                                <th style="width: 50px"><i class="fa fa-commenting"></i></th>
                                <th style="width: 90px">发布时间</th>
                            </tr>

                            #for(comment : page.list)
                            <tr>
                                <td>
                                    <input name="tableItem" type="checkbox" value="#(comment.id)"/>
                                </td>
                                <td>
                                    <a href="#(comment.user.detailUrl ??)">
                                        #(comment.user.nickname ??)
                                    </a>
                                </td>
                                <td>

                                    #(comment.text ??)
                                    <strong>
                                        #if(comment.isUnaudited()) <span style="color:#a00;font-weight: 500">(待审核)</span> #end
                                    </strong>
                                    <div class="jp-action-card">
                                        <div class="jp-action-body">
                                            <a href="#(CPATH)/admin/article/comment/edit/#(comment.id)">编辑</a> |
                                            <a href="#(CPATH)/admin/article/comment/reply/#(comment.id)">回复</a> |
                                            #if(comment.isNormal())
                                            <a href="javascript:;"
                                               onclick="doChangeStatus('#(comment.id)','unaudited')">待审核</a>
                                            #else
                                            <a href="javascript:;"
                                               onclick="doChangeStatus('#(comment.id)','normal')">#if(comment.status != "trash") 审核 #else 还原 #end</a>
                                            #end

                                            #if(comment.status != "trash")
                                            | <a href="javascript:;" onclick="doChangeStatus('#(comment.id)','trash')"
                                               class="red-action">垃圾箱</a>
                                            #end

                                            #if(comment.status == "trash")
                                            | <a href="javascript:;" onclick="doDelComment('#(comment.id)')"
                                               class="red-action">永久删除</a>
                                            #end
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#(comment.article.url ??)" target="_blank">
                                        #(comment.article.title ??)
                                    </a>
                                </td>
                                <td>#(comment.comment_count ??)</td>
                                <td>#date(comment.created)</td>
                            </tr>
                            #else
                            <tr class="nodata"><td colspan="999">暂无数据</td> </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input tableCheckAll" id="checkall" type="checkbox" >
                                            <label class="form-check-label" for="checkall">全选</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select class="form-control" name="action">
                                            <option value="">请选择...</option>
                                            <option value="doDelByIds" open-type="del-confirm">
                                                批量删除
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-outline-primary batchExec">批量操作</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
    </section>

#end
