/*global*/
body{
    background-color: #f4f4f4;
}
.cl-cantainer{
    min-height: 80vh;
}
a{
    color:#333;
}
a:hover{
    color:#FF9400;
    text-decoration: none;
}
/*header*/
.cl-header {
    background-color: #fff;
    /*height: 80px;*/
    /*line-height: 80px;*/
    box-shadow:0 5px 15px rgba(153, 153, 153, 0.1)
}
.header-content{
    position: relative;
}
.cl-logo{
    position: absolute;
    left:0;
    top:0;
    height: 80px;
    width: 300px;
    overflow: hidden;
}
.cl-logo img{
    max-width: 100%;
    max-height: 100%;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.navbar-toggler:not(:disabled):not(.disabled):focus{
    outline: none;
}
.navbar{
    padding:0;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #FF9400;
    font-weight: bold;
}
.nav .nav-item a.active{
    color: #FF9400;
    font-weight: bold;
}

.navbar .navbar-brand img{
    max-width: 100%;
    max-height: 100%;
}
.recommend-index{
    margin-bottom:20px;
}


/*left*/
.cl-left{
    margin:20px 0;
    padding:0;
}
.recommend-top{
    margin-bottom:20px;
}

.recommend-bottom{
    display: flex;
    justify-content: space-between;
}
.recommend-item{
    width: 49%;
    /*height: 170px;*/
    overflow: hidden;
}

.cl-artical-content,.recommend-panel,.comment{
    background-color: #fff;
    padding:0 20px 20px 20px;
}

/*card*/
.cl-card{
    background-color: #fff;
    padding:1rem 1rem 0 1rem;
    margin:0 0 20px 0;
}

.cl-card .cl-card-image{
    border:1px solid #eaeaea;
    overflow: hidden;
    height: 150px;
    padding:0;
}

.cl-card .cl-card-image img{
    width: 100%;
    max-width: 100%;
}
.cl-card .cl-card-more a{
    color:#FF9400;
}
.cl-card-main-title a:hover,.cl-card .cl-card-more a:hover{
    border-bottom:2px solid #FF9400;
    padding-bottom:2px;
}
.cl-card-main-title{
    height: 2rem;
    overflow: hidden;

}
.cl-card-main-title a{
    font-size:1.4rem;
    color:#333;
    font-weight: normal;
}
.cl-card-main-title a:hover{
    text-decoration: underline;
}
.cl-card-main-info{
    font-size:1rem;
    color:#999;
    height: 3rem;
    overflow: hidden;
    margin:0.5rem 0 2rem 0;
}
/*page*/
.pagination .page-item.active .page-link{
    background-color:#FF9400;
    border-color:#FF9400;
    color:#fff;
}
.pagination .page-item .page-link{
    color:#666;
}
.pagination{
    margin:20px 0 0 0;
}
.pagination li.disabled .page-link{
    background-color: #eee;
    color:#999;
}
.pagination li.disabled{
    cursor: not-allowed;
}
/*right*/
.cl-right{
    margin:20px 0;
}
.right-card-main{
    background-color: #fff;
    margin:0 0 20px 0;
}
.cl-code{
    width: 80%;
    margin:10px auto;
    padding:0 0 10px 0;
}
.right-card-title{
    font-size:1.2rem;
    color:#666;
    font-weight: bold;
    padding:20px 0 10px 10px;
}
.cl-code p{
    color:#999;
    line-height: 1.2rem;
    margin-top:10px;
    text-align: center;
}
/*right-recommended*/
.right-recommended{
    padding:10px;
    height: 120px;
    overflow: hidden;
}
.right-recommended-list{
    list-style: none;
    padding:0 10px 20px 10px;
    box-sizing: border-box;
}
.right-recommended-list i{
    color:#999;
    margin-right:4px;
}
.right-recommended-list li{
    width: 100%;
    border-bottom:1px dashed #eaeaea;
    color:#666;
    height: 40px;
    line-height:40px;
    overflow: hidden;
}
/*label*/
.label{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding:10px;

}
.label li a{
    display: block;
    border:1px solid #dbdbdb;
    padding:2px 10px;
    margin:0 8px 8px 0;
    color:#666;
}
.label li a:hover{
    background-color: #FF9400;
    border-color:#FF9400;
    color:#fff;
}


/*footer*/
.cl-footer{
    background-color: #fbfbfb;
    text-align: center;
    padding:2rem 0 1rem 0;
    margin:1rem 0 0 0;
    border-top:1px solid #f1f1f1;
}
.cl-footer-link a{
    font-size:20px;
    padding:1rem 0;
    color:#666;
}
.cl-copyright{
    color:#666;
    font-size:14px;
    line-height:0.8em;
}
/*artical*/
.cl-artical-title{
    padding:20px 0 10px 0;
}
.cl-card-tag{
    color:#999;
    font-size:1rem;
}
.cl-artical h1,.cl-artical h2,.cl-artical h3,.cl-artical h4,.cl-artical h5{
    padding:1.5rem 0 0.5rem 0;
}
.cl-artical h1{
    font-size:2rem;
}
.cl-artical h2{
    font-size:1.75rem;
}
.cl-artical h3{
    font-size:1.5rem;
}
.cl-artical h4{
    font-size:1.25rem;
}
.cl-artical h5{
    font-size:1rem;
}
.cl-artical{
    padding:2.5rem 0 0 0;
    color:#666;
}
.cl-artical blockquote{
    font-size:18px;
    padding:2rem 1rem 2rem 2rem;
    border-left:4px solid #3F6600;
    background-color: #f3f3f3;
    /*font-style: italic;*/
    font-weight: bold;
    line-height: 1.8em;
}
.cl-artical blockquote:before{
    content: " “ ";
    font-size:60px;
    vertical-align: bottom;
    color:#3F6600;
}

.cl-artical blockquote span{
    font-size:36px
}

.cl-artical p img{
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.cl-artical p{
    padding:0.5rem 0 0.5rem 0;
    line-height: 1.8rem;
    font-size:18px;
}
.cl-content-info{
    color:#999;
}
/*comment panel*/
.comment-panel{
    padding-bottom:0.5rem;
    margin-top:2rem;
    border-bottom:1px solid #dee2e6;
    position: relative;
}
.comment-secondary-panel{
    padding-bottom:0.5rem;
    margin-top:1rem;
    padding-top:1rem;
    background-color: #f4f4f4;
    position: relative;
}
.triangle-icon{
    position: absolute;
    left:50px;
    top:-30px;
    color:#f4f4f4;
    font-size:60px;

}
.comment-panel .comment-panel-portrait{
    position: absolute;
    top: 0;
    left: 0;
}

.comment-panel-portrait img{
    width: 60px;
    height: 60px;
}
.comment-panel .comment-panel-content{
    padding:0 0 0 70px;
    width: 100%;
}
.comment-panel .comment-secondary-panel .comment-panel-content{
    padding:0 0 10px 20px;
    width: 100%;
}
.comment-panel-content-item div{
    display: inline;
    padding:0 0.5rem 0 0;
    font-size:14px;
    color:#999;
}
.comment-panel-content-item .comment-author{
    font-size:16px;
    color:#333;
    font-weight: bold;
}
.comment-panel .comment-panel-content .comment-panel-content-main{
    margin-top:0.5rem;
    color:#666;
}
.comment-panel .comment-panel-secondary{
    border:1px solid #e5e5e5;
    padding:0.5rem 0.5rem 0 0.5rem;
    margin:0.5rem 0;
    background-color: #fffffb;
}
.text-primary{
    text-align: right;
}
.text-primary a{
    font-size:14px;
    color:#666;
}
@media (min-width: 576px){
    .ll-panel{
        max-width: 30%;
    }
}

/*comment form*/
.cl-comment-from{
    padding:20px 0 0 0;
    margin:20px 0;
}
.cl-comment-from div{
    height: 3rem;
    border:1px solid #dfdfdf;
}

.cl-comment-from button{
    float: right;
    border:none;
    background-color: #FF9400;
    color:#fff;
    font-size:16px;
    padding:0.5rem 1rem;
    cursor: pointer;
    margin-top:10px;
}
.cl-comment-from button:hover{
    background-color:#f38d00 ;
}
.cl-comment-from>div>textarea{
    border:none;
    width: 100%;
    height: 100%;
    line-height: 3rem;
    padding:0 1rem;
    box-sizing: border-box;
}
.cl-comment-from>div>textarea:focus,.cl-comment-from button:focus{
    outline: none;
}
/*recommend aritical*/
.recommend-panel{
    margin:20px 0;
}
.recommend-panel a.recommend-panel-link{
    display: block;
}
.recommend-panel-bottom{
    padding:0.5rem;
    font-size:14px;
}
.ll-title{
    margin:3rem 0 1rem 0;
    color:#333;
}
.recommend-panel-top{
    overflow: hidden;
    height: 12rem;
}

.recommend-panel-top img,.recommend-item img,.cl-card-image img{
    width: 100%;
    max-width: 100%;
    transition:0.4s ease-out;
    -webkit-transition:0.4s ease-out;
    -moz-transition:0.4s ease-out;
    -o-transition:0.4s ease-out;
}
.recommend-panel-top img:hover,.recommend-item img:hover,.cl-card-image img:hover{
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}



