/*global*/
body {
    background-color: #f4f4f4;
}

.cl-container {
    min-height: 80vh;
}

a {
    color: #333;
}

a:hover {
    color: #FF9400;
    text-decoration: none;
}

/*header*/
.cl-header {
    background-color: #fff;
    /*height: 80px;*/
    /*line-height: 80px;*/
    box-shadow: 0 5px 15px rgba(153, 153, 153, 0.1)
}

.header-content {
    position: relative;
}

.cl-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 300px;
    overflow: hidden;
}

.cl-logo img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.navbar-toggler:not(:disabled):not(.disabled):focus {
    outline: none;
}

.navbar {
    padding: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
    font-weight: bold;
}

.nav .nav-item a.active {
    color: #FF9400;
    font-weight: bold;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}

.recommend-index {
    /*margin-bottom:20px;*/
}

.carousel-inner {
    height: 20rem;
}

.cl-inner-footer {
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    padding: 0 1rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 16rem;
    height: 4rem;
    line-height: 4rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(97%, rgba(0, 0, 0, .65)));
    background-image: linear-gradient(-180deg, transparent, rgba(0, 0, 0, .65) 97%);
}

.recommend-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    bottom: -5px;
}

/*left*/
.cl-left {
    margin: 20px 0;
    padding: 0;
}

.recommend-top {
    margin-bottom: 20px;
}

.recommend-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recommend-item {
    width: 49%;
    height: 170px;
    overflow: hidden;
    position: relative;
}

.recommend-item-bottom {
    position: absolute;
    top: 130px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    overflow: hidden;
    left: 0;
    width: 100%;

    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(97%, rgba(0, 0, 0, .65)));
    background-image: linear-gradient(-180deg, transparent, rgba(0, 0, 0, .65) 97%);
}

.cl-article-content, .recommend-panel {
    background-color: #fff;
    padding: 0 20px 20px 20px;
}

/*card*/
.cl-card {
    background-color: #fff;
    margin: 0 0 20px 0;
}

.cl-card .cl-card-image {
    border: 1px solid #eaeaea;
    overflow: hidden;
    height: 150px;
    padding: 0;
}

.cl-card .cl-card-image img {
    width: 100%;
    max-width: 100%;
    min-height: 150px;
}

.cl-card .cl-card-more {
    margin: 0;
}

.cl-card .cl-card-more {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.8;
}

.cl-card-main-title {
    height: 1.6rem;
    overflow: hidden;
    font-size: 1.2rem;
    width: fit-content;
    padding-bottom: 25px;
}

.card-link .row {
    padding: 0;
    margin: 0;
}

a.card-link {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;

}

a.card-link:hover {
    color: #333;
    box-shadow: 0px 2px 10px -3px rgba(204, 204, 204, .8) !important;
}

a.card-link:hover .cl-card-main-title {
    padding-bottom: 23px;
    border-bottom: 2px solid #ccc;
}


.cl-card-main-info {
    font-size: 0.9rem;
    opacity: 0.8;
    height: 3rem;
    margin: 0.5rem 0 2rem 0;
    font-weight: 300;
}

/*page*/
.pagination {
    margin: 20px 0 0 0;
}

.pagination li.disabled .page-link {
    background-color: #eee;
    color: #999;
}

.pagination li.disabled {
    cursor: not-allowed;
}

/*right*/
.cl-right {
    margin: 20px 0;
    padding-right: 0;
}

.right-card-main {
    background-color: #fff;
    margin: 0 0 20px 0;
}

.cl-code {
    width: 80%;
    margin: 10px auto;
    padding: 0 0 10px 0;
}

.right-card-title {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    padding: 10px 0 5px 10px;
}

.cl-code p {
    color: #999;
    line-height: 1.2rem;
    margin-top: 10px;
    text-align: center;
}

/*right-recommended*/
.right-recommended {
    padding: 10px;
    height: 120px;
    overflow: hidden;
}

.right-recommended-list {
    list-style: none;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
}

.right-recommended-list i {
    color: #999;
    margin-right: 4px;
}

.right-recommended-list li {
    width: 100%;
    border-bottom: 1px dashed #eaeaea;
    color: #666;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-weight: 300;
}

/*label*/
.label {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.label li a {
    display: block;
    border: 1px solid #dbdbdb;
    padding: 2px 10px;
    margin: 0 8px 8px 0;
    color: #666;
    font-weight: 300;
}

.label li a:hover {
    background-color: #FF9400;
    border-color: #FF9400;
    color: #fff;
}


/*footer*/
.cl-footer {
    background-color: #fbfbfb;
    text-align: center;
    padding: 2rem 0 1rem 0;
    margin: 1rem 0 0 0;
    border-top: 1px solid #f1f1f1;
    font-weight: 300;
    color: #999;
}

.cl-footer-link a {
    font-size: 20px;
    padding: 1rem 0;
    color: #666;
}

.cl-copyright {
    color: #999;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 0.2rem;
}

/*article*/
.cl-article-title {
    padding: 20px 0 0 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4em;

}

.cl-card-tag {
    color: #999;
    font-size: 0.9rem;
    font-weight: 300;
}

.cl-article h1, .cl-article h2, .cl-article h3, .cl-article h4, .cl-article h5 {
    padding: 1.5rem 0 0.5rem 0;
}

.cl-article h1 {
    font-size: 1.4rem;
}

.cl-article h2 {
    font-size: 1.2rem;
}

.cl-article h3 {
    font-size: 1rem;
}

.cl-article h4 {
    font-size: 1rem;
}

.cl-article h5 {
    font-size: 1rem;
}

.cl-article {
    padding: 2.5rem 0 0 0;
    color: #666;
}

.cl-article blockquote {
    font-size: 18px;
    padding: 2rem 1rem 2rem 2rem;
    border-left: 4px solid #FF9400;
    background-color: #f3f3f3;
    /*font-style: italic;*/
    font-weight: bold;
    line-height: 1.8em;
}

.cl-article blockquote:before {
    content: " “ ";
    font-size: 60px;
    vertical-align: bottom;
    color: #FF9400;
}

.cl-article ul, .cl-article ol, .cl-article li {
    font-size: 1rem;
    color: #27282d;
}

.cl-article blockquote span {
    font-size: 36px
}

.cl-article img {
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.cl-article p {
    padding: 0.5rem 0;
    line-height: 1.8rem;
    font-size: 1rem;
    color: #27282d;
    margin-bottom: 1rem;
    font-weight: 300;
}

.comment-page-title {
    font-size: 1rem;
}

.cl-content-info {
    color: #999;
}

/*comment panel*/

.triangle-icon {
    position: absolute;
    left: 50px;
    top: -30px;
    color: #f4f4f4;
    font-size: 60px;

}

.text-primary {
    text-align: right;
}

.text-primary a {
    font-size: 14px;
    color: #666;
}

@media (min-width: 576px) {
    .ll-panel {
        max-width: 30%;
    }
}


/*recommend aritical*/
.recommend-panel {
    margin: 20px 0;
}

.recommend-panel a.recommend-panel-link {
    display: block;
}

.recommend-panel-bottom {
    padding: 0.5rem;
    font-size: 14px;
}

.ll-title {
    margin: 3rem 0 1rem 0;
    color: #333;
}

.recommend-panel-top {
    overflow: hidden;
    height: 12rem;
}

.recommend-panel-top img, .recommend-item img, .cl-card-image img {
    width: 100%;
    max-width: 100%;
    transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
}

.recommend-panel-top img:hover, .recommend-item img:hover, .cl-card-image img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

@media (max-width: 576px) {
    .cl-card-main {
        padding-left: 0;
        padding-right: 0;
        margin-top: 1rem;
    }

    .cl-card .cl-card-image {
        height: 200px;
    }

    .carousel-inner {
        height: 16rem;

    }

    .carousel-inner image {
        min-height: 16rem;
    }

    .cl-inner-footer {
        top: 12rem;
    }

    .recommend-item {
        height: 120px;
    }

    .recommend-item image {
        min-height: 120px;
    }

    .recommend-item-bottom {
        top: 80px;
    }

}

.product-top {
    padding: 20px;
    margin: 20px 0 0 0;
    width: 100%;
    background-color: #fff;
}

.product-list-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.list-price {
    color: #E5511D;
    font-size: 1.4rem;
    margin-right: 1rem;
    font-weight: 500;
    margin-bottom: 0;

}

.list-more {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 0;

}

.list-number {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 0;
}

.price-box {
    display: flex;
    align-items: center;
}

.product-recommended-list {
    list-style: none;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
}

.product-recommended-list li {
    width: 100%;
    border-bottom: 1px dashed #eaeaea;
    color: #666;
    font-weight: 300;
    margin-top: 1rem;
}

.product-recommended-list li img {
    width: 100%;
}


.recommended-title {
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0.5rem;
}

.comment-default-block {
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}

/*job*/
.job-desc-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2rem 0;
    color: #222831;
    font-size: 16px;
}

.job-desc-title-divider {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 12px;
    height: 1px;
    background-color: #f4f4f5;
}

.job-apply-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.job-apply-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-apply-detail .form-group {
    width: 45%;
}


.job-verification-code {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.job-verification-code .btn {
    padding: 0;
}

.job-verification-code .btn {
    border: 1px solid #ced4da;
}

.job-group-mobile1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.joblist-card{
    border-bottom:1px solid #eee;
}
.joblist-card-link{
    display:inline-block;
    width:100%;
    height:100%;
    padding:10px 20px;
}
.joblist-card-link:hover{
    background-color: #fafafa;
}
.cl-card-tag{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.cl-job-title{
    padding: 20px 0 0 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4em;
}

.job-title-group{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items:center;
    padding:10px 0;
    }

.job-title-group span{
    display:inline-block;
    width:1.4rem;
    height:1.4rem;
    line-height:1.4rem;
    margin:0;
    padding:0;
    text-align:center;
    color:#fff;
    background-color:#ff6b6b;
    margin-right:5px;
}
.job-title-group .cl-article-title{
    padding:0;
    margin:0;
}

.job-right-title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding:20px 0;
}
.job-right-title-group{
    border-bottom:1px dashed #eee;
    padding:10px 0;
}

.job-right-title-group span{
    padding:1px 3px;
    color: #fff;
    background-color: #ff6b6b;
    margin-right:2px;
    font-size: 12px;
}
.job-right-title-group a{
    font-size:14px;
}



