<#include "_layout.html"/> 
<@layout>
<div class="x-pc-width clearfix x-margin-top-20 x-margin-bottom-20">
	<!-- -->
	<div class="x-pull-left x-layout-73 blog-sm-left">
		<div class="x-layout-100 clearfix">
			<div class="x-pull-left x-layout-70 banner-left x-sm-banner-left person-relative">
				<p>
					<a href="">
						<img src="assets/images/slide01.png" />
					</a>
				</p>
				<div class="x-abolute-submit x-box-border">
					<p>近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能：</p>
				</div>
			</div>
			<div class="x-pull-right x-layout-28 banner-right x-sm-banner-right">
				<p>
					<a href="">
						<img src="assets/images/slide01.png" />
					</a>
				</p>
				<p>
					<a href="">
						<img src="assets/images/slide01.png" />
					</a>
				</p>
			</div>
		</div>
		<!-- -->

		<@jp_contents module="article"> 
		<#list contents as content>
		<div class="x-background-white x-margin-bottom-10 x-margin-top-10 x-padding-10 x-div-radius x-sm-item">
		
			<#if content.thumbnail ??>
			<div class="x-layout-100">
				<p>
					<a href="">
						<img src="${content.thumbnailWithName('t1')!}" />
					</a>
				</p>
			</div>
			</#if>
			<h3 class="x-font-title12 x-padding-top-10 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				<a class="x-a-active" href="${content.url}">${content.title}</a>
				<span class="x-title-border"></span>
			</h3>
			<p class="x-font-body x-padding-bottom-10 x-padding-top-10 x-font-grey">${content.summary}</p>
			<div class="x-layout-100 clearfix x-sm-info">
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<img class="x-small-avatar x-image-radus x-vertical-middle" src="${content.avatar!TPATH+'/assets/images/avatar.jpg'}" />
					${content.nickname!}
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-bars" aria-hidden="true"></i>
					${content.getTaxonomyAsUrl('category')!'未分类'}
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					1天前
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey x-sm-eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
					${content.view_count!'0'}
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					${content.comment_count!'0'}
				</p>
			</div>
		</div>
		</#list> 
		</@jp_contents>
		<!-- -->
		<div class="x-background-white x-margin-bottom-10 x-margin-top-10 x-padding-10 clearfix x-div-radius x-sm-item x-sm-item-display">
			<div class="x-layout-30 x-pull-left">
				<p>
					<a href="">
						<img class="x-image-size-11" src="assets/images/slide01.png" />
					</a>
				</p>
			</div>
			<div class="x-layout-68 x-pull-right">
				<h3 class="x-font-title12 x-margin-bottom-10 x-item-space-4 clearfix">
					<a class="x-a-active" href="#">Circle with Disney 上线新功能 Circle Go，方便家长随时随地管理孩子上网情况方便家长随时随地管理孩子上网情况</a>
				</h3>
				<p class="x-font-body x-padding-bottom-10 x-margin-bottom-10 x-item-space-25 clearfix x-font-grey">近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
				<div class="x-layout-100 clearfix x-sm-info">
					<p class="x-layout-20 x-pull-left x-font-small x-font-grey">
						<img class="x-small-avatar x-image-radus x-vertical-middle" src="" />
						海哥
					</p>
					<p class="x-layout-20 x-pull-left x-font-small x-font-grey x-sm-eye">
						<i class="fa fa-bars" aria-hidden="true"></i>
						未分类
					</p>
					<p class="x-layout-20 x-pull-left x-font-small x-font-grey">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						1天前
					</p>
					<p class="x-layout-20 x-pull-left x-font-small x-font-grey x-sm-eye">
						<i class="fa fa-eye" aria-hidden="true"></i>
						10805
					</p>
					<p class="x-layout-20 x-pull-left x-font-small x-font-grey">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						134
					</p>
				</div>
			</div>
		</div>
		<!-- -->
		<div class="x-background-white x-margin-bottom-10 x-margin-top-10 x-padding-10 x-div-radius x-sm-item">
			<h3 class="x-font-title12 x-padding-top-10 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				<a class="x-a-active" href="#">Circle with Disney 上线新功能 Circle Go，方便家长随时随地管理孩子上网情况方便家长随时随地管理孩子上网情况</a>
				<span class="x-title-border"></span>
			</h3>
			<div class="x-layout-100">
				<p class="x-pull-left x-layout-33-sudoku x-box-border x-padding-5">
					<a href="">
						<img src="assets/images/banner-bg.jpg" />
					</a>
				</p>
				<p class="x-pull-left x-layout-33-sudoku x-box-border x-padding-5">
					<a href="">
						<img src="assets/images/banner-bg.jpg" />
					</a>
				</p>
				<p class="x-pull-left x-layout-33-sudoku x-box-border x-padding-5">
					<a href="">
						<img src="assets/images/banner-bg.jpg" />
					</a>
				</p>
			</div>
			<p class="x-font-body x-padding-bottom-10 x-padding-top-10 x-font-grey">近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
			<div class="x-layout-100 clearfix x-sm-info">
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<img class="x-small-avatar x-image-radus x-vertical-middle" src="assets/images/avatar.jpg" />
					海哥
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-bars" aria-hidden="true"></i>
					未分类
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					1天前
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey x-sm-eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
					10805
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					134
				</p>
			</div>
		</div>
		<!-- -->
		<div class="x-background-white x-margin-bottom-10 x-margin-top-10 x-padding-10 x-div-radius x-sm-item">
			<h3 class="x-font-title12 x-padding-top-10 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				<a class="x-a-active" href="#">Circle with Disney 上线新功能 Circle Go，方便家长随时随地管理孩子上网情况方便家长随时随地管理孩子上网情况</a>
				<span class="x-title-border"></span>
			</h3>
			<p class="x-font-body x-padding-bottom-10 x-padding-top-10 x-font-grey">近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
			<div class="x-layout-100 clearfix x-sm-info">
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<img class="x-small-avatar x-image-radus x-vertical-middle" src="assets/images/avatar.jpg" />
					海哥
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-bars" aria-hidden="true"></i>
					未分类
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					1天前
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey x-sm-eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
					10805
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					134
				</p>
			</div>
		</div>
		<!-- -->
		<div class="x-background-white x-margin-bottom-10 x-margin-top-10 x-padding-10 x-div-radius x-sm-item">
			<h3 class="x-font-title12 x-padding-top-10 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				<a class="x-a-active" href="#">Circle with Disney 上线新功能 Circle Go，方便家长随时随地管理孩子上网情况方便家长随时随地管理孩子上网情况</a>
				<span class="x-title-border"></span>
			</h3>
			<div class="x-layout-100 x-sm-image3">
				<p class="x-pull-left x-layout-33-sudoku x-box-border x-padding-5">
					<a href="">
						<img src="assets/images/banner-bg.jpg" />
					</a>
				</p>
				<p class="x-pull-left x-layout-33-sudoku x-box-border x-padding-5">
					<a href="">
						<img src="assets/images/banner-bg.jpg" />
					</a>
				</p>
				<p class="x-pull-left x-layout-33-sudoku x-box-border x-padding-5">
					<a href="">
						<img src="assets/images/banner-bg.jpg" />
					</a>
				</p>
			</div>
			<p class="x-font-body x-padding-bottom-10 x-padding-top-10 x-font-grey">近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
			<div class="x-layout-100 clearfix x-sm-info">
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<img class="x-small-avatar x-image-radus x-vertical-middle" src="assets/images/avatar.jpg" />
					海哥
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-bars" aria-hidden="true"></i>
					未分类
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					1天前
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey x-sm-eye">
					<i class="fa fa-eye" aria-hidden="true"></i>
					10805
				</p>
				<p class="x-layout-10 x-pull-left x-font-small x-font-grey">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					134
				</p>
			</div>
		</div>
		<!-- -->
		<ul class="x-page">
			<li>
				<a href="#">上一页</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">下一页</a>
			</li>
		</ul>

	</div>
	<!-- -->
	<div class="x-pull-right x-layout-25 blog-sm-right">
		<div class="x-background-white person-relative x-div-radius">
			<input class="x-layout-90 x-item-space-3 x-padding-left-5 x-padding-right-5 x-box-border x-border-none" placeholder="要不找一找" />
			<a href="#" class="x-search-icon">
				<i class="fa fa-search" aria-hidden="true"></i>
			</a>
		</div>
		<!-- -->
		<div class="x-background-white x-padding-10 x-margin-top-10 x-div-radius">
			<h3 class="x-font-title12 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				邮件订阅 <span class="x-title-border"></span>
			</h3>
			<div class=" person-relative x-padding-top-10 x-padding-bottom-10">
				<input class="x-layout-100 x-item-space-2 x-padding-left-5 x-padding-right-20 x-box-border x-border-grey body-bacground" placeholder="your@email.com" />
				<a href="#" class="x-rss-btn x-background-whiteblue">订阅</a>
			</div>
		</div>
		<!-- -->
		<div class="x-background-white x-padding-10 x-margin-top-10 x-div-radius">
			<h3 class="x-font-title12 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				最新文章 <span class="x-title-border"></span>
			</h3>
			<div class="x-layout-100 person-relative">
				<p>
					<a href="">
						<img src="assets/images/slide01.png" />
					</a>
				</p>
				<div class="x-abolute-submit x-box-border">
					<p class="x-font-small">1天前</p>
					<p>近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能：</p>
				</div>
			</div>
			<div class="x-margin-bottom-10 x-margin-top-10 clearfix">
				<div class="x-layout-30 x-pull-left">
					<p>
						<a href="">
							<img class="x-item-space-5" src="assets/images/slide01.png" />
						</a>
					</p>
				</div>
				<div class="x-layout-68 x-pull-right">
					<p class="x-font-small x-item-space-56 clearfix x-font-grey5">111近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
					<div class="x-layout-100 x-font-small x-font-grey">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						1天前
					</div>
				</div>
			</div>
			<div class="x-margin-bottom-10 x-margin-top-10 clearfix">
				<div class="x-layout-30 x-pull-left">
					<p>
						<a href="">
							<img class="x-item-space-5" src="assets/images/slide01.png" />
						</a>
					</p>
				</div>
				<div class="x-layout-68 x-pull-right">
					<p class="x-font-small x-item-space-56 clearfix x-font-grey5">近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
					<div class="x-layout-100 x-font-small x-font-grey">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						1天前
					</div>
				</div>
			</div>
			<div class="x-margin-bottom-10 x-margin-top-10 clearfix">
				<div class="x-layout-30 x-pull-left">
					<p>
						<a href="">
							<img class="x-item-space-5" src="assets/images/slide01.png" />
						</a>
					</p>
				</div>
				<div class="x-layout-68 x-pull-right">
					<p class="x-font-small x-item-space-56 clearfix x-font-grey5">近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
					<div class="x-layout-100 x-font-small x-font-grey">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						1天前
					</div>
				</div>
			</div>
			<div class="x-margin-bottom-10 x-margin-top-10 clearfix">
				<div class="x-layout-30 x-pull-left">
					<p>
						<a href="">
							<img class="x-item-space-5" src="assets/images/slide01.png" />
						</a>
					</p>
				</div>
				<div class="x-layout-68 x-pull-right">
					<p class="x-font-small x-item-space-56 clearfix x-font-grey5">近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能： Circle Go。家长可以每月支付 9.95 美元来购买这项功能，用以监控孩子离开家庭 wifi 范围后的网络使用情况。</p>
					<div class="x-layout-100 x-font-small x-font-grey">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						1天前
					</div>
				</div>
			</div>
		</div>
		<!-- -->
		<div class="x-background-white x-padding-10 x-margin-top-10 x-div-radius">
			<h3 class="x-font-title12 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				热评文章 <span class="x-title-border"></span>
			</h3>
			<div class="x-layout-100 person-relative x-margin-bottom-10">
				<p>
					<a href="">
						<img src="assets/images/slide01.png" />
					</a>
				</p>
				<div class="x-abolute-submit x-box-border">
					<p class="x-font-small">1天前</p>
					<p>近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能：</p>
				</div>
			</div>
			<div class="x-layout-100 person-relative x-margin-bottom-10">
				<p>
					<a href="">
						<img src="assets/images/slide01.png" />
					</a>
				</p>
				<div class="x-abolute-submit x-box-border">
					<p class="x-font-small">1天前</p>
					<p>近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能：</p>
				</div>
			</div>
			<div class="x-layout-100 person-relative x-margin-bottom-10">
				<p>
					<a href="">
						<img src="assets/images/slide01.png" />
					</a>
				</p>
				<div class="x-abolute-submit x-box-border">
					<p class="x-font-small">1天前</p>
					<p>近期，这款智能硬件在其配套 app 上线了一项订阅制的新功能：</p>
				</div>
			</div>
		</div>
		<!-- -->
		<div class="x-background-white x-padding-10 x-margin-top-10 x-div-radius">
			<h3 class="x-font-title12 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				热门标签 <span class="x-title-border"></span>
			</h3>
			<ul class="x-tag">
				<li>
					<a href="#">页面设计</a>
				</li>
				<li>
					<a href="#">外包</a>
				</li>
				<li>
					<a href="#">36氪</a>
				</li>
				<li>
					<a href="#">海哥</a>
				</li>
				<li>
					<a href="#">JPress</a>
				</li>
				<li>
					<a href="#">Jfina</a>
				</li>
				<li>
					<a href="#">页面开发</a>
				</li>
				<li>
					<a href="#">页面设计</a>
				</li>
				<li>
					<a href="#">外包</a>
				</li>
				<li>
					<a href="#">36氪</a>
				</li>
				<li>
					<a href="#">海哥</a>
				</li>
				<li>
					<a href="#">JPress</a>
				</li>
				<li>
					<a href="#">Jfina</a>
				</li>
				<li>
					<a href="#">页面开发</a>
				</li>
			</ul>
		</div>
		<!-- -->
		<div class="x-background-white x-padding-10 x-margin-top-10 x-div-radius">
			<h3 class="x-font-title12 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
				友情链接 <span class="x-title-border"></span>
			</h3>
			<ul class="x-link">
				<li>
					<a href="#">页面设计</a>
				</li>
				<li>
					<a href="#">外包</a>
				</li>
				<li>
					<a href="#">36氪</a>
				</li>
				<li>
					<a href="#">海哥</a>
				</li>
				<li>
					<a href="#">JPress</a>
				</li>
				<li>
					<a href="#">Jfina</a>
				</li>
				<li>
					<a href="#">页面开发</a>
				</li>
				<li>
					<a href="#">页面设计</a>
				</li>
				<li>
					<a href="#">外包</a>
				</li>
				<li>
					<a href="#">36氪</a>
				</li>
				<li>
					<a href="#">海哥</a>
				</li>
				<li>
					<a href="#">JPress</a>
				</li>
				<li>
					<a href="#">Jfina</a>
				</li>
				<li>
					<a href="#">页面开发</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</@layout>
