<#include "_layout.html"/> 
<@layout>
<div class="x-pc-width clearfix x-margin-top-20 x-margin-bottom-60">
	<!-- -->
		<div class="x-white-box">
			<h3 class="x-box-title">
				用户注册
				<span class="x-title-border"></span>
			</h3>
			
			<div class="clearfix login-box">
				<p class="x-pull-left x-layout-20 login-box-title">用户名：</p>
				<p class="x-pull-left x-layout-80"><input type="text" name="username"></p>
			</div>
			<div class="clearfix login-box">
				<p class="x-pull-left x-layout-20 login-box-title">邮箱：</p>
				<p class="x-pull-left x-layout-80"><input type="text" name="username"></p>
			</div>
			<div class="clearfix login-box">
				<p class="x-pull-left x-layout-20 login-box-title">密码：</p>
				<p class="x-pull-left x-layout-80"><input type="text" name="password"></p>
			</div>
			<div class="clearfix login-box">
				<p class="x-pull-left x-layout-20 login-box-title">确认密码：</p>
				<p class="x-pull-left x-layout-80"><input type="text" name="password"></p>
			</div>
			
			<div class="clearfix login-box">
				<p class="x-pull-left x-layout-20 login-box-title">验证码：</p>
				<p class="x-pull-left x-layout-80"><input type="text" name="password"></p>
			</div>
			<div class="clearfix login-button-box">
				<img src="${CPATH}/captcha" onclick="this.src='${CPATH}/captcha?d='+Math.random();" >
			</div>
			
			<div class="clearfix login-button-box">
				<input type="button" value="注册">
			</div>
			<div class=" login-button-box">
				<p><a href="${CPATH}/oauth/qq">QQ登录</a></p>
				<p><a href="${CPATH}/oauth/oschina?goto=${goto!}">OSCHINA登录</a></p>
			</div>
		</div>
</div>
</@layout>
