#define defaultProductCommentPage()
<div class="comment-default-block">

    #if(option("product_comment_enable","true") && product.comment_status)
    <form class="comment-form" action="#(CPATH)/product/postComment" id="jpress-comment-form" method="post" autocomplete="off">
        <input type="hidden" name="productId" value="#(product.id)">
        <input type="hidden" name="render" value="default">
        <input type="hidden" name="pid" id="comment-pid">

        <div class="comment-textarea">
            <textarea placeholder="我们相信，您的评论能够一针见血...." rows="4" name="content"></textarea>
        </div>

        <div class="comment-vcode">
            #if(option("product_comment_vcode_enable","true"))
            <input placeholder="请输入验证码" name="captcha" id="comment-captcha">
            <img class="vcode-img" src="#(CPATH)/commons/captcha"
                 onclick="this.src='#(CPATH)/commons/captcha?d='+Math.random();" cdn-exclude id="comment-vcode">
            #end
        </div>

        <button type="submit">提交</button>
        <span class="clearfix"></span>
    </form>
    #end


    <h4 class="comment-page-title" id="comments">全部评论</h4>


    <div class="comment-page">
        #productCommentPage()
        #for(comment : commentPage.list ??)
        #include("defaultProductCommentItem.html")
        #end
        #end
    </div>


    #productCommentPaginate(anchor="comments")
    <nav>
        <ul class="pagination justify-content-center">
            #for(page : pages)
            <li class="page-item #(page.style)"><a class="page-link" href="#(page.url ??)">#(page.text)</a></li>
            #end
        </ul>
    </nav>
    #end


</div>
#end


