#define defaultProductHeader()
<div class="row">
    <div class="col-md-6">
        #if(productImages)
        <div class="product-swipper swiper-container gallery-top">
            <div class="swiper-wrapper">
                #for(img : productImages)
                <img class="swiper-slide" src="#(img.src ??)">
                #end
            </div>
        </div>
        <div class="product-swipper-item swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                #for(img : productImages)
                <img class="swiper-slide" src="#(img.src ??)">
                #end
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        #else
        <div class="product-swipper">
            <img style="width: 100%;height: 100%" src="#(product.showImage ??)">
        </div>
        #end
    </div>
    <div class="col-md-6">
        <h2 class="product-title">#(product.title)</h2>

        <div class="product-info">
            <div>
                <span><strong>#(product.comment_count ?? 0)</strong></span>
                <span>累计评价</span>
            </div>

            <div>
                <span><strong>#(product.sales_count ?? 0)</strong></span>
                <span>交易成功</span>
            </div>
        </div>

        <div class="product-price">
            <span>¥ #number(product.price ?? 0 , '0.00')</span>
        </div>
        <div class="product-usp">
            #(product.usp ??)
        </div>

        #if(product.specs)
        <div class="product-specs">
            <ul>
                #strSplit(product.specs)
                #for(str : strs)
                <li >#(str)</li>
                #end
                #end
            </ul>
        </div>
        #end

        <div class="product-btn">
            <a class="product-btn-buy" href="javascript:;" onclick="addProductToCart('#(product.id ??)')"> <i class="fa fa-shopping-cart"></i> 加入购物车</a>
            <a class="product-btn-cart" href="javascript:;" onclick="buyProduct('#(product.id ??)')"> <i class="fa fa-credit-card-alt"></i> 立即购买</a>
        </div>

        <p class="product-btn-star">

            <a href="javascript:;" onclick="addProductToFavorite('#(product.id ??)')"><i class="fa fa-heart-o"></i> 添加收藏</a>
            <a href="javascript:;" class="copy"
                    data-clipboard-action="copy"
                    data-clipboard-text="我觉得这个产品不错，分享给你...   #(productShareUrl ??)"><i class="fa fa-fw fa-share-square-o"></i>分享产品链接</a>

        </p>

        <div class="product-tag">
            #productCategories(product.id,'category')
            <p>
                分类：
                #for(cat : categories)
                <a href="#(cat.url ??)">#(cat.title ??)</a>
                #end
            </p>
            #end

            #productCategories(product.id,'tag')
            <p>
                标签：
                #for(cat : categories)
                <a href="#(cat.url ??)">#(cat.title ??)</a>
                #end
            </p>
            #end
        </div>
    </div>
</div>
#end


