#@_ucenter_layout()

#define script()
<script>

</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            个人中心
            <small>My Profile</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">


                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>

                    <form class="form-horizontal" autocomplete="off" id="userForm" action="/admin/user/doSaveUser">
                        <input name="user.id" type="hidden" value="#(user.id)">
                        <div class="box-body ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">绑定邮箱</label>

                                <div class="col-sm-4">
                                    <div class="form-text">
                                    fuhai999@gmail.com
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">绑定手机</label>

                                <div class="col-sm-4">
                                    <div class="form-text">
                                    18611223344
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">当前身份</label>

                                <div class="col-sm-4">
                                    <div class="form-text">
                                    程序架构师
                                    </div>
                                </div>
                            </div>





                        </div>

                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section>

</div>
#end
