<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户注册</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="#(CPATH)/static/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="#(CPATH)/static/adminlte/css/AdminLTE.min.css">

    <!--[if lt IE 9]>
    <script src="#(CPATH)/static/html5shiv/html5shiv.min.js"></script>
    <script src="#(CPATH)/static/respond/respond.min.js"></script>
    <![endif]-->
    <style>
        .login-page {
            background-image: url("#(CPATH)/static/commons/img/loginbg.png");
            background-size: cover;
        }

        .login-box {
            padding-top: 40px;
        }

        .form-group {
            text-align: left;
        }


    </style>
</head>
<body class="hold-transition login-page">

<div class="row">
    <div class="login-box text-center">
        <div class="login-box-body">
            <form action="#(CPATH)/admin/doLogin" method="post" id="form">
                <div class="form-group">
                    <label>账号</label>
                    <input type="text" class="form-control" placeholder="请输入账号" name="username">
                </div>
                <div class="form-group">
                    <label>邮箱</label>
                    <input type="text" class="form-control" placeholder="请输入邮箱" name="email">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" class="form-control" placeholder="密码..." name="pwd">
                </div>
                <div class="form-group">
                    <label>确认密码</label>
                    <input type="password" class="form-control" placeholder="及确认密码..." name="confirmPwd">
                </div>
                <div class="form-group">
                    <label>验证码</label>
                    <input type="text" class="form-control" placeholder="请输入验证码" name="captcha">
                    <img src="/commons/captcha" onclick="this.src='/commons/captcha?d='+Math.random();" cdn-exclude>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="padding-top: 15px">
                        <button type="button" id="submit" class="btn btn-primary btn-block btn-flat">注 册</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/components/jquery/jquery.form.min.js"></script>
<script src="#(CPATH)/static/components/bootstrap/js/bootstrap.min.js"></script>
<script>

    $("#submit").on("click", function () {
        $("#form").ajaxSubmit({
            type: "post",
            success: function (data) {
                if (data.state == "ok") {
                    location.href = "/ucenter";
                } else {
                    alert(data.message);
                }
            },
            error: function () {
                alert("网络错误，请稍后重试");
            }
        });
    })
</script>

</body>
</html>
