<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>天蓝简洁模板-JPress模板</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bl-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
</head>
<body>
<div class="bl-header container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bl-nav">
            <a class="nav-prand" href="bl-first-index.html">JPress</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="bl-first-index.html">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="bl-aritical-list.html">文章</a>
                    </li>
                    <li class="nav-item">
                        <a href="bl-course-list.html">教程</a>
                    </li>
                    <li class="nav-item">
                        <a href="bl-about.html">关于</a>
                    </li>
                </ul>
            </div>
            <!--search icon-->
            <!--<form class="icon-item">-->
                <!--<a href="#"><i class="fa fa-search"></i></a>-->
            <!--</form>-->
            <button type="button" class="btn btn-outline-light ">下载</button>
        </nav>
    </div>
</div>
<div class="container list-content">
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row bl-list-card">
        <div class="col-8 bl-card-content">
            <h3 class="bl-content-title"><a href="bl-aritical.html">JPress的ehcache缓存方案、以及踩过ehcache的坑</a></h3>
            <p class="bl-content-info">最近为了提高J按的性能，减少数据查询的次数，J按大量使用了的Ehcache缓存作为起内置缓存，同时会话也是基于ehcache的重新实现的支持分部署的会议解决方案。</p>
            <div class="bl-label">
                <div class="bl-label-item">
                    <img src="img/zheng.jpg" class="img-fluid rounded-circle bl-img-size" alt="Responsive image">
                    <span class="text-success">海哥</span>
                </div>
                <div class="bl-label-item">2017-10-01 18:00</div>
            </div>
            <div class="bl-tag">
                <div class="bl-tag-item"><i class="fa fa-heart-o" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                <div class="bl-tag-item"><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</div>
            </div>
        </div>
        <div class="col-4 bl-card-image"><img src="img/product-example.jpg" class="img-fluid" alt="Responsive image"></div>
    </div>
    <nav aria-label="Page navigation example bl-page" style="margin-top:2rem;">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="bl-footer container-fluid">
    <div class="container">
        <ul class="bl-footer-list">
            <li class="bl-footer-item">
                <a href="#">帮助</a>
            </li>
            <li class="bl-footer-item">
                <a href="#">隐私</a>
            </li>
            <li class="bl-footer-item">
                <a href="#">条款</a>
            </li>
        </ul>
        <div class="copyright">copyright @ 2018 JPress设计部出品</div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="jquery/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>