#include("./_layout.html")
#@layout()
#define content()
<div class="bl-bgclor container-fluid">
    <div class="bl-banner container">
        <img src="img/banner.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>

<div class="container bl-card">
    <h3 class="bl-card-title">我们的优势</h3>
    <div class=" card-group bl-card-body">
        <div class="card card-body-item">
            <div class="item-icon">
                <i class="fa fa-paper-plane-o fa-4x align-middle" aria-hidden="true"></i>
            </div>
            <div class="card-body item-body item-body">
                <h3 class="card-title">轻</h3>
                <p class="card-text">
                    <small class="text-muted">轻到只有8张数据表，却能实现WordPress的几乎所有功能</small>
                </p>
            </div>
        </div>

        <div class="card card-body-item">
            <div class="item-icon">
                <i class="fa fa-heart-o fa-4x align-middle" aria-hidden="true"></i>
            </div>
            <div class="card-body item-body item-body">
                <h3 class="card-title">快</h3>
                <p class="card-text">
                    <small class="text-muted">无论多么复杂的页面，JPress响应几乎在10毫秒内</small>
                </p>
            </div>
        </div>

        <div class="card card-body-item">
            <div class="item-icon">
                <i class="fa fa-dribbble fa-4x align-middle" aria-hidden="true"></i>
            </div>
            <div class="card-body item-body item-body">
                <h3 class="card-title">灵活</h3>
                <p class="card-text">
                    <small class="text-muted">JPress提出的“模板即模型”的概念，几乎可以用来做任何类型的网站。</small>
                </p>
            </div>
        </div>

        <div class="card card-body-item">
            <div class="item-icon">
                <i class="fa fa-hand-rock-o fa-4x align-middle" aria-hidden="true"></i>
            </div>
            <div class="card-body item-body item-body">
                <h3 class="card-title">国产</h3>
                <p class="card-text">
                    <small class="text-muted">JPress天生融合了微信公众号，更符合国人需求。</small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container bl-card">
    <h3 class="bl-card-title">产品介绍</h3>
    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12 product-box-image">
            <img class="card-img-left" src="img/product.jpg" alt="Card image cap"/>
        </div>
        <div class="col-md-6 col-sm-12 product-box-content">
            <h3 class="card-title">轻</h3>
            <p class="card-text">轻到只有8张数据表，却能实现WordPress的几乎所有功能</p>
        </div>
    </div>

    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12  product-box-content">
            <h3 class="card-title">轻</h3>
            <p class="card-text">轻到只有8张数据表，却能实现WordPress的几乎所有功能</p>
        </div>
        <div class="col-md-6 col-sm-12 product-box-image">
            <img class="card-img-left" src="img/product-example.jpg" alt="Card image cap"/>
        </div>
    </div>

    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12 product-box-image">
            <img class="card-img-left" src="img/product-example.jpg" alt="Card image cap"/>
        </div>
        <div class="col-md-6 col-sm-12 product-box-content">
            <h3 class="card-title">轻</h3>
            <p class="card-text">轻到只有8张数据表，却能实现WordPress的几乎所有功能</p>
        </div>
    </div>

    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12  product-box-content">
            <h3 class="card-title">轻</h3>
            <p class="card-text">轻到只有8张数据表，却能实现WordPress的几乎所有功能</p>
        </div>
        <div class="col-md-6 col-sm-12 product-box-image">
            <img class="card-img-left" src="img/product-example.jpg" alt="Card image cap"/>
        </div>
    </div>

    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12 product-box-image">
            <img class="card-img-left" src="img/product-example.jpg" alt="Card image cap"/>
        </div>
        <div class="col-md-6 col-sm-12 product-box-content">
            <h3 class="card-title">轻</h3>
            <p class="card-text">轻到只有8张数据表，却能实现WordPress的几乎所有功能</p>
        </div>
    </div>

    <div class="row product-box-body">
        <div class="col-md-6 col-sm-12  product-box-content">
            <h3 class="card-title">轻</h3>
            <p class="card-text">轻到只有8张数据表，却能实现WordPress的几乎所有功能</p>
        </div>
        <div class="col-md-6 col-sm-12 product-box-image">
            <img class="card-img-left" src="img/product-example.jpg" alt="Card image cap"/>
        </div>
    </div>

</div>
<div class="container bl-card">
    <h3 class="bl-card-title">我们的团队</h3>
    <div class="card-deck text-center">
        <div class="card">
            <img class="card-img-top" src="img/photo-example.jpg" alt="">
            <div class="card-body">
                <h3 class="card-title">Michael</h3>
                <p class="card-text">
                    <small class="text-muted">JPress开源作者</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/photo-example.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Jean</h3>
                <p class="card-text">
                    <small class="text-muted">UI设计师，插画师</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/photo-example.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">tony</h3>
                <p class="card-text">
                    <small class="text-muted">JPress产品经理</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/photo-example.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">Jeey</h3>
                <p class="card-text">
                    <small class="text-muted">JPress运营总监</small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container bl-card">
    <h3 class="bl-card-title">客户见证</h3>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                "这是我用过的最好的建站工具，没有之一。"
            </div>
            <div class="card-body">
                <h3 class="card-title">小四</h3>
                <p class="card-text">
                    <small class="text-muted">著名作家</small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                "这是我用过的最好的建站工具，没有之一。"
            </div>
            <div class="card-body">
                <h3 class="card-title">红薯</h3>
                <p class="card-text">
                    <small class="text-muted">非知名排版家</small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                "这是我用过的最好的建站工具，没有之一。"
            </div>
            <div class="card-body">
                <h3 class="card-title">jsy</h3>
                <p class="card-text">
                    <small class="text-muted">上市公司产品经理</small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                "这是我用过的最好的建站工具，没有之一。"
            </div>
            <div class="card-body">
                <h3 class="card-title">Jeey</h3>
                <p class="card-text">
                    <small class="text-muted">上市公司运营总监</small>
                </p>
            </div>
        </div>
    </div>
</div>
#end