#include("./_layout.html")
#@layout()
#define content()
<div class="container-fluid bl-bgclor">
    <div class="container bl-about-banner"><img src="img/banner.jpg" class="img-fluid" alt="Responsive image"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="bl-cloumn-nav">
                <a class="bl-cloumn-nav-item nav-link active" href="#">关于我们</a>
                <a class="bl-cloumn-nav-item nav-link" href="#">我们的团队</a>
                <a class="bl-cloumn-nav-item nav-link" href="#">联系我们</a>
                <a class="bl-cloumn-nav-item nav-link" href="#">帮助中心</a>
            </div>
        </div>
        <div class="col-9">
            <h2 class="bl-title-center">#(page.title ??)</h2>
            <div class="bl-artical">
                #(page.text ??)
            </div>
        </div>
    </div>
</div>
#end