#@layout()

#define content()

    <section class="content-header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                常规设置
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / 系统 / 常规设置</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->

    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class=" form-setting" autocomplete="off"
                          id="optionForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">网站名称</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="给您的网站起个名字"
                                           name="web_name" value="#option('web_name')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">网站标题</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="设置网站的主标题"
                                           name="web_title" value="#option('web_title')">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">网站副标题</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="副标题..."
                                           name="web_subtitle" value="#option('web_subtitle')">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">网站域名</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="填写网站的域名"
                                           name="web_domain" value="#option('web_domain')">
                                    <p class="text-muted"> 请填写http（或https）开头，结尾不要包含“/”。例如：http://www.jpress.cn </p>
                                </div>

                            </div>

                            <h4 class="form-header">管理员</h4>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">邮箱</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder=""
                                           name="web_mater_email" value="#option('web_mater_email')">
                                    <p class="text-muted">通知多个邮箱请用英文逗号（,）隔开</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">手机号</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder=""
                                           name="web_mater_mobile" value="#option('web_mater_mobile')">
                                    <p class="text-muted"> 通知多个手机请用英文逗号（,）隔开</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">微信</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder=""
                                           name="web_mater_wxopenid" value="#option('web_mater_wxopenid')">
                                    <p class="text-muted"> 请填写微信用户的 openId，多个账号请用英文逗号（,）隔开</p>
                                </div>
                            </div>

                            <h4 class="form-header">其他</h4>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">备案号</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="网站在中国区接入需要备案号"
                                           name="web_ipc_no" value="#option('web_ipc_no')">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">版权信息</label>
                                <div class="col-sm-6">
                                    <textarea rows="5" class="form-control" name="web_copyright"
                                              placeholder="版权信息一般显示在网站的底部...">#option("web_copyright")</textarea>
                                    <p class="text-muted"> 注意：此处的信息是否正确显示，决定于您使用的模板是否支持版权设置功能。 </p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">全局代码</label>
                                <div class="col-sm-6">
                                    <textarea rows="5" class="form-control" name="web_config_code"
                                              placeholder="一般是用来放 统计代码 或者 在线客服代码...">#option("web_config_code")</textarea>
                                    <p class="text-muted"> 此处一般用来配置 网站统计 或者 在线客服 代码，但前台是否正确显示，决定于您使用的模板是否支持。 </p>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>

    </section>
#end
