#@layout()

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            CDN 设置
            <small>CDN Setting</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal form-setting" autocomplete="off"
                          id="optionForm">
                        <div class="box-body ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">开启CDN网站加速</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" class="switchery" data-for="cdn_enable" #checkedIf(option("cdn_enable"))>
                                    <input type="hidden" id="cdn_enable" name="cdn_enable">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">CDN域名</label>
                                <div class="col-sm-6">
                                    <input type="input" class="form-control" placeholder="请填写CDN域名..."
                                           name="cdn_domain" value="#option('cdn_domain')">
                                    <p class="help-block"> 此项请填写阿里云、腾讯云、七牛等CDN加速的绑定域名。<span style="color: red">http://（或https://）开头</span>。 </p>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">排除文件</label>
                                <div class="col-sm-6">
                                    <textarea rows="5" class="form-control"
                                              placeholder="排除的文件将不采用CDN进行加速..."
                                              name="cdn_exclude">#option("cdn_exclude")</textarea>
                                    <p class="help-block"> 此处请填写要排除的文件，填写本地的相对路径。一行一条数据。 </p>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
