#@layout()

#define script()
<script>

</script>
#end

#define css()
<style>
    .inner {
        min-height: 100px;
    }
    .small-card:hover .icon {
        font-size: 90px;
    }
</style>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            小工具箱
            <small>Tools card</small>
        </h1>
    </section>

    <section class="content">

        <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <div class="card-body">

                        <div class="row">

                            #for(moduleHtml : moduleIncludes)
                                #render(moduleHtml)
                            #end

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

</div>
#end
