#app .page-title, #app .theme-reco-content.content__default, #app footer, #app .page-nav, #app .comments-wrapper {
  max-width: 960px !important;
  // padding: 1.5rem !important;
}

.page {
  /* 处理文本溢出 */
  word-wrap: break-word !important;
  /* 允许再单词内换行 */
  word-break: break-all;
  padding-top: 4rem !important;
}

.page .page-title {
  // 调整标题容器边距
  padding: 0 1.5rem !important;
}

  //, #app .theme-reco-content.content__default > p:nth-child(2)
#app .theme-reco-content.content__default > h1{
  // 处理文档的第一行标题
   display: none !important;
}

.home-center.content__default{
  padding-left: 0 !important;
  padding-right: 0 !important;
}