<#include "_inc/_layout.html"/> 
<#include "_inc/_tinymce.html"/> 
<@layout>
<div class="container">
	<div class="row">
		<section class="col-xs-12 col-md-9 ">
			<article class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="article-content">
							<h3 class="jp-margin-top">
								<a>${content.title}</a>
							</h3>
							<h6 class="jp-details-info catalog-show">
								<span class="jp-right jp-margin-right30"><i class="fa fa-comment-o"></i>${content.viewCount!}</span> <span class="jp-right jp-margin-right30"><i class="fa fa-eye"></i>${content.commentCount!}</span>
								作者：<span class="content-author">${content.username}</span><span class="release-time">${content.created}</span>
							</h6>
							<section class="article">${content.text}</section>
						</div>


						<section class="form-group jp-extend">
							<form class="article-content">
								<button type="submit" class="jp-extend-sub btn btn-primary btn-flat">回复</button>
								<label class="sr-only"></label> <input type="text" class="form-control " placeholder="说说你的看法" />
							</form>
						</section>


						<!--    <div class="article-content-footer"><span>说说你的看法</span>
                            <button class="btn btn-primary jp-right btn-default ">回复</button>
                        </div>
                        -->

					</div>
				</div>
			</article>


			<#include "_inc/_comments.html"/> 

			<article class="jp-art-edit">
				<form>
					<textarea class="textarea" name="content.text"></textarea>
					<button type="submit" class="btn btn-primary jp-right ">发表回复</button>
				</form>
			</article>

		</section>

		<aside class="col-md-3 display-none-992 main-side jp-common">
			<section class="side-tag">
				<h4 class=" jp-margin-top">
					<span class="side-cloro"></span>热门标签
				</h4>
				<ul class="list-inline jp-common">
					<li>
						<a>google</a>
					</li>
					<li>
						<a>fackbook</a>
					</li>
					<li>
						<a>苹果</a>
					</li>
					<li>
						<a>google</a>
					</li>
					<li>
						<a>小米</a>
					</li>
					<li>
						<a>fackbook</a>
					</li>
					<li>
						<a>苹果</a>
					</li>
					<li>
						<a>google</a>
					</li>
					<li>
						<a>fackbook</a>
					</li>
					<li>
						<a>苹果</a>
					</li>
					<li>
						<a>google</a>
					</li>
					<li>
						<a>小米</a>
					</li>
					<li>
						<a>fackbook</a>
					</li>
					<li>
						<a>苹果</a>
					</li>
				</ul>
			</section>
			<section class="side-tag">
				<h4 class=" jp-margin-top">
					<span class="side-cloro"></span>热文
				</h4>

				<p>
					<img class="jp-width100" src="imgs/photo3.jpg">
				</p>
				<p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
				<div class="jp-width100 side-footer"></div>
				<p>
					<img class="jp-width100" src="imgs/photo3.jpg">
				</p>
				<p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
				<div class="jp-width100 side-footer"></div>
				<p>
					<img class="jp-width100" src="imgs/photo3.jpg">
				</p>
				<p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
				<div class="jp-width100 side-footer"></div>
				<p>
					<img class="jp-width100" src="imgs/photo3.jpg">
				</p>
				<p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>

			</section>
		</aside>

	</div>
</div>
</@layout>
