<#include "_inc/_layout.html"/> 
<#include "_inc/_tinymce.html"/> 
<@layout>
<div class="container">
    <aside class="side-comment text-center">
        <div class="side-elem active side-elem-lih"><i class="fa fa-commenting-o fa-2x"></i><br/><span>回复</span></div>
        <div class="side-elem side-elem-down"><i class="fa fa-star fa-2x"></i></div>
        <div class="side-elem"><i class="fa fa-weibo fa-2x "></i></div>
        <div class="side-elem"><i class="fa fa-weibo fa-2x "></i></div>
        <div class="side-elem"><i class="fa fa-weibo fa-2x "></i></div>

    </aside>
    <div class="row">
        <section class="col-xs-12 col-md-9 ">
            <article class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="article-content">
                            <h3 class="jp-margin-top">${content.title!}</h3>
                            <h6 class="jp-details-info catalog-show">
                                <span class="jp-right jp-margin-right30"><i class="fa fa-comment-o"></i>6</span>
                                <span class="jp-right jp-margin-right30"><i class="fa fa-eye"></i>5</span>
                                <span class="forum-best-color">精华</span>发表在<span class="forum-article-f">创业讨论</span><span class="forum-release-time">2016-02-03</span>
                            </h6>
                            <section class="article">
                            ${content.text!}
                            </section>
                        </div>



                        <section class="form-group jp-extend">
                            <form class="article-content">
                                <img class="jp-extend-sub-l user-image" src="imgs/user160.jpg"/>
                                <button type="submit"  class="jp-extend-sub-r btn btn-primary btn-flat">回复</button>
                                <label class="sr-only"></label>
                                <input type="text" class="form-control " placeholder="说说你的看法"/>
                            </form>
                        </section>
                    </div>
                </div>
            </article>

            <article class="forum-content clearfix">

                <div class="row forum-box">
                    <div class="col-xs-12">
                        <img class="portrait" src="imgs/photo3.jpg"/>
                        <h6 class="jp-margin-top">
                            <span class="content-author">大宏</span>
                            <span class="release-time">2016-02-03</span>
                            <span class="jp-right">1#</span>
                        </h6>
                        <p ><a>民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素</a></p>

                        <h6><span class="jp-right jp-margin-right30">支持</span>
                            <span class="jp-right jp-margin-right30">反对</span>
                            <span class="jp-right jp-margin-right30">回复</span></h6>
                    </div>

                </div>
            </article>

            <article class="forum-content clearfix">
                <div class="border-top"></div>
                <div class="row forum-box">
                    <div class="col-xs-12">
                        <img class="portrait" src="imgs/photo3.jpg"/>
                        <h6 class="jp-margin-top">
                            <span class="content-author">大宏</span>
                            <span class="release-time">2016-02-03</span>
                            <span class="jp-right">1#</span>
                        </h6>
                        <p ><a>民航专家张起淮：“我判断，这次飞机的客观因素</a></p>
                        <div class="forum-reply">
                            <h6 class="jp-margin-top">
                                <span class="content-author">大宏:</span>
                                <span>民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素 </span>
                                <span class="release-time">2016-02-03</span>

                            </h6>
                        </div>
                        <h6><span class="jp-right jp-margin-right30">支持</span>
                            <span class="jp-right jp-margin-right30">反对</span>
                            <span class="jp-right jp-margin-right30">回复</span>
                        </h6>
                    </div>

                </div>
            </article>
            <article class="forum-content clearfix">
                <div class="border-top"></div>
                <section class="jp-right">
                    <ul class="pagination">
                        <li class="active"><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </section>
            </article>

            <article class="jp-art-edit">
                <form>
                    <textarea >
                        This is my textarea to be replaced with CKEditor.
                    </textarea>

                    <button type="submit" class="btn btn-primary jp-right ">发表回复</button>
                </form>
            </article>

        </section>
        <aside class="col-md-3 display-none-992 main-side jp-common">
            <section class="side-tag">
                <h4 class=" jp-margin-top"><span class="side-cloro"></span>作者</h4>
                <div class="text-center"><p> <img class="user-image-forum" src="imgs/photo3.jpg"/></p>
                    <h5>公交总队刑</h5></div>
                <p>公领导高度重公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重</p>
               <p  class="text-center"> <button class="btn btn-color-or btn-flat btn-sm ">Ta的主页</button>
                <button class="btn  btn-color-bl btn-flat btn-sm ">发消息</button>
                </p>

            </section>
            <#include "_inc/_hot_tags.html"/> 
            <#include "_inc/_hot_articles.html"/> 
        </aside>

    </div>
</div>
</@layout>