<#include "_inc/_layout.html"/> 
<@layout>
<div class="container">
    <div class="row">
        <section class="col-xs-12 col-md-9 ">
            <article class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="article-content">
                            <h3 class="jp-margin-top"><a>民航专家张起淮：“我判断，这次飞机的客观因素</a></h3>
                            <h6 class="jp-details-info catalog-show">
                                <span class="jp-right jp-margin-right30"><i class="fa fa-comment-o"></i>6</span>
                                <span class="jp-right jp-margin-right30"><i class="fa fa-eye"></i>5</span>
                                作者：<span class="content-author">大宏</span><span class="release-time">2016-02-03</span>
                            </h6>
                            <section class="article">
                                <p> <img class="jp-width100" src="imgs/photo3.jpg"/></p>

                                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。
                                    总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控
                                    ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。
                                </p>
                                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。
                                    总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控
                                    ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。
                                </p>
                                <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png" alt="测试数据" width="540" height="258" /></p>

                                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。
                                    总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控
                                    ，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。
                                </p>
                                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视。
                                    总队长临阵指挥民警1114名,于发案后对全市各站地铁加强巡控，市局调配武警140余人对重点地铁站进行安防，直至嫌疑人抓获。
                                </p>

                                ####################################################3
                                <ol>
                                    <li>erteter
                                        <ul>
                                            <li>erte4te4</li>
                                        </ul>
                                    </li>
                                    <li>eeee</li>
                                </ol>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <blockquote>
                                    <p>et4te4te4t</p>
                                    <p>et4e4te4te4t</p>
                                    <p>et4te4t4tet4</p>
                                    <p>eye4ye4y</p>
                                </blockquote>
                                <p><a href="#">航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素</a><a>航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素</a><a>航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素</a><a>航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素</a></p>
                                <p>&nbsp;</p>
                                <p><a>航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素 民航专家张起淮：&ldquo;我判断，这次飞机的客观因素</a></p>

                                ##################################################
                            </section>

                        </div>


                            <section class="form-group jp-extend">
                                <form class="article-content">
                                    <button type="submit"  class="jp-extend-sub btn btn-primary btn-flat">回复</button>
                                    <label class="sr-only"></label>
                                    <input type="text" class="form-control " placeholder="说说你的看法"/>
                                </form>
                            </section>


                    <!--    <div class="article-content-footer"><span>说说你的看法</span>
                            <button class="btn btn-primary jp-right btn-default ">回复</button>
                        </div>
                        -->

                    </div>
                </div>
            </article>


            <article class="forum-content clearfix">

                <div class="row forum-box">
                    <div class="col-xs-12">
                        <img class="portrait" src="imgs/photo3.jpg"/>
                        <h6 class="jp-margin-top">
                            <span class="content-author">大宏</span>
                            <span class="release-time">2016-02-03</span>
                            <span class="jp-right">1#</span>
                        </h6>
                        <p ><a>民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素</a></p>

                         <h6><span class="jp-right jp-margin-right30">支持</span>
                             <span class="jp-right jp-margin-right30">反对</span>
                             <span class="jp-right jp-margin-right30">回复</span></h6>
                    </div>

                </div>
            </article>

            <article class="forum-content clearfix">
                <div class="border-top"></div>
                <div class="row forum-box">
                    <div class="col-xs-12">
                        <img class="portrait" src="imgs/photo3.jpg"/>
                        <h6 class="jp-margin-top">
                            <span class="content-author">大宏</span>
                            <span class="release-time">2016-02-03</span>
                            <span class="jp-right">1#</span>
                        </h6>
                        <p ><a>民航专家张起淮：“我判断，这次飞机的客观因素</a></p>
                        <div class="forum-reply">
                            <h6 class="jp-margin-top">
                                <span class="content-author">大宏:</span>
                                <span>民航专家张起淮：“我判断，这次飞机的客观因素
                            民航专家张起淮：“我判断，这次飞机的客观因素 </span>
                                <span class="release-time">2016-02-03</span>

                            </h6>
                        </div>
                        <h6><span class="jp-right jp-margin-right30">支持</span>
                            <span class="jp-right jp-margin-right30">反对</span>
                            <span class="jp-right jp-margin-right30">回复</span>
                        </h6>
                    </div>

                </div>
            </article>
            <article class="forum-content clearfix">
                <div class="border-top"></div>
                <section class="jp-right">
                    <ul class="pagination">
                        <li class="active"><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </section>
            </article>

            <article class="jp-art-edit">
                <form>
                    <textarea >
                        This is my textarea to be replaced with CKEditor.
                    </textarea>

                    <button type="submit" class="btn btn-primary jp-right ">发表回复</button>
                </form>
            </article>

        </section>

        <aside class="col-md-3 display-none-992 main-side jp-common">
            <section class="side-tag">
                <h4 class=" jp-margin-top"><span class="side-cloro"></span>热门标签</h4>
                <ul class="list-inline jp-common"><li><a>google</a></li><li><a>fackbook</a></li><li><a>苹果</a></li>
                    <li><a>google</a></li><li><a>小米</a></li><li><a>fackbook</a></li><li><a>苹果</a></li>
                    <li><a>google</a></li><li><a>fackbook</a></li><li><a>苹果</a></li>
                    <li><a>google</a></li><li><a>小米</a></li><li><a>fackbook</a></li><li><a>苹果</a></li></ul>
            </section>
            <section class="side-tag">
                <h4 class=" jp-margin-top"><span class="side-cloro"></span>热文</h4>

                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
                <div class="jp-width100 side-footer"></div>
                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
                <div class="jp-width100 side-footer"></div>
                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>
                <div class="jp-width100 side-footer"></div>
                <p> <img class="jp-width100" src="imgs/photo3.jpg">  </p>
                <p>公交总队刑侦支队提供的工作证明显示，接到电话后，各级领导高度重视</p>

            </section>
        </aside>

    </div>
</div>
</@layout>