<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>THE3 模板设置</h1>
</section>

<!-- Main content -->
<section class="content">
	<p>目前暂时只提供 友情链接设置功能。</p>
	<form class="form-horizontal" action="${CPATH}/admin/option/save">
		<input type="hidden" name="ucode" value="${ucode}"> 
		<input type="hidden" name="autosave" value="the3_links">
		
		<div class="form-group">
			<label  class="col-sm-2 control-label">友情链接</label>
			<div class="col-sm-5">
				<textarea class="form-control" rows="6" name="the3_links"></textarea>
				<p>格式为 “文字|链接地址” ，比如：“百度|http://www.baidu.com” 。</p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-5">
				<button type="button" class="btn btn-default btn-sm">保存更改</button>
			</div>
		</div>
	</form>
</section>
<!-- /.content -->



