<#include "_inc/_layout.html"/> <@layout>
<div class="container">
	<div class="row">
		<#include "_inc/_ucenter_aside.html"/>
		<section class="col-sm-12 col-md-9  ">
			<header class="my-intro">
				<p>
					<span class="active">我的帖子</span>
				</p>
			</header>
			
			
			<@userContentPage module="forum" >
			<#list page.getList() as content>
			<article class="forum-content  clearfix">
				<div class="row forum-box ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<h4 class="jp-margin-top">
							<a>${content.title!}</a>
						</h4>
						<h6>
							<span>大宏</span> <span class="jp-ms release-time"><i class="fa fa-trash-o"></i>2016-02-03</span>
						</h6>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			</#list>
			
			<article class="forum-content clearfix">
				<section class="jp-right">
					<#include "_inc/_paginate.html" />
				</section>
			</article>
			
			</@userContentPage>

		</section>

	</div>
</div>
</@layout>
