<#include "_inc/_layout.html"/> <@layout>
<div class="container">
	<div class="row">
		<#include "_inc/_ucenter_aside.html"/>
		<section class="col-sm-12 col-md-9  ">
			<header class="my-intro"></header>
			<article class="forum-content ">
				<div class="row forum-box jp-extend-r">
					<div class="col-xs-12">
						<img data-src="modify-img.html" data-title="图片设置" class="layer portrait jp-border-radius30"
							src="${CPATH}${user.avatar!TPATH+'/imgs/avatar.jpg'}" />
						<button type="submit" data-src="modify-user.html" data-title="Jpress账号资料修改"
							class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
						<p class="jp-padding-top20 jp-font-size16">${user.username!}</p>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content">
				<div class="row  jp-extend-r">
					<div class="col-xs-12">
						<button type="submit" data-src="modify-email.html" data-title="Jpress安全账号验证"
							class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
						<h4 class="jp-margin-top">
							安全邮箱：<span class="content-author">${user.email!'（您还没设置安全邮箱）'}</span>
						</h4>
						<p>安全邮箱可以用登录JPress账号，重置密码或其他安全账号</p>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content">
				<div class="row  jp-extend-r">
					<div class="col-xs-12">
						<button type="submit" data-src="modify-phone.html" data-title="Jpress安全账号验证"
							class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
						<h4 class="jp-margin-top">
							安全手机：<span class="content-author">${user.mobile!'（您还没设置手机号）'}</span>
						</h4>
						<p>安全手机可以用登录JPress账号，重置密码或其他安全账号</p>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>
			<article class="forum-content">
				<div class="row  jp-extend-r">
					<div class="col-xs-12">
						<button type="submit" data-src="modify-pw1.html" data-title="Jpress账号密码修改"
							class="layer jp-extend-sub-r btn btn-primary jp-margin-top10">修改</button>
						<h4 class="jp-margin-top">账号密码</h4>
						<p>用于包含账号信息和登录安全</p>
					</div>
				</div>
				<div class="border-bottom"></div>
			</article>

			<article class="forum-content jp-font-size16">
				<p>第三方登录</p>
				<div class="row forum-box jp-extend-r jp-padding-top20">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<button type="submit" class="jp-extend-sub-r btn btn-primary jp-margin-top10">获取授权</button>
						<p class="jp-padding-top20 ">
							<span class="jp-margin-right30">未授权</span><span>账号-</span>
						</p>
					</div>
				</div>
				<div class="row forum-box jp-extend-r jp-padding-top20 ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<button type="submit" class="jp-extend-sub-r btn btn-primary jp-margin-top10">获取授权</button>
						<p class="jp-padding-top20 ">
							<span class="jp-margin-right30">未授权</span><span>账号-</span>
						</p>
					</div>
				</div>
				<div class="row forum-box jp-extend-r jp-padding-top20 ">
					<div class="col-xs-12">
						<img class="portrait" src="imgs/photo3.jpg" />
						<button type="submit" class="jp-extend-sub-r btn btn-primary jp-margin-top10">获取授权</button>
						<p class="jp-padding-top20 ">
							<span class="jp-margin-right30">未授权</span><span>账号-</span>
						</p>
					</div>
				</div>

			</article>
			<div class="jp-padding-top20"></div>
		</section>
	</div>
</div>
</@layout>
