<div class="right-card">

    <div class="right-card-main">
        <div class="right-card-title">搜索</div>
        <div class="cl-code" style="width: 95%">
            <form action="/article/search" method="get">
                <input name="keyword" value="#(keyword ??)">
                <button type="submit">提交</button>
            </form>
        </div>

    </div>
</div>


<div class="right-card">

    <div class="right-card-main">
        <div class="right-card-title">个人微信号</div>
        <div class="cl-code">
            <img src="#option('calmlog_qrcode','img/code.jpg')" class="img-fluid" alt="">
            <p>#option('calmlog_qrcode_text')</p>
        </div>

    </div>
</div>

<div class="right-card">

    <div class="right-card-main">
        <div class="right-card-title">最新文章</div>
        <div class="right-recommended">
            <a href="#">
                <img src="#option('calmlog_ad','img/list-right.jpg')" class="img-fluid" alt="">
            </a>
        </div>
        <ul class="right-recommended-list">
            #articles()
            #for(article : articles)
            <li>
                <a href="#(article.url)">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    #(article.title ??)
                </a>
            </li>
            #end
            #end

        </ul>
    </div>
</div>


<div class="right-card">

    <div class="right-card-main">
        <div class="right-card-title">热门标签</div>
        <ul class="label">
            #tags()
            #for(tag : tags)
            <li><a href="#(tag.url)">#(tag.title)</a></li>
            #end
            #end
        </ul>
    </div>
</div>