
<!--name: 文章列表-->
<!--icon: bi bi-card-list-->

<div class="right-card #blockOption('主class:textarea')" style="#blockOption('主style:textarea' )">
    <div class="right-card-main">
        <div class="right-card-title">#blockOption("标题","最新文章")</div>
        <ul class="right-recommended-list">
            #articles(count=blockOption("文章数量",10))
            #for(article : articles)
            <li>
                <a href="#(article.url ??)">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    #(article.title ??)
                </a>
            </li>
            #end
            #end
        </ul>
    </div>
</div>
