
<!--name: 搜索框-->
<!--icon: bi bi-search-->

<div class="right-card">
    <div class="right-card-main">
        <div class="right-card-title">搜索</div>
        <div class="cl-code ">
            <form action="#(CPATH)/article/search" method="get" class="row" >
                <input name="keyword" class="form-control col-8" value="#(keyword ??)" placeholder="请输入关键字...">
                <button class="btn btn-primary offset-1 col-3" type="submit">搜索</button>
            </form>
        </div>

    </div>
</div>
