#define layout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + ' - ' + WEB_SUBTITLE))</title>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="#(CPATH)/static/components/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="#(CPATH)/static/components/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="highlight/styles/railscasts.css" rel="stylesheet">
    <link href="#(CPATH)/static/front/jpressfront.css" rel="stylesheet">
    <link href="css/cl-css.css" rel="stylesheet">
    <link href="#(CPATH)/static/commons/img/icon.png" type="image/x-icon" rel="shortcut icon">
    #@css?()
</head>
<body>
<div class="cl-header container-fluid">
    <div class="header-content container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#(CPATH)#(SPATH)/">
                <img src="#option('calmlog_logo','img/logo.jpg')" width="144" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#jpress-default-menu"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            #@defaultMenu("collapse navbar-collapse justify-content-end","navbar-nav","nav-item","nav-link")
        </nav>
    </div>
</div>

<div class="cl-container container">
    <div class="row">

        #@content()

    </div>

</div>

<div class="container-fluid cl-footer">
    <div class="container">
        #(WEB_COPYRIGHT ? WEB_COPYRIGHT : '本设计由简.工作室荣誉出品 <br/>
        copyright @ 2020~2022 JPress® （www.jpress.cn）') #unescape(option('web_ipc_no'))
    </div>
</div>
<script src="#(CPATH)/static/components/jquery/jquery.min.js"></script>
<script src="#(CPATH)/static/front/jpressfront.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="highlight/highlight.pack.js"></script>
#@script?()
<script>
    hljs.initHighlightingOnLoad();
    $('[data-toggle="tooltip"]').tooltip();
</script>
</body>
</html>
#end