#define layout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cl-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="highlight/styles/railscasts.css">
    <link rel="shortcut icon" href="#(CPATH)/static/commons/img/jpress.jpg" type="image/x-icon">
    #@css?()
</head>
<body>
<div class="cl-header container-fluid">
    <div class="header-content container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                <img src="#option('calmlog_logo','img/logo.jpg')" width="144" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">

                    #for(menu : MENUS)
                    <li class="nav-item #(menu.isActive ? 'active' : '')">
                        <a class="nav-link" href="#(menu.url)">#(menu.text) <span class="sr-only">(current)</span></a>
                    </li>
                    #end
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="cl-cantainer container">
    <div class="row">

        #@content()

    </div>

</div>

<div class="container-fluid cl-footer">
    <div class="container">
        #(WEB_COPYRIGHT ? WEB_COPYRIGHT : '本设计由简.工作室荣誉出品 <br /> copyright @ 2018~2020 JPress（www.jpress.io）')
    </div>
</div>
<script src="/static/components/jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="highlight/highlight.pack.js"></script>
#@script?()
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
#end