#include("./layout.html")
#@layout()

#define script()
<script src="/static/components/jquery/jquery.form.min.js"></script>
<!-- 腾讯云 超级播放器-->
<script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.2/libs/hls.min.0.13.2m.js"></script>
<!--播放器脚本文件-->
<script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.2/tcplayer.v4.5.2.min.js"></script>

<!-- 阿里云播放器-->
<!--<script src="/static/components/aliyun-upload-sdk/lib/es6-promise.min.js"></script>-->
<script type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.9.3/aliplayer-min.js"></script>
#end

#define css()
<link href="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.2/tcplayer.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.9.3/skins/default/aliplayer-min.css"/>

#end

#define content()
<div class="col-md-12 cl-left">

    <div class="cl-artical-content">
        <h2 class="cl-artical-title">#(page.title)</h2>
        <div class="cl-card-tag">
            <div><span>#(page.view_count)</span>人浏览</div>
        </div>
        <div class="cl-artical">
            #(page.content)
        </div>
    </div>

    #@defaultPageCommentPage()

</div>

#end