#include("./layout.html")
#@layout()

#define script()
<script src="/static/components/jquery/jquery.form.min.js"></script>
<script src="/static/commons/page.js"></script>
#end

#define css()
<link href="/static/commons/page.css" rel="stylesheet">
#end

#define content()
<div class="col-md-12 cl-left">

    <div class="cl-artical-content">
        <h2 class="cl-artical-title">#(page.title)</h2>
        <div class="cl-card-tag">
            <div><span>#(page.view_count)</span>人浏览</div>
        </div>
        <div class="cl-artical">
            #(page.content)
        </div>
    </div>


    #@defaultPageCommentPage()

</div>

#end