a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, 微软雅黑, STHeitiSC-Light, simsun, 宋体, WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    box-sizing: border-box
}

body {
    background-color: #f3f5f8;
}

.iframe-mode{
    /*修复 layer 弹出底部有小滚动条的问题*/
    overflow-x: hidden;
}

.autoAjaxSubmit {
    /*只为了让 idea 在编写 html 时可以自动提示*/
}

[class*=sidebar-dark] .nav-legacy .nav-treeview > .nav-item > .nav-link.active {
    background: #007bff 0;
    color: #fff;
}

body .main-header {
    border: none;
}

table td {
    white-space: normal;
}

.nav-link > .fa-circle {
    font-size: 10px;
}

.form-text {
    display: block;
    margin-top: .5rem;
}

.nav-link > i {
    margin-left: .75rem;
    margin-right: .75rem;
    width: 16px;
}

.menu-open > :first-child.active > i {
    margin-left: calc(.75rem - 3px);
}

.sidebar {
    overflow-y: unset;
}

.sidebar-dark-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
    border-color: #fff;
}

[class*=sidebar-dark-] {
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.card-body.p-0 .table tbody > tr > td:first-of-type, .card-body.p-0 .table tbody > tr > th:first-of-type, .card-body.p-0 .table thead > tr > td:first-of-type, .card-body.p-0 .table thead > tr > th:first-of-type {
    padding-left: 0.75rem;
}

.card-body.p-0 .table tbody > tr > td:last-of-type, .card-body.p-0 .table tbody > tr > th:last-of-type, .card-body.p-0 .table thead > tr > td:last-of-type, .card-body.p-0 .table thead > tr > th:last-of-type {
    padding-right: 0.75rem;
}

.toast-top-center{
    top:50px;right:0;width:100%
}

.table {
    width: 100%;
    margin-bottom: 0;
}

th, td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(240, 240, 240);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}

.projects th {
    vertical-align: middle;
}

.nav-item {
    line-height: 1.8rem;
}

.nav-sidebar .nav-treeview {
    padding: 10px 0;
}

.sidebar-mini .nav-legacy > .nav-item .nav-link .nav-icon,
.nav-legacy.nav-sidebar > .nav-item > .nav-link > .nav-icon {
    font-size: 10px;
}

.text-sm  .content-header{
    padding: 15px 0.5rem 10px 0.5rem;
}

.attr-tag{
    background: #1c73e8;
    color: #fff;
    padding: 0 6px;
    border-radius: 2px;
}

.btn-group > .active {
    background-color: #e9ecef;
    color: #2b2b2b;
}

.main-footer.text-sm {
    background: #f4f6f9;
    border-top: 1px solid #f4f6f9;
    color: #869099;
    padding: 1rem;
}

.form-group-check {
    display: flex;
    align-items: center;
    margin-left: 0;
}

h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

table > thead {

}

.page-item.active .page-link {
    background-color: #eee;
    border-color: #dee2e6;
    color: #666;
}

.table thead th {

    border: none;
}

.pagination li, .pagination .form-control {
    font-size: 14px;
}

table a {
    color: #212529;
}

.bottom-content-buybtn a {
    display: block;
    width: 6rem;
    text-align: center;
}

.price-sum div {
    display: flex;
    align-items: center;
}

.select-all {
    margin-right: 10px;
}

.col-form-label {
    display: flex;
    justify-content: flex-end;
}

.form-header {
    padding-bottom: 9px;
    padding-left: 20px;
    margin: 40px 0 30px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
}

.form-header span {
    font-size: 0.8rem;
}

.form-table-header {
    padding-bottom: 9px;
    padding-left: 20px;
    margin: 40px 0 10px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.admin-actions {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.admin-search-panel {
    padding-top: 20px;

}

tr.selected {
    background-color: #e4efff !important;
}

tr.selected:hover {
    background-color: #d6e4ff !important;
}

tbody > tr > th, td:focus {
    outline: none;
}

.switchery-small {
    margin-top: 7px;
}

.form-check > .switchery-small {
    margin-top: 0;
}

.form-check {
    padding: 0.6rem 0 0 1.25rem;
    width: 100%;
}

.dataTables_empty {
    text-align: center;
}

.input-action-btn {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.input-action > .form-control:disabled, .input-action > .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.input-group > .form-control:disabled, .input-group > .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.pagination-total-text {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    line-height: 40px;
    margin-right: 8px;
}

.pagination-pagesize {
    width: 105px;
    margin-left: 8px;
}


.jp-action-card {
    min-height: 25px;
    line-height: 25px;
}

.jp-action-body {
    display: none;
}

.jp-action-body a {
    font-size: 13px;
    font-weight: 400;
    color: #006505;
}

.red-action {
    color: #a00 !important;
}

.editable-container {
    z-index: 99999;
}

/*checkout*/
.checkout-table .form-group {
    display: flex;
    align-items: center;
}

.checkout-table .group-line {
    width: 80%;
    margin-left: 2%;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.group-code {
    width: 30%;
}

.checkout-table .address-lable {
    width: 8%;
    font-weight: 400;
    font-size: 14px;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
}

.group-line .form-control {
    margin-right: 10px;
    font-size: 14px;
}

.price-color {
    color: #dc3545;
    font-weight: 500;
}

.jpress-empty-cart {
    background-color: #f4f6f9;
    height: 60px;
    align-items: center;
    color: #999;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dropdown-menu{
    min-width:100px;
}
.dropdown-item-title {
    font-size: 14px;
    line-height: 1.6em;
}

.cart-description {
    font-size: 12px;
    color: #999;
    line-height: 1.2em;
}

.person-rightbar {
    font-size: 0.9rem;
}

.person-rightbar .btn, .person-rightbar .form-control {
    font-size: 0.9rem;
}

@media all and (min-width: 768px) {
    .person-leftar {
        max-width: 20%;
    }

    .person-rightbar {
        max-width: 80%;
        flex: 0 0 80%;
    }

    .fileinput-button {
        /*width: 160px;*/
    }
}

@media all and (max-width: 768px) {
    .col-form-label {
        justify-content: start;
    }

    .person-rightbar {
        margin-top: 20px;
    }

    .checkout-table .address-lable {
        width: 100%;
    }

    .checkout-table .group-line {
        margin-left: 0;
        width: 100%;
    }

    .fileinput-button {
        margin-bottom: 10px;
    }
}

.datepicker--day-name {
    color: #007bff;
}

.datepicker--cell.-current- {
    color: #007bff;
    font-weight: 700;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
    color: #fff;
    background: #007bff;
}

.datepicker--cell.-selected-.-focus- {
    color: #fff;
    background: #007bff;
}

.input-group-append {
    margin-left: -1px;
    height: calc(2.25rem + 2px);
}

.form-control-clear {
    z-index: 10;
    width: 0;
    line-height: 38px;
    position: relative;
    left: -26px;
    color: #999;
}

.form-control-clear .fa-times{
    cursor: pointer;
}

.form-group img {
    max-width: 300px;
    vertical-align: middle;
    /*border: 1px solid #eee;*/
}

.card-body img {
    vertical-align: middle;
    border-style: none;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid #dee2e6;
}


.jpress-image-browser {
    position: relative;
    border: 1px solid #eee;
    max-width: 300px;
    min-width: 150px;
    min-height: 100px;

}

.jpress-image-browser img {
    width: 100%;
}

.jpress-image-browser:hover .image-action {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
    height: 100%;
    background-image: linear-gradient(
            -180deg, hsla(0, 0%, 74.9%, 0), rgba(0, 0, 0, .78) 97%);
    transition: all .5s;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    font-size: 22px;
    /*cursor: pointer;*/
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.jpress-image-browser .image-action {
    display: none;
}

.jpress-image-browser:hover .image-action a {
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
}

.jpress-image-browser:hover .image-action a:hover {
    border: none;
}

.jpress-image-browser:hover .image-reset {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    width: 100%;
    z-index: 10;
    height: 100%;
    line-height: 200px;
    background: #000000aa;
    filter: alpha(opacity=30);
    -moz-opacity: 0.5;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jpress-image-browser .image-reset {
    display: none;
}

.page-header {
    padding-bottom: 9px;
    padding-left: 20px;
    margin: 40px 0 30px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
}


.jpress-form-item {
    position: relative;
    width: 100%;
    height: 176px;
    padding: 18px 15px;
    background: #fff;
    box-shadow: -2px 4px 5px 0 rgb(0 0 0 / 6%);
    float: left;
    border-radius: 4px;
    margin-top: 18px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
    margin-right: 18px;
    /*z-index: 0;*/
    border: solid 1px #eee;
}

.jpress-form-item-header {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 45px;
    width: 185px;
    text-align: left;
    color: #484848;
    font-size: 14px;
}

.jpress-form-item-footer {
    position: absolute;
    height: 46px;
    line-height: 46px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 18px;
    box-sizing: border-box;
    text-align: left;
    color: #aaa;
    font-size: 14px;
}


.jpress-form-card {
    width: 300px;
    height: 176px;
    padding: 18px 15px;
    background: #fff;
    box-shadow: -2px 4px 5px 0 rgb(0 0 0 / 6%);
    border-radius: 4px;
    margin-top: 18px;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 18px;
    border: solid 1px #eee;
    font-size: 16px;
}


.float-right {
    float: right;
}

.form-state-unpublish {
    color: #ffbe3a;
    margin-top: 6px;
}

.form-state-published {
    color: #007bff;
    margin-top: 6px;
}

.form-operate-bar {
    display: none;
    position: absolute;
    height: 46px;
    line-height: 46px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    color: #aaa;
    background: #f7f8fa;
}

.jpress-form-item:hover .form-operate-bar {
    display: block;
}

.form-operate-bar a {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    color: #707070;
}
.thumbnail-list{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.product-thumbnail {
    position: relative;
    width:48%;
    margin-bottom:12px;
    margin-right:2%;
}
.product-thumbnail-item{
    position:relative;
    width:48%;
    height:0;
    border:1px solid #f4f4f4;
    margin-bottom:12px;
    padding-top:48%;
    margin-right:2%;
}
.product-thumbnail-item img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product-thumbnail-item .image-reset{
    position:absolute;
    right:0;
    top:0;
    padding:4px 6px;
    color:#fff;
    font-size:20px;
    background-color:rgba(0,0,0,0.4);
    cursor: pointer;
    display:none;
}
.product-thumbnail-item:hover .image-reset{
    display:block;
}
.chooseImage{
    width: 100%;
    cursor: pointer;
}

/*视频列表和选择视频*/
.video-card{
    position: relative;
    width:100%;
    margin:0 auto 16px;
    border-radius:4px;
    background-color:#fff;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}
.video-card:hover{
    -webkit-box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    /*-webkit-transform: translate3d(0,-2px,0);*/
    /*transform: translate3d(0,-2px,0);*/
}
.video-img{
    position: relative;
    height:180px;
    overflow:hidden;
}
.video-poster{
    height:100%;
    width:100%;
    object-fit: cover;
}
.choose-video-poster{
    max-width:100%;
    height:100%;
}
.video-tag{
    position: absolute;
    right:14px;
    top:15px;
    color:#fff;
    font-size:10px;
    background-color:rgba(0,0,0,0.35);
    border-radius:16px;
    padding:4px 10px 3px;
}
.video-title{
    padding:15px 12px 12px;
}
.video-desc{
    display:flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding:0 12px 12px;
    color:#999;
}
.ellipsis1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.video-operation i{
    color:#999;
    font-size:18px;
}
.video-desc .dropdown-menu .dropdown-item{
    height:36px;
    line-height:36px;
}
.border-bottom-light{
    border-bottom:1px solid #eee;
}

/*附件列表*/
.attachment_item {
    position: relative;
    height: 220px;
    width: 18%;
    padding: 0;
    border: 1px solid #ddd;
    margin: 10px 1% 10px 10px;
    float: left;
    cursor: pointer;
}

.attachment_item:hover {
    border: 1px solid #3c8dbc;
}

.attachment_item img {
    height: 90%;
    min-height: 90%;
    width: 100%;
}

.attachment_item_title {
    height: 10%;
    background-color: #ecf0f5;
    text-align: center;
    padding: 0 5px;
    overflow: hidden;
}

.attachment_item_title p {
    overflow: hidden;
}
.checkbox {
    display: none;
    width: 20px;
    height: 20px;
    border: 1px solid #0069d9;
    background-color: #fff;
    position: absolute;
    top: 3px;
    right: 4px;
}
.checkbox i{
    position: relative;
    font-size:18px;
    top:-3px;
    font-weight: bold;
}
.attachment_item input[type="checkbox"],video-card input[type="checkbox"] {
    visibility: hidden;
}
/*.attachment_item:hover .checkbox*/
.attachment_item.checked .checkbox,.video-card.checked .checkbox{
    display: block;
}
.attachment_item.checked .checkbox i,.attachment_item:hover .checkbox i,
.video-card.checked .checkbox i,.video-card:hover .checkbox i{
    color:#0069d9;
}
#deleteGroup{
    display: none;
    padding-bottom: 1.2rem;
}
.item-checkbox {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.custom-file-input:lang(zh) ~ .custom-file-label::after {
    content: "浏览";
}

.custom-file-label::after {
    content: "浏览";
}
