a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, 微软雅黑, STHeitiSC-Light, simsun, 宋体, WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    box-sizing: border-box
}

body {
    background-color: #f3f5f8;
}

[class*=sidebar-dark] .nav-legacy .nav-treeview > .nav-item > .nav-link.active {
    background: #007bff 0;
    color: #fff;
}
 body .main-header{
    border:none;
}

table td{
    white-space:normal;
}

.nav-link > .fa-circle{
    font-size: 10px;
}

.form-text {
    display: block;
    margin-top: .5rem;
}

.nav-link >i{
    margin-left:.75rem;
    margin-right: .75rem;
    width: 16px;
}

.menu-open > :first-child.active >i{
    margin-left:calc(.75rem - 3px);
}

.sidebar{
    overflow-y: unset;
}

.sidebar-dark-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
    border-color: #fff;
}

[class*=sidebar-dark-] {
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.card-body.p-0 .table tbody > tr > td:first-of-type, .card-body.p-0 .table tbody > tr > th:first-of-type, .card-body.p-0 .table thead > tr > td:first-of-type, .card-body.p-0 .table thead > tr > th:first-of-type {
    padding-left: 0.75rem;
}

.card-body.p-0 .table tbody > tr > td:last-of-type, .card-body.p-0 .table tbody > tr > th:last-of-type, .card-body.p-0 .table thead > tr > td:last-of-type, .card-body.p-0 .table thead > tr > th:last-of-type {
    padding-right: 0.75rem;
}

.table {
    width: 100%;
    margin-bottom: 0;
}

th, td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(240, 240, 240);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}

.projects th {
    vertical-align: middle;
}

.nav-item {
    line-height: 1.8rem;
}

.nav-sidebar .nav-treeview {
    padding: 10px 0;
}

.sidebar-mini .nav-legacy > .nav-item .nav-link .nav-icon,
.nav-legacy.nav-sidebar > .nav-item > .nav-link > .nav-icon {
    font-size: 10px;
}

.btn-group > .active {
    background-color: #e9ecef;
    color: #2b2b2b;
}

.main-footer.text-sm {
    background: #f4f6f9;
    border-top: 1px solid #f4f6f9;
    color: #869099;
    padding: 1rem;
}

.form-group-check {
    display: flex;
    align-items: center;
    margin-left: 0;
}

h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

table > thead {

}
.page-item.active .page-link{
    background-color: #eee;
    border-color: #dee2e6;
    color:#666;
}
.table thead th{

    border:none;
}
.pagination li,.pagination .form-control{
    font-size:14px;
}

table a{
    color:#212529;
}

.bottom-content-buybtn a{
    display: block;
    width: 6rem;
    text-align: center;
}
.price-sum div{
    display: flex;
    align-items: center;
}
.select-all{
    margin-right:10px;
}
.col-form-label {
    display: flex;
    justify-content: flex-end;
}

.form-header {
    padding-bottom: 9px;
    padding-left: 20px;
    margin: 40px 0 30px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
}

.form-table-header {
    padding-bottom: 9px;
    padding-left: 20px;
    margin: 40px 0 10px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.admin-actions {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.admin-search-panel {
    padding-top: 20px;

}

tr.selected {
    background-color: #e4efff !important;
}

tr.selected:hover {
    background-color: #d6e4ff !important;
}

tbody > tr > th, td:focus {
    outline: none;
}

.switchery-small {
    margin-top: 7px;
}

.form-check > .switchery-small {
    margin-top: 0;
}

.form-check {
    padding: 0.55rem 0 0 1.25rem;
}

.dataTables_empty {
    text-align: center;
}

.input-action-btn {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.input-action > .form-control:disabled, .input-action > .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.input-group > .form-control:disabled, .input-group > .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.pagination-total-text{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    line-height: 40px;
    margin-right: 8px;
}
.pagination-pagesize{
    width: 105px;
    margin-left: 8px;
}


.jp-action-card {
    min-height: 25px;
    line-height: 25px;
}

.jp-action-body {
    display: none;
}

.jp-action-body a {
    font-size: 13px;
    font-weight: 400;
    color: #006505;
}

.red-action {
    color: #a00 !important;
}

.editable-container{
    z-index: 99999;
}
/*checkout*/
.checkout-table .form-group{
    display: flex;
    align-items: center;
}
.checkout-table .group-line{
    width: 80%;
    margin-left:2%;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.group-code{
    width: 30%;
}

.checkout-table .address-lable{
    width: 8%;
    font-weight: 400;
    font-size: 14px;
}
label:not(.form-check-label):not(.custom-file-label){
    font-weight: 400;
}
.group-line .form-control{
    margin-right:10px;
    font-size: 14px;
}
.price-color{
    color:#dc3545;
    font-weight: 500;
}
.jpress-empty-cart{
    background-color: #f4f6f9;
    height: 60px;
    align-items: center;
    color: #999;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dropdown-item-title{
    font-size: 14px;
    line-height: 1.6em;
}
.cart-description{
    font-size: 12px;
    color:#999;
    line-height: 1.2em;
}

.datepicker--day-name {
    color: #007bff;
}

.datepicker--cell.-current- {
    color: #007bff;
    font-weight: 700;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
    color: #fff;
    background: #007bff;
}
 .datepicker--cell.-selected-.-focus-{
    color: #fff;
    background: #007bff;
}