#include("layout.html")
#@layout("支付成功")

#define css()
<style>
    .pay-content-failmsg {
        font-size: 14px;
        color: #666;
        line-height: 25px;
    }
</style>
#end

#define content()

<div class="pay-header" style="background-color: #00a65a">
    支付成功
</div>

<div class="row pay-content">
    <div class="col-lg-12 pay-content-info">
        <div class="pay-content-title" style="padding: 30px 0 0 0">
            <i class="fa fa-fw fa-check-circle" style="color: #00a65a;font-size: 65px"></i>
        </div>
        <div class="pay-content-title" style="padding: 10px 0 30px 0">
            支付成功
        </div>
        <div class="pay-content-failmsg">
            #if(payment)
            金额：#number(payment.pay_amount,'0.00') 元 <br/>
            编号：#(payment.trx_no ??) <br/>
            #end
        </div>
        <div style="padding: 60px">
            #if("recharge" == payment.trx_type)
            <a href="#(CPATH)/ucenter/finance/amount" class="btn btn-success btn-flat"> 查看我的余额 </a>
            #elseif("member" == payment.trx_type)
            <a href="#(CPATH)/ucenter/member" class="btn btn-success btn-flat"> 查看我的会员 </a>
            #else
            <a href="#(CPATH)/ucenter/order" class="btn btn-success btn-flat"> 查看我的订单 </a>
            #end
        </div>
    </div>
</div>
#end
