#include("layout.html")
#@layout("支付宝扫一扫付款")

#define css()
<style>
    .message-box{
        padding: 30px;
        font-size: 16px;
        color: #000;
    }
</style>
#end

#define content()
<div class="pay-header">
    请使用支付宝扫码支付
</div>

<div class="row pay-content">
    <div class="col-lg-6 pay-content-info">
        <div class="pay-content-title">
            支付宝扫一扫付款
        </div>
        <div class="pay-content-money">
            ￥ #number(payment.pay_amount,'0.00') 元
        </div>
        <div class="pay-content-qrcode">
            <img src="#(payConfig.qrcode ?? (CPATH + '/static/commons/img/pay-qrcode.png'))"/>
        </div>
    </div>
    <div class="col-lg-6 pay-content-img">
        <img src="#(CAPTH)/static/commons/img/pay-ali.png"/>
    </div>

    #if(payConfig && payConfig.message)
    <div class="col-lg-12 message-box" >
        #(payConfig.message)
    </div>
    #end


</div>
#end
